<% unless post.review == "bookmark" %>
	<% if @list = List.find_by(user_id: current_user.id, title: "お気に入り") %>
	    <% if @list_item = ListItem.find_by(list_id: @list.id, post_id: post.id) %>
	    	<%= link_to "/#{post.id}/destroy_favorite", method: :post, remote: true do %>
				<div class="btn_half_item">
				<%= image_tag "star_F8C55A.svg", :style =>'vertical-align:middle;width:20px;height:20px;margin:-5px 10px 0 0;opacity:0.7;' %>
				お気に入りから削除
				</div>
			<% end %>
	    <% else %>
	    	<%= link_to "/#{post.id}/create_favorite", method: :post, remote: true do %>
				<div class="btn_half_item">  
				<%= image_tag "star_FAFAFA.svg", :style =>'vertical-align:middle;width:20px;height:20px;margin:-5px 10px 0 0;opacity:0.7;' %>
				お気に入りに追加
				</div>
			<% end %>
	    <% end %>
	<% else %>
		<%= link_to "/#{post.id}/create_favorite", method: :post, remote: true do %>
			<div class="btn_half_item">  
				<%= image_tag "star_FAFAFA.svg", :style =>'vertical-align:middle;width:20px;height:20px;margin:-5px 10px 0 0;opacity:0.7;' %>
				お気に入りに追加
			</div>
		<% end %>
	<% end %>
<% end %>