<div class="main">
  <div class="block_side">
  </div>
  <div class="block_main">
    
    <div style="height:50px;"></div>
    <div class="base03">
      <span>
        <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
        <div class="layer06">
          <div class="form01">
           <label for="image">
              <div class="preview00">
                <div class="preview01">
                  <% if current_user.image %>
                    <%= image_tag current_user.image, :class => "img_user02" %>
                  <% else %>
                    <%= image_tag "user04.png", :class =>'img_user02' %>
                  <% end %>
                  <span><i class="fas fa-plus-circle"></i></span>
                </div>
              </div>
              <div class="preview02">
              </div>
            </label>
            <%= f.file_field :image, id:"image" %>
          </div>
          <div class="gogo" style="margin-top:-3vh;">
              <%= f.text_field :name,placeholder: "name", required: "" %>
              <%= f.email_field :email,placeholder: "email", required: "" %>
              <div class="font_white">
                (パスワードを変更時のみ下欄を埋めてください)
              </div>
              <%= f.password_field :password,placeholder: "password" %>
              <%= f.password_field :password_confirmation,:placeholder => 'password confirmation' %>
              <div style="height:2vh;"></div>
              <%= f.submit "完了",class:"btn_session" %>
              <div style="height:10vh;"></div>
          </div>
        </div>
        <% end %>
      </span>
    </div>

  </div>
  <div class="block_side">
  </div>
</div>


<script type="text/javascript">
  $(function(){
  //画像ファイルプレビュー表示のイベント追加 fileを選択時に発火するイベントを登録
  $('form').on('change', 'input[type="file"]', function(e) {
    var file = e.target.files[0],
        reader = new FileReader(),
        $preview00 = $(".preview00");
        $preview02 = $(".preview02");
        t = this;

    // 画像ファイル以外の場合は何もしない
    if(file.type.indexOf("image") < 0){
      return false;
    }

    // ファイル読み込みが完了した際のイベント登録
    reader.onload = (function(file) {
      return function(e) {
        //既存のプレビューを削除
        $preview00.empty();
        //既存のプレビューを削除
        $preview02.empty();
        // .prevewの領域の中にロードした画像を表示するimageタグを追加
        $preview02.append($('<img>').attr({
                  src: e.target.result,
                  class: "img_user02",
                  title: file.name
              }));
      };
    })(file);

    reader.readAsDataURL(file);
  });
});

</script>
