<div class="main">
  <div class="block_side">
  </div>
  <div class="block_main">
    
    <div style="height:50px;"></div>
    <div class="base01">
      <span>
        <div class="layer06">
          <div class="font_white_big">
            Sign up
          </div>
          <div class="gogo">
            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
              <%= f.text_field :name,placeholder: "name", required: "", autofocus: true %>
              <%= f.email_field :email,placeholder: "email", required: "" %>
              <%= f.password_field :password,placeholder: "password", required: "" %>
              <%= f.password_field :password_confirmation,:placeholder => 'password confirmation', required: "" %>
              <div style="height:5vh;"></div>
                    <%= f.submit "完了",class:"btn_session" %>
            <% end %>
          </div>
        </div>
      </span>
    </div>

  </div>
  <div class="block_side">
  </div>
</div>
