<% if user_signed_in? %>
	<% if current_user?(@user) %>
		<div class="inline_block_top">
			<%= link_to edit_user_registration_path do %>
				<div class="btn_follow_on inline_block_middle">
					編集
				</div>
			<% end %>
		</div>
	<% else %>
		<% if current_user.following?(@user) %>
			<div class="inline_block_top">
				<%= form_for(current_user.following_relationships.find_by(following_id: @user.id), data: { confirm: 'フォローを解除しますか？' }, html: { method: :delete }, remote: true) do |f| %>
					<button>
						<div class="btn_follow_on inline_block_middle">
							フォロー中
						</div>
					</button>
				<% end %>
			</div>
		<% else %>
			<%= form_for(current_user.following_relationships.build(following_id: @user.id), remote: true) do |f| %>
			  <%= f.hidden_field :following_id %>
			  <%= f.submit "フォロー", class: "btn_follow_off" , style: "letter-spacing:1px;" %>
			<% end %>
		<% end %>
	<% end %>
<% else %>
	<%= link_to new_user_session_path do %>
		<div class="btn_follow_off inline_block_middle">
			フォロー
		</div>
	<% end %>
<% end %>