<% if current_user.following?(@user) %>
	<%= form_for(current_user.following_relationships.find_by(following_id: @user.id), data: { confirm: 'フォローを解除しますか？' }, html: { method: :delete }, remote: true) do |f| %>
		<%= f.submit "フォロー中", class: "btn_follow_on" %>
	<% end %>
<% else %>
	<% if current_user.requesting?(@user) %>
		<%= form_for(current_user.requesting_follow_requests.find_by(requesting_id: @user.id), data: { confirm: 'リクエストを取り消しますか？' }, html: { method: :delete }, remote: true) do |f| %>
			<%= f.submit "フォロー申請中", class: "btn_follow_now" %>
		<% end %>
	<% else %>
		<%= form_for(current_user.requesting_follow_requests.build(requesting_id: @user.id), remote: true) do |f| %>
			<div>
				<%= f.hidden_field :requesting_id %>
			</div>
			<%= f.submit "フォロー申請", class: "btn_follow_off" %>
		<% end %>
	<% end %>
<% end %>