<% if current_user?(@user) %>
	<%= link_to "/users/#{@user.id}/collection", :style => "display:inline-block;vertical-align:top;margin:0 5px;" do %>
		<div class="btn_follow_on">
			<%= image_tag "test44.png", :style =>'width:16px;height:16px;margin-top:-3.5px;' %>&nbsp;&nbsp;投稿へ
		</div>
	<% end %>
	<div style="display:inline-block;vertical-align:top;">
		<%= link_to "/users/configuration" do %>
			<div class="btn_follow_on" style="padding-left:1.0em;padding-right:1.0em;">
				<%= image_tag "test53.png", :style =>'width:14px;height:14px;margin-top:-2px' %>				
			</div>
		<% end %>
	</div>
<% else %>
	<% if current_user.following?(@user) %>
		<%= link_to "/users/#{@user.id}/collection", :style => "display:inline-block;vertical-align:top;margin:0 5px;" do %>
			<div class="btn_follow_on">
				<%= image_tag "test44.png", :style =>'width:16px;height:16px;margin-top:-3.5px;' %>&nbsp;&nbsp;投稿へ
			</div>
		<% end %>
		<div style="display:inline-block;vertical-align:top;">
			<%= form_for(current_user.following_relationships.find_by(following_id: @user.id), data: { confirm: 'フォローを解除しますか？' }, html: { method: :delete }, remote: true) do |f| %>
				<button>
					<div class="btn_follow_on" style="padding-left:1.0em;padding-right:1.0em;">
						<%= image_tag "checked.png", :style =>'width:13px;height:13px;margin-top:-1px;' %>		
					</div>
				</button>
			<% end %>
		</div>
	<% else %>
		<%= form_for(current_user.following_relationships.build(following_id: @user.id), remote: true) do |f| %>
		  <%= f.hidden_field :following_id %>
		  <%= f.submit "フォローする", class: "btn_follow_off" %>
		<% end %>
	<% end %>
<% end %>