<% if current_user?(@user) %>
	<%= link_to "/#{@user.username}/posts", :style => "display:inline-block;vertical-align:top;margin:0 5px;" do %>
		<div class="btn_follow_on">
			<%= image_tag "bag_white.png", :style =>'width:16px;height:16px;margin-top:-3.5px;' %>&nbsp;&nbsp;投稿へ
		</div>
	<% end %>
	<div class="inline_block_top">
		<%= link_to configuration_path do %>
			<div class="btn_follow_on" style="padding-left:1.0em;padding-right:1.0em;">
				<%= image_tag "control_white.png", :style =>'width:14px;height:14px;margin-top:-2px' %>				
			</div>
		<% end %>
	</div>
<% else %>
	<% if current_user.following?(@user) %>
		<%= link_to "/#{@user.username}/posts", :style => "display:inline-block;vertical-align:top;margin:0 5px;" do %>
			<div class="btn_follow_on">
				<%= image_tag "bag_white.png", :style =>'width:16px;height:16px;margin-top:-3.5px;' %>&nbsp;&nbsp;投稿へ
			</div>
		<% end %>
		<div class="inline_block_top">
			<%= form_for(current_user.following_relationships.find_by(following_id: @user.id), data: { confirm: 'フォローを解除しますか？' }, html: { method: :delete }, remote: true) do |f| %>
				<button>
					<div class="btn_follow_on" style="padding-left:1.0em;padding-right:1.0em;">
						<%= image_tag "checked_white.png", :style =>'width:13px;height:13px;margin-top:-1px;' %>		
					</div>
				</button>
			<% end %>
		</div>
	<% else %>
		<%= form_for(current_user.following_relationships.build(following_id: @user.id), remote: true) do |f| %>
		  <%= f.hidden_field :following_id %>
		  <%= f.submit "フォローする", class: "btn_follow_off" %>
		<% end %>
		<% unless @info.blank? %>
			<div style="font-size:10px;color:red;margin-top:5px;">
				<%= @info %>
			</div>
		<% end %>
	<% end %>
<% end %>