<% if params[:q].present? %>
  <%#itunesの検索結果%>
  <% if @items_itunes.present? %>
    <% @items_itunes.each.with_index(1) do |item, i| %>
      <%= form_tag(works_book_detail_path, method: :get) do %>
        <% if item["genres"].include?("マンガ") %>
          <%= hidden_field_tag :type, "comic" %>
        <% else %>
          <%= hidden_field_tag :type, "book" %>
        <% end %>
        <%= hidden_field_tag :id, item["trackId"] %>
        <%= hidden_field_tag :api, "itunes" %>
        <button type="submit">
          <div class="box_tests02">
            <div class="inline_block_middle" style="width:20%;">
              <% if item["artworkUrl100"].blank? %>
                <img data-src="/assets/nothing03.jpg" class="img_tavore lazyload">
              <% else %>
                <% @image_url = item["artworkUrl100"] %>
                <% @image_url = @image_url.sub(/100x100bb/, '200x200bb') %>
                <img data-src="<%= @image_url %>" class="img_tavore lazyload">
              <% end %>
            </div>
            <div class="inline_block_middle" style="width:75%;padding:0px 20px;">
              <div class="contain_title">
                <div class="font_white_big">
                  <%= item["trackCensoredName"] %>  
                </div>
              </div>
              <div class="contain_title02">
                <div class="font_gray">
                  <%= item["artistName"] %>
                </div>
              </div>
              <div class="contain_title02">
                <div class="font_gray">
                  ebook
                </div>
              </div>
            </div>
            <div class="inline_block_middle" style="width:5%;">
              <img data-src="/assets/right_C2C2C2.svg" class="lazyload" style="width:15px;height:15px;">
            </div>
          </div>
        </button>
      <% end %>
    <% end %>
  <% end %>
  <%#楽天の検索結果%>
  <% if @items_rakuten.present? %>
    <% @items_rakuten.each do |item| %>
      <%= form_tag(works_book_detail_path, method: :get) do %>
        <% if item["size"] == "コミック" %>
          <%= hidden_field_tag :type, "comic" %>
        <% else %>
          <%= hidden_field_tag :type, "book" %>
        <% end %>
        <%= hidden_field_tag :id, item["isbn"] %>
        <%= hidden_field_tag :api, "rakuten" %>
        <button type="submit">
          <div class="box_tests02">
            <div class="inline_block_middle" style="width:20%;">
              <% if item["largeImageUrl"].blank? %>
                <img data-src="/assets/nothing02.jpg" class="img_tavore lazyload">
              <% else %>
                <% @image_url = item["largeImageUrl"] %>
                <img data-src="<%= @image_url %>" class="img_tavore lazyload">
              <% end %>
            </div>
            <div class="inline_block_middle" style="width:75%;padding:0px 20px;">
              <div class="contain_title">
                <div class="font_white_big">
                  <%= item["title"] %> 
                </div>
              </div>
              <div class="contain_title02">
                <div class="font_gray">
                  <%= item["author"] %>
                </div>
              </div>
            </div>
            <div class="inline_block_middle" style="width:5%;">
              <img data-src="/assets/right_C2C2C2.svg" class="lazyload" style="width:15px;height:15px;">
            </div>
          </div>
        </button>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <%#itunesでのdefault%>
  <% if @defaults.present? %>
    <% @defaults.each.with_index(1) do |item, i| %>
      <%= form_tag(works_book_detail_path, method: :get) do %>
        <% if item["genres"].include?("マンガ") %>
          <%= hidden_field_tag :type, "comic" %>
        <% else %>
          <%= hidden_field_tag :type, "book" %>
        <% end %>
        <%= hidden_field_tag :id, item["trackId"] %>
        <%= hidden_field_tag :api, "itunes" %>
        <button type="submit">
          <div class="box_tests02">
            <div class="inline_block_middle" style="width:20%;">
              <% if item["artworkUrl100"].blank? %>
                <img data-src="/assets/nothing03.jpg" class="img_tavore lazyload">
              <% else %>
                <% @image_url = item["artworkUrl100"] %>
                <% @image_url = @image_url.sub(/100x100bb/, '200x200bb') %>
                <img data-src="<%= @image_url %>" class="img_tavore lazyload">
              <% end %>
            </div>
            <div class="inline_block_middle" style="width:75%;padding:0px 20px;">
              <div class="contain_title">
                <div class="font_white_big">
                  <%= item["trackCensoredName"] %>  
                </div>
              </div>
              <div class="contain_title02">
                <div class="font_gray">
                  <%= item["artistName"] %>
                </div>
              </div>
              <div class="contain_title02">
                <div class="font_gray">
                  ebook
                </div>
              </div>
            </div>
            <div class="inline_block_middle" style="width:5%;">
              <img data-src="/assets/right_C2C2C2.svg" class="lazyload" style="width:15px;height:15px;">
            </div>
          </div>
        </button>
      <% end %>
    <% end %>
  <% end %>
 <% end %>

 <%#lazyload.js%>
<script defer>
  $(function() {
    $('img.lazyload').lazyload();
  });
</script>