<% if params[:q].present? %>
  <%#検索結果%>
  <% if @items.present? %>
    <% @items.each.with_index(1) do |item, i| %>
      <%= form_tag(works_music_detail_path, method: :get) do %>
      <%= hidden_field_tag :type, "music" %>
      <%= hidden_field_tag :id, item["trackId"] %>
        <button type="submit">
          <div class="box_tests02">
            <div class="inline_block_middle" style="width:20%;">
              <% if item["artworkUrl100"].blank? %>
                <img data-src="/assets/nothing03.jpg" class="img_tavore lazyload">
              <% else %>
                <% @image_url = item["artworkUrl100"] %>
                <img data-src="<%= @image_url %>" class="img_tavore lazyload">
              <% end %>
            </div>
            <div class="inline_block_middle" style="width:75%;padding:0px 20px;">
              <div class="contain_title">
                <div class="font_white_big">
                  <%= item["trackCensoredName"] %>  
                </div>
              </div>
              <div class="contain_title">
                <div class="font_gray">
                  <%= item["artistName"] %>
                </div>
              </div>
            </div>
            <div class="inline_block_middle" style="width:5%;">
              <%= image_tag "right_gray.png", :style =>'width:15px;height:15px;' %>
            </div>
          </div>
        </button>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <%#default%>
  <% if @defaults.present? %>
    <% @defaults.each.with_index(1) do |item, i| %>
      <%= form_tag(works_music_detail_path, method: :get) do %>
      <%= hidden_field_tag :type, "music" %>
      <%= hidden_field_tag :id, item["trackId"] %>
        <button type="submit">
          <div class="box_tests02">
            <div class="inline_block_middle" style="width:20%;">
              <% if item["artworkUrl100"].blank? %>
                <img data-src="/assets/nothing03.jpg" class="img_tavore lazyload">
              <% else %>
                <% @image_url = item["artworkUrl100"] %>
                <img data-src="<%= @image_url %>" class="img_tavore lazyload">
              <% end %>
            </div>
            <div class="inline_block_middle" style="width:75%;padding:0px 20px;">
              <div class="contain_title">
                <div class="font_white_big">
                  <%= item["trackCensoredName"] %>  
                </div>
              </div>
              <div class="contain_title02">
                <div class="font_gray">
                  <%= item["artistName"] %>
                </div>
              </div>
            </div>
            <div class="inline_block_middle" style="width:5%;">
              <%= image_tag "right_gray.png", :style =>'width:15px;height:15px;' %>
            </div>
          </div>
        </button>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%#lazyload.js%>
<script defer>
  $(function() {
    $('img.lazyload').lazyload();
  });
</script>