<% if params[:q].present? %>
  <%#検索結果%>
  <% if @items.present? %>
    <% @items.each.with_index(1) do |item, i| %>
      <%= form_tag(works_music_detail_path, method: :get) do %>
      <%= hidden_field_tag :type, "music" %>
      <%= hidden_field_tag :id, item["trackId"] %>
        <button type="submit">
          <div class="box_tests02">
            <div class="pro09">
              <% if item["artworkUrl100"].blank? %>
                <img data-src="/assets/nothing03.jpg" class="img_lavoro03 lazyload">
              <% else %>
                <% @image_url = item["artworkUrl100"] %>
                <img data-src="<%= @image_url %>" class="img_lavoro03 lazyload">
              <% end %>
            </div>
            <div class="pro10">
              <span class="font_white_big">
                <%= item["trackCensoredName"] %>  
              </span>
              <br>
              <span class="font_gray">
                <%= item["artistName"] %>
              </span>
            </div>
            <div class="pro11">
              <span class="font_gray_max">
                <i class="fas fa-chevron-right"></i>
              </span>
            </div>
          </div>
        </button>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <%#default%>
  <% if @defaults.present? %>
    <% @defaults.each.with_index(1) do |item, i| %>
      <%= form_tag(works_music_detail_path, method: :get) do %>
      <%= hidden_field_tag :type, "music" %>
      <%= hidden_field_tag :id, item["trackId"] %>
        <button type="submit">
          <div class="box_tests02">
            <div class="pro09">
              <% if item["artworkUrl100"].blank? %>
                <img data-src="/assets/nothing03.jpg" class="img_lavoro03 lazyload">
              <% else %>
                <% @image_url = item["artworkUrl100"] %>
                <img data-src="<%= @image_url %>" class="img_lavoro03 lazyload">
              <% end %>
            </div>
            <div class="pro10">
              <span class="font_white_big">
                <%= item["trackCensoredName"] %>  
              </span>
              <br>
              <span class="font_gray">
                <%= item["artistName"] %>
              </span>
            </div>
            <div class="pro11">
              <span class="font_gray_max">
                <i class="fas fa-chevron-right"></i>
              </span>
            </div>
          </div>
        </button>
      <% end %>
    <% end %>
  <% end %>
<% end %>

<%#lazyload.js%>
<script defer>
  $(function() {
    $('img.lazyload').lazyload();
  });
</script>