<% if @post.preview_url.present? %>
	<style type="text/css">
		#btn_preview {
	    display: block;
	    width: 32px;
	    height: 32px;
	    background: rgba(50,50,50,0.7);
	    text-align: center;
	    border-radius: 50%;
	    cursor: pointer;
	    line-height: 32px;
	    vertical-align: middle;
	    font-size: 8px;
	    padding-left:1px;
		}
	</style>
	<audio id="audio" controls preload="none" style="display:none;">
		<source src="<%= @post.preview_url %>" type="audio/mpeg"></source>
	</audio>
	<script defer>
		$(function(){
	  	  var audio = document.getElementById('audio');
		  $('#btn_preview').on("click",function(){
		    if($("#icon_play").hasClass('fa-play'))
		     {
		       $("#icon_play").removeClass('fa-play');
		       $("#icon_play").addClass('fa-pause');
		       audio.play();
		     }
		    else
		     {
		       $("#icon_play").removeClass('fa-pause');
		       $("#icon_play").addClass('fa-play');
		       audio.pause();
		     }
		  });
		  audio.onended = function() {
		    $("#icon_play").removeClass('fa-pause');
		    $("#icon_play").addClass('fa-play');
		  };
	  	});				
		</script>
<% end %>

<div class="bar_post">			
	<div style="">
		<div class="pro13">
			<div style="text-align:left;">
				<a href="javascript:void(0);" onclick="window.history.back();">
		        	<%= image_tag "left-arrow.png", :style =>'width:15px;height:15px;' %>
		        </a>										
			</div>
		</div>
		<div class="pro14">
			<div class="contain_title02" style="text-align:center;">
				<div style="font-size:14px;color:#c2c2c2;">
					<%= @post.title %>
				</div>
			</div>
		</div>
		<div class="pro15">
			<button id="btn_post" style="text-align:right;padding-right:15px;font-size:15px;color:#2FB4B4;">		
				投稿		
			</button>
		</div>
	</div>
</div>

<div class="main">
	<div class="block_side">
	</div>
	<div class="block_main">
		<div class="a1">
          <div class="a4">
            <div class="d1">
              <% if @post.image_url.blank? %>
              	<% if @post.category == "music" %>
					<%= image_tag "nothing03.jpg", :class =>'img_myboom_blur' %>
				<% else %>
					<%= image_tag "nothing01.jpg", :class =>'img_myboom_blur' %>
				<% end %>
              <% else %>
              	<% if @post.category == "music" %>
					<%= image_tag @post.image_url, :class =>'img_myboom_blur' %>
				<% else %>
					<%= image_tag @post.image_url, :class =>'img_myboom_blur' %>
				<% end %>
              <% end %>
              <div class="d3"></div>
            </div>
          </div>
          <div class="a5">
			<%= form_tag(works_save_path, method: :post, :name => "myform") do %>
				<%= hidden_field_tag :category, @post.category %>
				<%= hidden_field_tag :title, @post.title %>
				<%= hidden_field_tag :work_id, @post.work_id %>
				<% if @post.api.present? %>
					<%= hidden_field_tag :api, @post.api %>
				<% end %>
				<% if @post.preview_url.present? %>
					<%= hidden_field_tag :preview_url, @post.preview_url %>
				<% end %>
				<div style="height:50px;"></div>
				<div style="height:40px;"></div>
				<div style="height:3vh;"></div>						
				<div class="nmn03" style="text-align:center;width:100%;padding:0px;margin:0 auto;">
					<div style="display:inline-block;">
					    <%= radio_button_tag(:review, "bookmark", true, {:id => "bookmark"}) %>
					    <label for="bookmark" class="radio">
					    	<i class="far fa-bookmark"></i> ブックマーク
					    </label>
				    </div>
				    <div style="display:inline-block;">
					    <%= radio_button_tag(:review, "good", false, {:id => "good"}) %>
					    <label for="good" class="radio">
					    	<% if @post.category == "movie" || @post.category == "tv" %>
								観ました
							<% end %>
							<% if @post.category == "book" || @post.category == "comic" %>
								読みました
							<% end %>
							<% if @post.category == "music" %>
								聴きました
							<% end %>
					    </label>
				    </div>
				    <div style="height:1.5vh;"></div>
				    <div style="display:inline-block;">
						<%= radio_button_tag(:review, "favorite", false, {:id => "favorite"}) %>
					    <label for="favorite"><i class="fas fa-star" style="color:rgba(252,228,4,0.7);"></i>おすすめ</label>
					</div>
				    <div style="display:inline-block;">
					    <%= radio_button_tag(:review, "bad", false, {:id => "bad"}) %>
					    <label for="bad" class="radio"><i class="fas fa-ban" style="color:rgba(236,12,28,0.7);"></i> おすすめしない</label>
				    </div>
				</div>
				<div style="height:1.5vh;"></div>
				<div class="nmn02" style="text-align:center;width:90%;padding:10px;margin:0 auto;">
					<textarea name="description" id="textarea" placeholder="何か書く" wrap="hard"></textarea>
				</div>
				<div style="height:1.5vh;"></div>
				<% if @post.category == "movie" || @post.category == "tv" %>
					<div style="text-align:center;width:100%;margin:0 auto;">
						<div class="horizontal_scroll">
							<% if @posters.present? %>
								<% @posters.each.with_index(1) do |poster, i| %>
									<% if @post.image_url == "https://image.tmdb.org/t/p/original/#{poster.file_path}" %>
										<div class="scroll_item04">
											<div class="radio01">
												<%= radio_button_tag(:image_url, "https://image.tmdb.org/t/p/original/#{poster.file_path}", true, {:id => "image_url#{i}"}) %>
												<label for="image_url<%= i %>">
													<%= image_tag "https://image.tmdb.org/t/p/original/#{poster.file_path}", :class =>'img_tavore01' %>
												</label>
											</div>
										</div>
									<% else %>
										<div class="scroll_item04">
											<div class="radio01">
												<%= radio_button_tag(:image_url, "https://image.tmdb.org/t/p/original/#{poster.file_path}", false, {:id => "image_url#{i}"}) %>
												<label for="image_url<%= i %>">
													<%= image_tag "https://image.tmdb.org/t/p/original/#{poster.file_path}", :class =>'img_tavore01' %>
												</label>
											</div>
										</div>
									<% end %>
								<% end %>
							<% else %>
								<%= image_tag @post.image_url, :class =>'img_lavoro05' %>
							<% end %>
						</div>
					</div>
				<% else %>
					<div style="text-align:center;width:100%;margin:0 auto;">
						<% if @post.category == "music" %>
							<div style="text-align:center;width:60%;margin:0 auto;">
								<div class="pile_preview">								
									<%= image_tag @post.image_url, :class =>'img_lavoro03' %>		
									<% if @post.preview_url.present? %>
										<div id="btn_preview">
											<i id="icon_play" class="fas fa-play"></i>
										</div>
									<% end %>
								</div>
							</div>	
						<% else %>
							<%= image_tag @post.image_url, :class =>'img_lavoro05' %>
						<% end %>
						<%= hidden_field_tag :image_url, @post.image_url %>
					</div>
				<% end %>			
			<% end %>
		  </div>
		</div>
	</div>
	<div class="block_side">
	</div>
</div>


<%#テキストエリアの自動改行%>
<script defer>
	$(function() {
	  var $textarea = $('#textarea');
	  var lineHeight = parseInt($textarea.css('lineHeight'));
	  $textarea.on('input', function(e) {
	    var lines = ($(this).val() + '\n').match(/\n/g).length;
	    $(this).height(lineHeight * lines);
	  });
	});
</script>

<%#投稿ボタンボタン%>
<script defer>
	$('#btn_post').click(function() {
		document.myform.submit();
	});
</script>
