<div style="height:45px;"></div>
<%#壁紙%>
<div class="wallpaper" style="top:45px;height:calc(100vh - 45px);">
	<div class="a1">
		<div class="a4">
	        <div class="d1">
	          	<% if @post.image_url.blank? %>
					<%= image_tag "nothing01.jpg", :class =>'img_myboom_blur' %>
				<% else %>
					<% if @post.category == "movie" || @post.category == "tv" %>
						<% @poster_show = @post.image_url.sub(/original/, 'w500') %>
					<% end %>
					<% if @post.category == "book" || @post.category == "comic" %>
						<% if @post.api == "itunes" %>
							<% @poster_show = @post.image_url.sub(/1000x1000bb/, '500x500bb') %>
						<% else %>
							<% @poster_show = @post.image_url.sub(/jpg/, 'jpg?_ex=500x500') %>
						<% end %>
					<% end %>
					<% if @post.category == "music" %>
						<% @poster_show = @post.image_url.sub(/1000x1000bb/, '500x500bb') %>
					<% end %>							
					<%= image_tag @poster_show, :class =>'img_myboom_blur' %>
				<% end %>
				<div class="d2" style="background:rgba(0,0,0,0.8);"></div>
	        </div>
	  	</div>
	</div>
</div>
<%#作品情報%>
<div style="height:20px;"></div>
<div style="">
    <div class="inline_block_middle" style="width:50%;text-align:left;">
      	<div style="padding-left:15px;font-size:18px;">
        	Works              
      	</div>
    </div>
    <div class="inline_block_middle" style="width:50%;text-align:right;">
    	<div style="padding-right:20px;">
      		<a href="javascript:void(0);" onclick="window.history.back();">
				<%= image_tag "cross_FAFAFA.svg", :style =>'width:16px;height:16px;;opacity:0.4;' %>
			</a>             
      	</div>
    </div>
</div>
<div style="padding:12px 20px;">
	<div class="inline_block_middle" style="width:40%;padding-right:10px;text-align:left;">		
	<% if @post.image_url.blank? %>
		<%= image_tag "nothing01.jpg", :class =>'img_tavore' %>
	<% else %>
		<% if @post.category == "music" %>
			<div class="pile_preview">
				<%= image_tag @poster_show, :class =>'img_tavore' %>
				<div class="btn_preview_min" id="btn_preview">
					<%= image_tag "play_FAFAFA.svg", :id =>'icon_play', :style =>'width:9px;height:9px;margin-left:0.5px;' %>
				</div>
			</div>
		<% else %>													
			<%= image_tag @poster_show, :class =>'img_tavore' %>					
		<% end %>
	<% end %> 				
	</div>
	<div class="inline_block_middle" style="width:60%;padding:0 10px;text-align:left;">
		<div class="font_white_big">
			<%= @post.title %>
		</div>
		<% if @detail01.present? %>
			<div class="contain_title">
			<div style="font-size:12px;color:#999999;">
				<%= @detail01 %>
			</div>
		</div>
	<% end %>
		<% if @detail02.present?  %>
			<div class="contain_title">
			<div style="font-size:12px;color:#999999;">
				<%= @detail02 %>
			</div>
		</div>
	<% end %>          				
		<% if @detail03.present?  %>
			<div class="contain_title">
			<div style="font-size:12px;color:#999999;">
				<%= @detail03 %>
			</div>
		</div>
	<% end %>
	<% if @post.category == "movie" || @post.category == "tv" || @post.category == "music" %>
		<div style="height:2vh;"></div>
		<a target="blank" href="https://www.youtube.com/results?search_query=<%= @post.title %>">
			<div class="inline_block_middle btn_off">
				<%= image_tag "youtube.svg", :style =>'width:18px;height:18px;margin:-1px 5px 0 0;' %>youtubeで検索
			</div>
		</a>
	<% end %>
	<% if @post.category == "book" || @post.category == "comic" %>
		<div style="height:2vh;"></div>
		<a target="blank" href="https://www.amazon.co.jp/s/ref=nb_sb_noss_2?&field-keywords=<%= @post.title %>">
			<div class="inline_block_middle btn_off">
				<%= image_tag "amazon.svg", :style =>'width:15px;height:15px;margin:-3px 5px 0 0;' %>amazonで検索
			</div>
		</a>
	<% end %>						
	</div>
</div>
<%#投稿%>
<% if user_signed_in? %>
	<% if current_user == @post.user %>
		<%#自分の時%>
		<div style="margin:12px 20px;padding:15px 20px;background:-webkit-linear-gradient(-45deg,rgba(17,17,17,0.6),rgba(5,98,123,0.2));background:linear-gradient(-45deg,rgba(17,17,17,0.6),rgba(5,98,123,0.2));border-radius:5px;">
			<%= render partial: 'partial/wall_posts', locals: { post: @post } %>
		</div>
	<% else %>
		<% if current_user.following?(@post.user) %>
			<%#フォローしている時%>
			<div style="margin:12px 20px;padding:15px 20px;background:-webkit-linear-gradient(-45deg,rgba(17,17,17,0.6),rgba(5,98,123,0.2));background:linear-gradient(-45deg,rgba(17,17,17,0.6),rgba(5,98,123,0.2));border-radius:5px;">
    			<%= render partial: 'partial/wall_posts', locals: { post: @post } %>
			</div>
		<% else %>
			<%#フォローしていない時%>
			<div style="margin:12px 20px;padding:15px 20px;background:-webkit-linear-gradient(-45deg,rgba(17,17,17,0.6),rgba(100,100,100,0.2));background:linear-gradient(-45deg,rgba(17,17,17,0.6),rgba(100,100,100,0.2));border-radius:5px;">
				<%= render partial: 'partial/wall_posts', locals: { post: @post } %>
			</div>
		<% end %>
	<% end %>
<% else %>
	<%#ログインしていない時%>
	<div style="margin:12px 20px;padding:15px 20px;background:-webkit-linear-gradient(-45deg,rgba(17,17,17,0.6),rgba(100,100,100,0.2));background:linear-gradient(-45deg,rgba(17,17,17,0.6),rgba(100,100,100,0.2));border-radius:5px;">
		<%= render partial: 'partial/wall_posts', locals: { post: @post } %>
	</div>
<% end %>
<%#その他の投稿%>
<% if @posts_other.present? %>
	<% @posts_other.each.with_index(1) do |post, i| %>	
		<div style="margin:12px 20px;padding:15px 20px;background:-webkit-linear-gradient(-45deg,rgba(17,17,17,0.6),rgba(5,98,123,0.2));background:linear-gradient(-45deg,rgba(17,17,17,0.6),rgba(5,98,123,0.2));border-radius:5px;">
			<%= render partial: 'partial/wall_posts', locals: { post: post } %>
		</div>
	<% end %>
<% end %>
<%#この作品を投稿%>
<div style="margin:12px 20px;padding:15px 20px;background:-webkit-linear-gradient(-45deg,rgba(17,17,17,0.6),rgba(50,50,50,0.4));background:linear-gradient(-45deg,rgba(17,17,17,0.6),rgba(100,100,100,0.2));border-radius:5px;text-align:center;">
		<%= link_to "/works/#{@post.id}/copy" ,:style => 'width:100%;height:100%;' do %>	
			<div style="height:15px;"></div>
			<img data-src="/assets/add_FAFAFA.svg" class="inline_block_middle lazyload" style="width:20px;height:20px;opacity:0.6;">
			<div class="inline_block_middle" style="padding-left:10px;">
				<div style="font-size:13px;color:#FAFAFA;opacity:0.6;">
			  		この作品を投稿する
			  	</div>	 
		  	</div>
	  		<div style="height:15px;"></div>
		<% end %>
	</div>
</div>

<%#音楽プレビューjs%>
<% if @post.preview_url.present? %>
	<audio id="audio" controls preload="none" style="display:none;">
		<source src="<%= @post.preview_url %>" type="audio/mpeg"></source>
	</audio>
	<script defer>						  
		$(function(){
	  		var audio = document.getElementById('audio');
	  		var img = $("#icon_play");
		  	$('#btn_preview').on("click",function(){
			    if(img.attr('src') === "/assets/play_FAFAFA.svg"){		     	       		       
			       	img.attr("src","/assets/pause_FAFAFA.svg");
			       	audio.play();
			    }
			    else{	     
			       	img.attr("src","/assets/play_FAFAFA.svg");
			       	audio.pause();
			    }
		  	});
		  	audio.onended = function() {
		  		img.attr("src","/assets/play_FAFAFA.svg");
		  		audio.currentTime = 0;
		  	};
	  	});				
   	</script>
<% end %>
<%#lazyload.js%>
<script defer>
	$(function() {
    	$('img.lazyload').lazyload();
	});
</script>