<% post = @post %>
<div class="main">
	<div class="block_side">
	</div>
	<div class="block_main">
		<div style="height:50px;"></div>
		<div class="a1">
			<div class="a4">
	            <div class="d1">
	              	<% if post.image_url.blank? %>
						<%= image_tag "nothing01.jpg", :class =>'img_myboom_blur' %>
					<% else %>
						<%= image_tag post.image_url, :class =>'img_myboom_blur' %>
					<% end %>
					<div class="d3"></div>
	            </div>
          	</div>
          	<div class="a7">
          		<a href="javascript:void(0);" onclick="window.history.back();">
					<div style="padding:20px;">
		        		<%= image_tag "cross_gray.png", :style =>'width:18px;height:18px;' %>
		        	</div>
		        </a>	
          	</div>
          	<div class="a6">
          		<%#作品情報%>
          		<div style="height:3vh;"></div>
          		<div style="font-size:18px;padding-left:15px;">
          			Works
          		</div>
          		<div style="height:1vh;"></div>
          		<div style="width:90%;text-align:center;margin:0 auto;">
          			<div class="inline_block_middle" style="width:40%;text-align:left;padding:12px 10px;">		
      					<% if post.image_url.blank? %>
							<%= image_tag "nothing01.jpg", :class =>'img_tavore' %>
						<% else %>
							<% if post.category == "music" %>
								<div class="pile_preview">
									<%= image_tag post.image_url, :class =>'img_tavore' %>
									<div class="btn_preview_min" id="btn_preview">
										<img src="/assets/play_white.png" id="icon_play" style="width:9px;height:9px;margin-left:0.5px;">
									</div>
								</div>
							<% else %>
								<%= image_tag post.image_url, :class =>'img_tavore' %>
							<% end %>
						<% end %> 				
          			</div>
          			<div class="inline_block_middle" style="width:60%;padding:20px 10px;">
          				<div class="font_white_big">
          					<%= post.title %>
          				</div>
      					<% if @detail01.present? %>
							<div style="font-size:12px;color:#999999;">
								<%= @detail01 %>
							</div>
						<% end %>
      					<% if @detail02.present?  %>
							<div style="font-size:12px;color:#999999;">
								<%= @detail02 %>
							</div>
						<% end %>          				
      					<% if @detail03.present?  %>
							<div style="font-size:12px;color:#999999;">
								<%= @detail03 %>
							</div>
						<% end %>
          			</div>
          		</div>
          		<%#投稿一覧%>
          		<div style="height:3vh;"></div>
          		<div style="font-size:18px;padding-left:15px;">
          			Posts
          		</div>
          		<div style="height:0.5vh;"></div>
          		<div style="padding:20px 0px 0 0px;">
	  				<div class="card03">
	      				<a href="" data-toggle="modal" data-target="#myModal_<%= post.id %>" style="width:100%;height:100%;">
	      					<div style="width:60px;display:inline-block;vertical-align:top;">
	      						<%= image_tag post.user.image(:medium), :class => "img_user12" %>
	      					</div>
	      					<div style="width:calc(100% - 60px);display:inline-block;vertical-align:top;">
	      						<div style="height:5px;"></div>
						  		<div class="font_white_max" style="display:inline-block;vertical-align:middle;">
							  		<%= post.user.name %>
							  		<% if post.user.authority == "public" %>
				                      <%= image_tag "test55.png", :style =>'width:14px;height:14px;' %>
				                    <% end %>
				                </div>
				                <div class="font_white_min" style="color:#999999;display:inline-block;vertical-align:middle;padding-left:10px;">
							  		<% @seconds = (Time.now - post.created_at).round  %>
									<% if @seconds <= 3600 %>
										- <%= @seconds / 60 %>分前
									<% else %>
										<% if @seconds <= 86400 %>
												- <%= @seconds / (60 * 60) %>時間前
										<% else %>
											<% if @seconds <= 604800 %>
												- <%= @seconds / (60 * 60 * 24) %>日前
											<% else %>
												- <%= post.created_at.strftime('%m月%d日') %>
											<% end %>
										<% end %>
									<% end %>
							  	</div>		
			                    <div style="height:3px;"></div>
							  	<div class="font_white_min" style="color:#c4c4c4;">
							  		<% if post.review == "bookmark" %>
										<i class="far fa-bookmark" style="color:rgba(220,220,220,0.6);"></i> ブックマーク
									<% end %>
									<% if post.review == "good" %>
										<% if post.category == "movie" || post.category == "tv" %>
											観ました
										<% end %>
										<% if post.category == "book" || post.category == "comic" %>
											読みました
										<% end %>
										<% if post.category == "music" %>
											聴きました
										<% end %>
									<% end %>
									<% if post.review == "favorite" %>
										<i class="fas fa-star" style="color:rgba(252,228,4,0.6);"></i> おすすめしています
									<% end %>
									<% if post.review == "bad" %>
										<i class="fas fa-ban" style="color:rgba(236,12,28,0.6);"></i> おすすめしていません
									<% end %>
							  	</div>
							  	<div style="height:12px;"></div>
						  		<div class="font_white_max" style="color:#c4c4c4;">
						  			<% if post.description.present? %>
						  				"<%= safe_join(post.description.split("\n"), tag(:br)) %>"
						  				<div style="height:5px;"></div>
						  			<% else %>
						  				""
						  			<% end %>
						  		</div>
	      					</div>			  	
						</a>
					</div>
				</div> 	
          		<% @posts_other.each.with_index(1) do |post, i| %>		
          		  	<% unless post.id == @post.id %>
						<div style="padding:20px 0px 0 0px;">
			  				<div class="card03">
			      				<a href="" data-toggle="modal" data-target="#myModal_<%= post.id %>" style="width:100%;height:100%;">
			      					<div style="width:60px;display:inline-block;vertical-align:top;">
			      						<%= image_tag post.user.image(:medium), :class => "img_user12" %>
			      					</div>
			      					<div style="width:calc(100% - 60px);display:inline-block;vertical-align:top;">
			      						<div style="height:5px;"></div>
								  		<div class="font_white_max" style="display:inline-block;vertical-align:middle;">
									  		<%= post.user.name %>
									  		<% if post.user.authority == "public" %>
						                      <%= image_tag "test55.png", :style =>'width:14px;height:14px;' %>
						                    <% end %>
						                </div>
						                <div class="font_white_min" style="color:#999999;display:inline-block;vertical-align:middle;padding-left:10px;">
									  		<% @seconds = (Time.now - post.created_at).round  %>
											<% if @seconds <= 3600 %>
												- <%= @seconds / 60 %>分前
											<% else %>
												<% if @seconds <= 86400 %>
														- <%= @seconds / (60 * 60) %>時間前
												<% else %>
													<% if @seconds <= 604800 %>
														- <%= @seconds / (60 * 60 * 24) %>日前
													<% else %>
														- <%= post.created_at.strftime('%m月%d日') %>
													<% end %>
												<% end %>
											<% end %>
									  	</div>		
					                    <div style="height:3px;"></div>
									  	<div class="font_white_min" style="color:#c4c4c4;">
									  		<% if post.review == "bookmark" %>
												<i class="far fa-bookmark" style="color:rgba(220,220,220,0.6);"></i> ブックマーク
											<% end %>
											<% if post.review == "good" %>
												<% if post.category == "movie" || post.category == "tv" %>
													観ました
												<% end %>
												<% if post.category == "book" || post.category == "comic" %>
													読みました
												<% end %>
												<% if post.category == "music" %>
													聴きました
												<% end %>
											<% end %>
											<% if post.review == "favorite" %>
												<i class="fas fa-star" style="color:rgba(252,228,4,0.6);"></i> おすすめしています
											<% end %>
											<% if post.review == "bad" %>
												<i class="fas fa-ban" style="color:rgba(236,12,28,0.6);"></i> おすすめしていません
											<% end %>
									  	</div>
									  	<div style="height:12px;"></div>
								  		<div class="font_white_max" style="color:#c4c4c4;">
								  			<% if post.description.present? %>
								  				"<%= safe_join(post.description.split("\n"), tag(:br)) %>"
								  				<div style="height:5px;"></div>
								  			<% else %>
								  				""
								  			<% end %>
								  		</div>
			      					</div>
								</a>
							</div>
						</div>	
				  	<% end %>
				<% end %>
				<div style="padding:20px 0px 0 0px;">
	  				<div class="card03" style="background:rgba(220,220,220,0.15);text-align:center;">
	      				<%= link_to "/works/#{post.id}/copy" ,:style => 'width:100%;height:100%;' do %>	
	      					<div style="height:3vh;"></div>
	      					<%= image_tag "add_white.png", :style =>'width:30px;height:30px;opacity:0.7;' %>
						  	<div class="inline_block_middle font_white" style="opacity:0.7;padding-left:10px;">
						  		この作品を追加する
						  	</div>	  
						  	<div style="height:3vh;"></div>	
						<% end %>
					</div>
				</div>				
				<%#レコメンド%>	
				<div style="height:5vh;"></div>
          		<div style="font-size:18px;padding-left:15px;">
          			Reccomends
          		</div>
          		<div style="height:4vh;"></div>

          		<% if @posts_reccomend.blank? %>				  		
					<div class="font_white" style="text-align:center;margin-top:30vh;">
						<%= image_tag "warning_wihte.png", :style =>'width:20px;height:20px;margin-top:-2px;' %> 投稿がありません
					</div>	
			  	<% else %>
			  		<div class="horizontal_scroll">			
				  	<% @posts_reccomend.each.with_index(1) do |post, i| %>
				  		<div class="scroll_item02">
			  			<div class="grid_posts">
					    	<a data-toggle="modal" data-target="#myModal_<%= post.id %>">	    		
								<% if post.image_url.blank? %>
									<img data-src="/assets/nothing01.jpg" class="img_myboom lazyload_min">
								<% else %>									
									<img data-src="<%= post.image_url %>" class="img_myboom lazyload_min">
								<% end %>								
								<span>
									<div class="font_category_min">
										<% if post.category == "movie" %>
											<%= image_tag "movie_gray.png", :class =>'icon_category_min' %> 映画
										<% end %>
										<% if post.category == "tv" %>
											<%= image_tag "movie_gray.png", :class =>'icon_category_min' %> テレビ
										<% end %>
										<% if post.category == "book" %>
											<%= image_tag "book_gray.png", :class =>'icon_category_min' %> ブック
										<% end %>
										<% if post.category == "comic" %>
											<%= image_tag "book_gray.png", :class =>'icon_category_min' %> コミック
										<% end %>
										<% if post.category == "music" %>
											<%= image_tag "music_gray.png", :class =>'icon_category_min' %> ミュージック
										<% end %>
									</div>
									<div class="contain_title">
										<div class="font_title_min">
											<%= post.title %>
										</div>
									</div>
								</span>
							</a>
						</div>
						</div>
				  	<% end %>
				  	</div>
			  	<% end %>
				<div style="height:15vh;"></div>
          	</div>
		</div>
		
	</div>
</div>

<%#音楽プレビューjs%>
<% if post.preview_url.present? %>
	<audio id="audio" controls preload="none" style="display:none;">
		<source src="<%= post.preview_url %>" type="audio/mpeg"></source>
	</audio>
	<script defer>						  
		$(function(){
	  	  var audio = document.getElementById('audio');
	  	  var img = $("#icon_play");
		  $('#btn_preview').on("click",function(){
		    if(img.attr('src') === "/assets/play_white.png")
		     {	       		       
		       img.attr("src","/assets/pause_white.png");
		       audio.play();
		     }
		    else
		     {
		       img.attr("src","/assets/play_white.png");
		       audio.pause();
		     }
		  });
		  audio.onended = function() {
		  	img.attr("src","/assets/pause_white.png");
		  };
	  	});				
   	</script>
<% end %>

<%#モーダルの中身%>
<% if @posts_other.present? %>
	<% @user_list = [] %>
	<% @posts_other.each.with_index do |post, i| %>
		<%# 作品モーダル %>
		<%= render partial: 'partial/modal_work', locals: { post: post } %>
		<%#ハーフモーダル%>
		<%= render partial: 'partial/modal_half', locals: { post: post } %>
		<%# プロフィールモーダル %>
		<% unless @user_list.include?(post.user.id) %>
			<% @user = post.user %>
	  		<% @checkeds_i = Post.where(user_id: @user.id).where.not(review: "bookmark").size %>
	  		<% @bookmarks_i = Post.where(user_id: @user.id, review: "bookmark").size %>
			<%= render partial: 'partial/profile', locals: { user: @user, checkeds_i: @checkeds_i, bookmarks_i: @bookmarks_i } %>
			<% @user_list.push(post.user.id) %>
		<% end %>
	<% end %>
<% end %>


<%#モーダルの中身%>
<% if @posts_reccomend.present? %>
	<% @posts_reccomend.each.with_index do |post, i| %>	
		<%# 作品モーダル %>
		<%= render partial: 'partial/modal_work', locals: { post: post } %>
		<%#ハーフモーダル%>
		<%= render partial: 'partial/modal_half', locals: { post: post } %>
	<% end %>
<% end %>


<%#lazyload.js%>
<script defer>
	$(function() {
    	$('img.lazyload_min').lazyload();
	});
</script>