<div class="bar_post">			
	<div style="">
		<div class="inline_block_middle" style="width:15%;">
			<div style="text-align:left;padding-left:10px;">
				<a href="javascript:void(0);" onclick="window.history.back();">
		        	<%= image_tag "left_C2C2C2.svg", :style =>'width:15px;height:15px;' %>
		        </a>										
			</div>
		</div>
		<div class="inline_block_middle" style="width:70%;">
			<div class="contain_title02" style="text-align:center;">
				<div style="font-size:14px;color:#c2c2c2;">
					<%= @post.title %>
				</div>
			</div>
		</div>
		<div class="inline_block_middle" style="width:15%;">
			<button id="btn_post" style="text-align:right;padding-right:15px;font-size:15px;color:#2FB4B4;">		
				更新		
			</button>
		</div>
	</div>
</div>

<div class="main">
	<div class="block_side">
	</div>
	<div class="block_main">
		<div class="a1">
          <div class="a4">
            <div class="d1">
              <% if @post.image_url.blank? %>
              	<% if @post.category == "music" %>
					<%= image_tag "nothing03.jpg", :class =>'img_myboom_blur' %>
				<% else %>
					<%= image_tag "nothing01.jpg", :class =>'img_myboom_blur' %>
				<% end %>
              <% else %>
              	<% if @post.category == "music" %>
					<%= image_tag @post.image_url, :class =>'img_myboom_blur' %>
				<% else %>
					<%= image_tag @post.image_url, :class =>'img_myboom_blur' %>
				<% end %>
              <% end %>
              <div class="d3"></div>
            </div>
          </div>
          <div class="a5">
			<%= form_tag("/works/#{@post.id}/update", method: :post, :name => "myform") do %>
				<div style="height:50px;"></div>
				<div style="height:40px;"></div>
				<div style="height:3vh;"></div>					
				<div class="nmn03" style="text-align:center;width:100%;padding:0px;margin:0 auto;">
					<div style="display:inline-block;">
					    <%= radio_button_tag(:review, "bookmark", @bookmark, {:id => "bookmark"}) %>
					    <label for="bookmark" class="radio">
					    	<%= image_tag "bookmark_05627B.svg", :class =>'icon_review' %>ブックマーク
					    </label>
				    </div>
					<div style="display:inline-block;">
					    <%= radio_button_tag(:review, "good", @good, {:id => "good"}) %>
					    <label for="good" class="radio">
					    	<% if @post.category == "movie" || @post.category == "tv" %>
								観ました
							<% end %>
							<% if @post.category == "book" || @post.category == "comic" %>
								読みました
							<% end %>
							<% if @post.category == "music" %>
								聴きました
							<% end %>
							<% if @post.category == "link" %>
								見ました
							<% end %>
					    </label>
				    </div>
				    <div style="height:1.5vh;"></div>
					<div style="display:inline-block;">
						<%= radio_button_tag(:review, "favorite", @favorite, {:id => "favorite"}) %>
					    <label for="favorite">
					    	<%= image_tag "star_F8C55A.svg", :class =>'icon_review' %>おすすめ
					    </label>
					</div>
				    <div style="display:inline-block;">
					    <%= radio_button_tag(:review, "bad", @bad, {:id => "bad"}) %>
					    <label for="bad" class="radio">
					    	<%= image_tag "ban_FB473E.svg", :class =>'icon_review' %>おすすめしない
					    </label>
				    </div>
				</div>
				<div style="height:1.5vh;"></div>
				<div class="nmn02" style="text-align:center;width:90%;padding:10px;margin:0 auto;">
					<textarea name="description" id="textarea" placeholder="何か書く" wrap="hard"><%= @post.description %></textarea>
				</div>
				<div style="height:1.5vh;"></div>
				<% if @post.category == "movie" || @post.category == "tv" %>
					<div style="text-align:center;width:100%;margin:0 auto;">
						<div class="horizontal_scroll">
							<% if @posters.present? %>
								<% @posters.each.with_index(1) do |poster, i| %>
									<% if @post.image_url == "https://image.tmdb.org/t/p/original/#{poster.file_path}" %>
										<div class="scroll_item04">
											<div class="radio01">
												<%= radio_button_tag(:image_url, "https://image.tmdb.org/t/p/original/#{poster.file_path}", true, {:id => "image_url#{i}"}) %>
												<label for="image_url<%= i %>">
													<%= image_tag "https://image.tmdb.org/t/p/original/#{poster.file_path}", :style =>'width:auto;height:45vh;' %>
												</label>
											</div>
										</div>
									<% else %>
										<div class="scroll_item04">
											<div class="radio01">
												<%= radio_button_tag(:image_url, "https://image.tmdb.org/t/p/original/#{poster.file_path}", false, {:id => "image_url#{i}"}) %>
												<label for="image_url<%= i %>">
													<%= image_tag "https://image.tmdb.org/t/p/original/#{poster.file_path}", :style =>'width:auto;height:45vh;' %>
												</label>
											</div>
										</div>
									<% end %>
								<% end %>
							<% else %>
								<%= image_tag @post.image_url, :style =>'width:50%;height:auto;' %>
							<% end %>
						</div>
					</div>
				<% else %>
					<div style="text-align:center;width:100%;margin:0 auto;">
						<% if @post.category == "music" %>
							<div style="text-align:center;width:60%;margin:0 auto;">
								<div class="pile_preview">								
									<%= image_tag @post.image_url, :style =>'width:100%;height:100%;' %>		
									<% if @post.preview_url.present? %>
										<div class="btn_preview_default" id="btn_preview">
											<%= image_tag "play_FAFAFA.svg", :id =>'icon_play', :style =>'width:11px;height:11px;margin-left:0.5px;' %>
										</div>
									<% end %>
								</div>
							</div>	
						<% else %>
							<% if @post.category == "link" %>
								<%= image_tag @post.image_url, :style =>'width:300px;height:200px;object-fit:cover;' %>
							<% else %>
								<%= image_tag @post.image_url, :style =>'width:50%;height:auto;' %>
							<% end %>
						<% end %>
					</div>
				<% end %>			
			<% end %>
		  </div>
		</div>
	</div>
	<div class="block_side">
	</div>
</div>

<%#音楽プレビューjs%>
<% if @post.preview_url.present? %>
	<audio id="audio" controls preload="none" style="display:none;">
		<source src="<%= @post.preview_url %>" type="audio/mpeg"></source>
	</audio>
	<script defer>						  
		$(function(){
	  	  var audio = document.getElementById('audio');
	  	  var img = $("#icon_play");
		  $('#btn_preview').on("click",function(){
		    if(img.attr('src') === "/assets/play_FAFAFA.svg")
		     {	       		       
		       img.attr("src","/assets/pause_FAFAFA.svg");
		       audio.play();
		     }
		    else
		     {
		       img.attr("src","/assets/play_FAFAFA.svg");
		       audio.pause();
		     }
		  });
		  audio.onended = function() {
		  	img.attr("src","/assets/pause_FAFAFA.svg");
		  };
	  	});				
   	</script>
<% end %>
<%#テキストエリアの自動改行%>
<script defer>
	$(function() {
	  var $textarea = $('#textarea');
	  var lineHeight = parseInt($textarea.css('lineHeight'));
	  $(function() {
	      var lines = ($textarea.val() + '\n').match(/\n/g).length;
	      $textarea.height(lineHeight * lines);
	    });
	  $textarea.on('input', function(e) {
	    var lines = ($(this).val() + '\n').match(/\n/g).length;
	    $(this).height(lineHeight * lines);
	  });
	});
</script>
<%#投稿ボタンボタン%>
<script defer>
	$('#btn_post').click(function() {
		document.myform.submit();
	});
</script>