<%#トップバー%>
<div class="bar_top">      
    <div class="inline_block_middle" style="width:20%;">
    	<div style="text-align:left;padding-left:15px;">
        	<a href="javascript:void(0);" onclick="window.history.back();">
          		<%= image_tag "left_FAFAFA.svg", :style =>'width:18px;height:18px;' %>
        	</a>                    
      	</div>
    </div>
    <div class="inline_block_middle" style="width:60%;">
      	<div class="contain_title02" style="text-align:center;">
        	<div style="font-size:14px;color:#FAFAFA;">
          		<%= @post.title %>
        	</div>
      	</div>
    </div>
    <div class="inline_block_middle" style="width:20%;">
    	<div style="text-align:right;">
    		<button id="btn_post" style="text-align:right;padding-right:15px;font-size:15px;color:#2FB4B4;">		
				更新
			</button>
	    </div>
    </div>
</div>
<div style="height:50px;"></div>


<%= form_tag("/works/#{@post.id}/update", method: :post, :name => "myform") do %>
	<div style="height:15px;"></div>		
	<%#レビュー%>
	<div class="form03" style="text-align:center;width:100%;margin:0 auto;">	
	    <%= radio_button_tag(:review, "bookmark", @bookmark, {:id => "bookmark"}) %>
	    <label for="bookmark" class="inline_block_middle">
	    	<% if @post.category == "movie" || @post.category == "tv" %>
				観たいです
			<% end %>
			<% if @post.category == "book" || @post.category == "comic" %>
				読みたいです
			<% end %>
			<% if @post.category == "music" %>
				聴きたいです
			<% end %>
	    </label>    
	    <%= radio_button_tag(:review, "doing", @doing, {:id => "doing"}) %>
	    <label for="doing" class="inline_block_middle">
	    	<% if @post.category == "movie" || @post.category == "tv" %>
				観ています
			<% end %>
			<% if @post.category == "book" || @post.category == "comic" %>
				読んでいます
			<% end %>
			<% if @post.category == "music" %>
				聴いています
			<% end %>
	    </label>	
	    <%= radio_button_tag(:review, "good", @good, {:id => "good"}) %>
	    <label for="good" class="inline_block_middle">
	    	<% if @post.category == "movie" || @post.category == "tv" %>
				観ました
			<% end %>
			<% if @post.category == "book" || @post.category == "comic" %>
				読みました
			<% end %>
			<% if @post.category == "music" %>
				聴きました
			<% end %>
	    </label> 
	    <div style="height:10px;"></div>	
		<%= radio_button_tag(:review, "favorite", @favorite, {:id => "favorite"}) %>
	    <label for="favorite" class="inline_block_middle">
	    	<%= image_tag "star_F8C55A.svg",:class => "inline_block_middle", :style =>'width:12px;height:12px;margin-top:-2px;' %>
	    	<span class="inline_block_middle">
	    		おすすめ
	    	</span>
	    </label>
	    <%= radio_button_tag(:review, "bad", @bad, {:id => "bad"}) %>
	    <label for="bad" class="inline_block_middle">
	    	<%= image_tag "ban_FB473E.svg",:class => "inline_block_middle", :style =>'width:12px;height:12px;margin-top:-0.5px;' %>
	    	<span class="inline_block_middle">
	    		おすすめしない
	    	</span>
	    </label>  
	</div>
	<div style="height:20px;"></div>
	<%#コメント%>
	<div class="form02" style="text-align:center;width:85%;margin:0 auto;">
		<textarea name="description" id="textarea" placeholder="何か書く" wrap="soft"><%= @post.description %></textarea>
	</div>
	<div style="height:20px;"></div>
	<%#ポスター(映画,テレビの時)%>
	<% if @post.category == "movie" || @post.category == "tv" %>
		<div style="text-align:center;width:100%;margin:0 auto;">
			<div class="horizontal_scroll">
				<% if @posters.present? %>
					<% @posters.each.with_index(1) do |poster, i| %>
						<% if @post.image_url == "https://image.tmdb.org/t/p/original#{poster.file_path}" %>
							<% @boolean = true %>
						<% else %>
							<% @boolean = false %>
						<% end %>
						<div style="width:60%;height:auto;display:inline-block;vertical-align:middle;padding:0;margin:0;<%= 'margin-left:20%;' if i == 1 %><%= 'margin-left:50px;' if i != 1 %><%= 'margin-right:20%;' if i == @posters.size %>"> 
							<div class="form01">
								<%= radio_button_tag(:image_url, "https://image.tmdb.org/t/p/original#{poster.file_path}", @boolean, {:id => "image_url#{i}"}) %>
								<label for="image_url<%= i %>">
									<img data-src="https://image.tmdb.org/t/p/w500<%= poster.file_path %>" class="lazyload" style="width:100%;height:auto;">
								</label>
							</div>
						</div>
					<% end %>
				<% else %>
					<% if @post.image_url.blank? %>
						<div style="width:60%;height:auto;display:inline-block;vertical-align:middle;padding:0;margin:0 20%;"> 
							<%= image_tag "#{@post.category}.jpg", :style =>'width:100%;height:auto;' %>
						</div>
					<% else %>
						<div style="width:60%;height:auto;display:inline-block;vertical-align:middle;padding:0;margin:0 20%;"> 
							<%= image_tag @poster_show, :style =>'width:100%;height:auto;' %>
						</div>
					<% end %>
				<% end %>
			</div>
		</div>
	<% end %>
	<%#ポスター(ブック,コミックの時)%>
	<% if @post.category == "book" || @post.category == "comic" %>
		<div style="width:60%;height:auto;display:inline-block;vertical-align:middle;padding:0;margin:0 20%;">
			<% if @post.image_url.blank? %>
				<%= image_tag "#{@post.category}.jpg", :style =>'width:100%;height:auto;' %>
			<% else %>
				<%= image_tag @poster_show, :style =>'width:100%;height:auto;' %>
			<% end %>
		</div>
	<% end %>
	<%#ポスター(ミュージックの時)%>
	<% if @post.category == "music" %>
		<div style="width:60%;height:auto;display:inline-block;vertical-align:middle;padding:0;margin:0 20%;">
			<div class="pile_preview">								
				<% if @post.image_url.blank? %>
					<%= image_tag "#{@post.category}.jpg", :style =>'width:100%;height:auto;' %>
				<% else %>
					<%= image_tag @poster_show, :style =>'width:100%;height:auto;' %>
				<% end %>
				<% if @post.preview_url.present? %>
					<div class="btn_preview_default" id="btn_preview">
						<%= image_tag "play_FAFAFA.svg", :id =>'icon_play', :style =>'width:11px;height:11px;margin-left:0.5px;' %>
					</div>
				<% end %>
			</div>
		</div>	
	<% end %>
	<%#最新の投稿に設定%>
	<div style="height:20px;"></div>
	<div class="form04" style="text-align:center;width:60%;margin:0 auto;">
	    <%= check_box_tag(:latest, "latest", false, {:id => "latest"}) %>
	    <label for="latest" class="check_box">
	    	最新の投稿に設定
	    </label>
	</div>
	<div style="height:20px;"></div>
<% end %>

<%#音楽プレビューjs%>
<% if @post.category == "music" %>
	<% if @post.preview_url.present? %>
		<audio id="audio" controls preload="none" style="display:none;">
			<source src="<%= @post.preview_url %>" type="audio/mpeg"></source>
		</audio>
		<script defer>						  
			$(function(){
		  		var audio = document.getElementById('audio');
		  		var img = $("#icon_play");
			  	$('#btn_preview').on("click",function(){
				    if(img.attr('src') === "/assets/play_FAFAFA.svg"){		     	       		       
				       	img.attr("src","/assets/pause_FAFAFA.svg");
				       	audio.play();
				    }
				    else{	     
				       	img.attr("src","/assets/play_FAFAFA.svg");
				       	audio.pause();
				    }
			  	});
			  	audio.onended = function() {
			  		img.attr("src","/assets/play_FAFAFA.svg");
			  		audio.currentTime = 0;
			  	};
		  	});				
	   	</script>
	<% end %>
<% end %>
<%#テキストエリアの自動改行%>
<script defer>
	$(function() {
	  var $textarea = $('#textarea');
	  var lineHeight = parseInt($textarea.css('lineHeight'));
	  $(function() {
	      var lines = ($textarea.val() + '\n').match(/\n/g).length;
	      $textarea.height(lineHeight * lines);
	    });
	  $textarea.on('input', function(e) {
	    var lines = ($(this).val() + '\n').match(/\n/g).length;
	    $(this).height(lineHeight * lines);
	  });
	});
</script>
<%#投稿ボタンボタン%>
<script defer>
	$('#btn_post').click(function() {
		document.myform.submit();
	});
</script>
<%#lazyload.js%>
<script defer>
  $(function() {
    $(":not(.horizontal_scroll) img.lazyload").lazyload({
        effect: "fadeIn"
    });
    $("img.lazyload").lazyload({
        effect: "fadeIn",
        container: $(".horizontal_scroll")
     });
});
</script>