<% if user_signed_in? %>

	<div class="main">
		<div class="block_side">
		</div>
		<div class="block_main">
			<div style="height:50px;"></div>
			<div style="padding:0px 0px 20px;background:rgba(0,0,0,0.7);border-bottom: solid 1px rgba(39,134,160,0.5);">
				<div class="font_gray" style="margin-left:15px;padding-top:15px">
					Category
				</div>
				<div class="border01"></div>
				<div class="horizontal_scroll04">	
					<div class="scroll_item04">
						<%= form_tag("/works/category", method: :get) do %>
							<%= hidden_field_tag :q, "movie" %>
							<button>
								<div class="pile_category">
									<%= image_tag "movie.jpg", :class =>'img_category' %>
									<p>movie</p>
									<div class="smoke"></div>
								</div>
							</button>
						<% end %>
					</div>
					<div class="scroll_item04">
						<%= form_tag("/works/category", method: :get) do %>
							<%= hidden_field_tag :q, "tv" %>
							<button>
								<div class="pile_category">
									<%= image_tag "tv.jpg", :class =>'img_category' %>
									<p>tv</p>
									<div class="smoke"></div>
								</div>
							</button>
						<% end %>
					</div>
					<div class="scroll_item04">
						<%= form_tag("/works/category", method: :get) do %>
							<%= hidden_field_tag :q, "book" %>
							<button>
								<div class="pile_category">
									<%= image_tag "book.jpg", :class =>'img_category' %>
									<p>book</p>
									<div class="smoke"></div>
								</div>
							</button>
						<% end %>
					</div>
					<div class="scroll_item04">
						<%= form_tag("/works/category", method: :get) do %>
							<%= hidden_field_tag :q, "comic" %>
							<button>
								<div class="pile_category">
									<%= image_tag "comic.jpg", :class =>'img_category' %>
									<p>comic</p>
									<div class="smoke"></div>
								</div>
							</button>
						<% end %>
					</div>
					<div class="scroll_item04">
						<%= form_tag("/works/category", method: :get) do %>
							<%= hidden_field_tag :q, "music" %>
							<button>
								<div class="pile_category">
									<%= image_tag "music.jpg", :class =>'img_category' %>
									<p>music</p>
									<div class="smoke"></div>
								</div>
							</button>
						<% end %>
					</div>	
				</div>
			</div>
			<% if @posts.present? %>
				<% @posts.each.with_index(1) do |post, i| %>
					<style type="text/css">
						#menu_in<%= post.id %>{
						  overflow: hidden;
						  width: auto;
						  max-height: 0;
						  opacity: 0;
						  -webkit-transition: all .5s ease-in-out 0s;
						  transition: all .5s ease-in-out 0s;
						}
						#menu_in<%= post.id %>.open {
						  max-height:500px;
						  opacity: 1;
						  z-index: 9999;
						}
					</style>
					<script type="text/javascript">
						$(function(){
					    $('#menu<%= post.id %>').click(function(){
					        $('#menu_in<%= post.id %>').toggleClass('open');
					    });
					});
					</script>
					<div class="base01">
						<% if post.image_url.blank? %>
							<%= image_tag "nothing01.jpg", :class =>'img_lavoro02' %>
						<% else %>
							<% if post.category == "music" %>
								<%= image_tag post.image_url, :class =>'img_lavoro002' %>
							<% else %>
								<%= image_tag post.image_url, :class =>'img_lavoro02' %>
							<% end %>
						<% end %>
						<span>
							<div class="layer05">
							</div>
							<div class="layer03">
								<div class="pro01">
									<%= link_to "/users/#{post.user.id}/collection" do %>
										<% if post.user.image.blank?  %>
											<%= image_tag "user09.png", :class =>'img_user04' %>
										<% else %>
											<%= image_tag post.user.image, :class => "img_user04" %>
										<% end %>
									<% end %>
								</div>
								<div class="pro02">
									<%= link_to "/users/#{post.user.id}/collection" do %>
										<div class="font_white">
											<%= post.user.name %>
										</div>
										<div class="font_white">
											<% if post.category == "movie" %>
												<i class="fas fa-film"></i> 映画
											<% end %>
											<% if post.category == "tv" %>
												<i class="fas fa-film"></i> テレビ
											<% end %>
											<% if post.category == "book" %>
												<i class="fas fa-book"></i> ブック
											<% end %>
											<% if post.category == "comic" %>
												<i class="fas fa-book"></i> コミック
											<% end %>
											<% if post.category == "music" %>
												<i class="fas fa-music"></i> ミュージック
											<% end %>
											 - <%= post.created_at.strftime('%Y/%m/%d') %>
										</div>
									<% end %>
								</div>
								<div class="pro03">		
								</div>
							</div>
							<div class="layer01">
								<%= link_to "/works/#{post.id}/detail" do %>
									<% if post.image_url.blank? %>
										<%= image_tag "nothing01.jpg", :class =>'img_lavoro03' %>
									<% else %>
										<% if post.category == "movie" || post.category == "tv" %>
											<%= image_tag post.image_url, :class =>'img_lavoro10' %>
										<% end %>
										<% if post.category == "book" || post.category == "comic" %>
											<%= image_tag post.image_url, :class =>'img_lavoro09' %>
										<% end %>
										<% if post.category == "music" %>
											<%= image_tag post.image_url, :class =>'img_lavoro03' %>
										<% end %>
									<% end %>
								<% end %>
							</div>
							<div class="layer02">
								<div class="font_how">
									<% if post.review == "favorite" %>
										<i class="fas fa-star" style="color:rgba(252,228,4,0.7);"></i> おすすめしています
									<% end %>
									<% if post.review == "good" %>
										<% if post.category == "movie" || post.category == "tv" %>
											観ました
										<% end %>
										<% if post.category == "book" || post.category == "comic" %>
											読みました
										<% end %>
										<% if post.category == "music" %>
											聴きました
										<% end %>
									<% end %>
									<% if post.review == "bad" %>
										<i class="fas fa-ban" style="color:rgba(236,12,28,0.7);"></i> おすすめしていません
									<% end %>
								</div>
								<div class="font_head">
									<%= post.title %>
								</div>
								<% if post.description.present? %>
									<div class="balloon_top"></div>
									<div class="balloon">
									  	<%= simple_format(post.description, {}, wrapper_tag: "div") %>
									</div>
								<% end %>
							</div>
							<div class="layer08">
								<div id="menu<%= post.id %>" class="icon_menu02">
									<%= image_tag "test07.png", :style =>'width:25px;height:25px;' %>
								</div>
								<div id="menu_in<%= post.id %>">
									<% unless post.user.id == current_user.id %>
									  	<div style="margin:30px 10px 0px 0px;">
											<span id="like-of-<%= post.id %>">
										      	<%= render partial: 'likes/like', locals: { post: post, likes: @likes } %>
										    </span>
										</div>
										<div style="margin:30px 10px 0px 0px;">
											<%= link_to "/works/#{post.id}/copy" do %>
												<%= image_tag "test10.png", :style =>'width:35px;height:35px;' %>
											<% end %>									
										</div>
									<% end %>
									<% if post.user.id == current_user.id %>
										<div style="margin:30px 10px 0px 0px;">
											<%= image_tag "test16.png", :style =>'width:35px;height:35px;' %>
										</div>
										<div style="margin:30px 10px 0px 0px;">
											<%= link_to "/works/#{post.id}/edit" do %>
												<%= image_tag "test04.png", :style =>'width:35px;height:35px;' %>
											<% end %>
										</div>
										<div style="margin:30px 10px 0px 0px;">
											<%= link_to "/works/#{post.id}/destroy", method: :post, data: { confirm: '削除しますか？' } do %>
												<%= image_tag "test01.png", :style =>'width:35px;height:35px;' %>
											<% end %>
										</div>	
									<% end %>							
								</div>
							</div>
						</span>
					</div>
				<% end %>
			<% else %>
				<div class="base_nothing">
					<span>
						<div class="layer01">
							<div>
								<%= image_tag "tavore_logo_01.png", :style =>'width:60px;height:60px;' %>
							</div>
							<div style="font-size:20px;">
								TAVOREへようこそ
							</div>
							<div style="font-size:15px;">
								まずはあなたのお気に入りの映画､本､音楽を投稿してみましょう
							</div>
						</div>
					</span>
				</div>
			<% end %>
		</div>
		<div class="block_side">
		</div>
	</div>

	<%#投稿ボタン%>
	<div class="btns_plus">
		<a href="" data-toggle="modal" data-target="#myModal_post" id="btn_plus">
			<i><%= image_tag "plus.png", :class =>'img_plus' %></i>
		</a>
	</div>	
	<div class="modal fade" id="myModal_post">
		<div class="height_modal"></div>
	    <div class="modal-dialog">
	    	<div class="base_modal">
				<%= image_tag "movie01.jpg", :class =>'img_lavoro04' %>
				<span>
					<div class="layer01">
					</div>
					<div class="layer02">
				  		<div class="">	
					  		<div style="font-size:24px;color:#FAFAFA;margin:0px 0px 30px;">
						      	投稿を作成
					        </div>
					  		<div class="btns_choice02">
					  			<div>
							      	<%= link_to(works_movie_path, id: 'btn_option') do %>
							        	<i class="fas fa-film"></i>
							        <% end %>
						        </div>
						        <div style="font-size:12px;color:#FAFAFA;margin-top:5px;">
						        	映画/テレビ
						        </div>
					        </div>
					        <div class="btns_choice01">
					        	<div>
					        		<%= link_to(works_book_path, id: 'btn_option') do %>
							        	<i class="fas fa-book"></i>
							        <% end %>
							    </div>
						        <div style="font-size:12px;color:#FAFAFA;margin-top:5px;">
						        	ブック
						        </div>
					        </div>
					        <div class="btns_choice02">
					        	<div>
							      	<%= link_to(works_music_path, id: 'btn_option') do %>
							        	<i class="fas fa-music"></i>
							        <% end %>
						        </div>
						        <div style="font-size:12px;color:#FAFAFA;margin-top:5px;">
						        	ミュージック
						        </div>
					        </div> 
				        </div>   
					</div>
				</span>
			</div>
	    </div>
	    <div class="btns_plus">
			<a href="" data-dismiss="modal" id="btn_plus">
				<i><%= image_tag "plus.png", :class =>'img_time' %></i>
			</a>
		</div>	
	</div>

<% else %>
	<%= render "works/home" %>
<% end %>
