<% if user_signed_in? %>
	<%#トップバー%>
	<div class="bar_top">      
	    <div class="inline_block_middle" style="width:20%;">
	    	<div style="text-align:left;padding-left:15px;">
	    		<%= link_to "/users/user" do %>
	        		<%= image_tag "search_FAFAFA.svg", :style =>'width:17px;height:17px;opacity:0.8;' %>
	        	<% end %>	
	      	</div>
	    </div>
	    <div class="inline_block_middle" style="width:60%;"> 	
	      	<div class="line_limit01" style="text-align:center;">
	      		<%= link_to root_path do %>
	        		<div class="neon">T<span>A</span>VO<span>RE</span></div>
	        	<% end %>
	      	</div>
	    </div>
	    <div class="inline_block_middle" style="width:20%;">
	    	<div style="text-align:right;padding-right:15px;">
	    		<a href="/<%= current_user.username %>">
	        		<% if current_user.image.present? %>
		                <img src="<%= current_user.image(:medium) %>" style="width:25px;height:25px;border-radius:50%;object-fit:cover;">
		            <% else %>
		                <img src="/assets/user.jpg" style="width:25px;height:25px;border-radius:50%;object-fit:cover;">
		            <% end %>
	        	</a>
		    </div>
	    </div>
	</div>
	<div style="height:50px;"></div>

	<% if @posts.present? %>
		<div class="post-list jscroll">
			<% @hash = @posts.group_by{|u| [u.created_at.strftime('%Y%m%d'), u.user] } %>
			<% @hash.each.with_index(1) do |(key, value), index| %>
				<div class="horizontal_scroll">
					<% value.each.with_index(1) do |post, i| %>			
						<div class="grid_home" style="<%= 'margin-left:7%;' if i == 1 %><%= 'margin-left:3%;' if i != 1 %><%= 'margin-right:7%;' if i == value.size %>"> 
							<div class="inner_home">
								<div class="img">
									<% if post.image_url.blank? %>
										<img src="/assets/<%= post.category %>.jpg" class="img_myboom_blur">
									<% else %>
										<% if post.category == "movie" || post.category == "tv" %>
											<% @poster_show = post.image_url.sub(/original/, 'w500') %>
										<% end %>
										<% if post.category == "book" || post.category == "comic" %>
											<% if post.api == "itunes" %>
												<% @poster_show = post.image_url.sub(/1000x1000bb/, '500x500bb') %>
											<% else %>
												<% @poster_show = post.image_url.sub(/jpg/, 'jpg?_ex=500x500') %>
											<% end %>
										<% end %>
										<% if post.category == "music" %>
											<% @poster_show = post.image_url.sub(/1000x1000bb/, '500x500bb') %>
										<% end %>
										<img src="<%= @poster_show %>" class="img_myboom_blur">
									<% end %>
								</div>
								<div class="smoke" style="background:rgba(0,0,0,0.6);">
								</div>
								<div class="layer03" style="padding:15px 15px;">
									<div class="inline_block_middle" style="width:100%;">
										<%= link_to "/#{post.user.username}" do %>
											<div class="inline_block_middle" style="width:48px;">
									            <% if post.user.image.present? %>
									                <img src="<%= post.user.image(:medium) %>" style="width:38px;height:38px;border-radius:50%;object-fit:cover;background:rgba(0,0,0,0.1);box-shadow:1px 1px 5px 2px rgba(0,0,0,0.2);">
									            <% else %>
									                <img src="/assets/user.jpg" style="width:38px;height:38px;border-radius:50%;object-fit:cover;background:rgba(0,0,0,0.1);box-shadow:1px 1px 5px 2px rgba(0,0,0,0.2);">
									            <% end %>
											</div>
											<div class="inline_block_middle" style="width:calc(100% - 48px);">
												<div class="line_limit01">
													<div style="font-size:12px;color:#FAFAFA;word-wrap:break-word;margin-top:1px;">
														<%= post.user.name %>
														<% if post.user.authority == "public" %>
									                    	<img src="/assets/public.svg" class="icon_public_min">
									                    <% end %>
													</div>
												</div>
												<div style="height:2px;"></div>
												<div class="line_limit01">
													<div style="font-size:11px;color:#FAFAFA;word-wrap:break-word;opacity:0.6;">
														<% if post.category == "movie" %>
															<%= image_tag "movie_FAFAFA.svg",:class => "inline_block_middle", :style =>'width:10px;height:10px;' %>
															<span class="inline_block_middle">
																映画
															</span>
														<% end %>
														<% if post.category == "tv" %>
															<%= image_tag "movie_FAFAFA.svg",:class => "inline_block_middle", :style =>'width:10px;height:10px;' %>
															<span class="inline_block_middle">
																テレビ
															</span>
														<% end %>
														<% if post.category == "book" %>
															<%= image_tag "book_FAFAFA.svg",:class => "inline_block_middle", :style =>'width:10px;height:10px;' %>
															<span class="inline_block_middle">
																ブック
															</span>
														<% end %>
														<% if post.category == "comic" %>
															<%= image_tag "book_FAFAFA.svg",:class => "inline_block_middle", :style =>'width:10px;height:10px;' %>
															<span class="inline_block_middle">
																コミック
															</span>
														<% end %>
														<% if post.category == "music" %>
															<%= image_tag "music_FAFAFA.svg",:class => "inline_block_middle", :style =>'width:10px;height:10px;' %>
															<span class="inline_block_middle">
																ミュージック
															</span>
														<% end %>
														<span class="inline_block_middle">
															<% @seconds = (Time.now - post.created_at).round  %>
															<% if @seconds <= 3600 %>
																- <%= @seconds / 60 %>分前
															<% else %>
																<% if @seconds <= 86400 %>
																		- <%= @seconds / (60 * 60) %>時間前
																<% else %>
																	<% if @seconds <= 604800 %>
																		- <%= @seconds / (60 * 60 * 24) %>日前
																	<% else %>
																		- <%= post.created_at.strftime('%m月%d日') %>
																	<% end %>
																<% end %>
															<% end %>
														</span>
													</div>
												</div>
											</div>
										<% end %>
									</div>
								</div>
								<div class="layer01">
									<%= link_to "/post/#{post.id}" do %>
										<% if post.image_url.blank? %>
											<img src="/assets/<%= post.category %>.jpg" class="img_tavore" style="border-radius:4px;">
										<% else %>	
											<img src="<%= @poster_show %>" class="img_tavore" style="border-radius:4px;" >		
										<% end %>
									<% end %>					
								</div>
								<div class="layer02">
									<%= link_to "/post/#{post.id}" do %>
										<div style="font-size:14px;color:#FAFAFA;text-shadow:0px 0px 2px rgba(0,0,0,1);">
											<% if post.review == "bookmark" %>
												<% if post.category == "movie" || post.category == "tv" %>
													観たいです
												<% end %>
												<% if post.category == "book" || post.category == "comic" %>
													読みたいです
												<% end %>
												<% if post.category == "music" %>
													聴きたいです
												<% end %>
											<% end %>
											<% if post.review == "doing" %>
												<% if post.category == "movie" || post.category == "tv" %>
													観ています
												<% end %>
												<% if post.category == "book" || post.category == "comic" %>
													読んでいます
												<% end %>
												<% if post.category == "music" %>
													聴いています
												<% end %>
											<% end %>
											<% if post.review == "good" %>
												<% if post.category == "movie" || post.category == "tv" %>
													観ました
												<% end %>
												<% if post.category == "book" || post.category == "comic" %>
													読みました
												<% end %>
												<% if post.category == "music" %>
													聴きました
												<% end %>
											<% end %>
											<% if post.review == "favorite" %>
												<%= image_tag "star_F8C55A.svg",:class => "inline_block_middle", :style =>'width:14px;height:14px;margin-top:-2px;' %>
										    	<span class="inline_block_middle">
										    		おすすめしています
										    	</span>
											<% end %>
											<% if post.review == "bad" %>
												<%= image_tag "ban_FB473E.svg",:class => "inline_block_middle", :style =>'width:14px;height:14px;' %>
										    	<span class="inline_block_middle">
										    		おすすめしていません
										    	</span>
											<% end %>
										</div>
										<div class="line_limit02" style="white-space:normal;">
											<div style="font-size:18px;color:#FAFAFA;text-shadow:0px 0px 2px rgba(0,0,0,0.8);font-weight:bold;letter-spacing:0.02em;">
												<%= post.title %>
											</div>
										</div>								
										<% if post.description.present? %>
											<div class="balloon_top"></div>
											<div class="balloon">
												<div>
											  		<%= safe_join(post.description.split("\n"),tag(:br)) %>
											  	</div>
											</div>
										<% end %>
									<% end %>
								</div>
							</div>
						</div>		
					<% end %>
				</div>
			<% end %>
			<div style="display:none;">
				<%= paginate @posts %>
			</div>
		</div>
		<div style="height:40px;"></div>
	<% else %>
		<%#投稿がない時%>
		<div class="a1">
		  <div class="a4">
		    <div class="d1">    
		      <div class="d2" style="background:rgba(15,15,15,1);"></div>
		    </div>
		  </div>
		  <div class="a8">
		  		<div style="text-align:center;padding:0 10%;">
					<div>
						<%= image_tag "tavore_logo_01.png", :style =>'width:80px;height:80px;' %>
					</div>
					<div style="font-size:18px;">
						TAVOREへようこそ
					</div>
					<div style="height:5px;"></div>
					<div style="font-size:12px;opacity:0.9;">
						まずはあなたのお気に入りの映画､本､音楽を
						<br>投稿してみましょう
					</div>
					<div style="height:40px;"></div>
				</div>
		  </div>
		</div>
	<% end %>
	<%#投稿ボタン%>
	<%= render "partial/modal_post" %>
	<%#jscroll.js%>
	<script defer>
		$(function() {
	    	$(window).on('scroll', function() {
			    scrollHeight = $(document).height();
			    scrollPosition = $(window).height() + $(window).scrollTop();
			    if ( (scrollHeight - scrollPosition) / scrollHeight <= 0.05) {
			        $('.jscroll').jscroll({
			            contentSelector: '.post-list',
			            nextSelector: 'span.next:last a',
			        });
			    }
			});
		});
	</script>
<% else %>
	<%#ログインしてない時%>
	<%= render "partial/home" %>
<% end %>