<% if user_signed_in? %>
	<div class="main">
		<div class="block_side">
		</div>
		<div class="block_main">
			<div style="height:50px;"></div>
			<div class="swiper-container" style="height:calc(100% - 50px)">
				<div class="swiper-wrapper" style="height:100%">
					<% if @posts.present? %>
						<% @posts.each.with_index(1) do |post, i| %>
							<div class="swiper-slide" style="height:100%"> 
								<div class="base01">
									<% if post.image_url.blank? %>
										<img data-src="/assets/nothing01.jpg" class="img_myboom swiper-lazy">
									<% else %>										
										<img data-src="<%= post.image_url %>" class="img_myboom swiper-lazy">
									<% end %>
									<span>										
										<div class="layer05">
										</div>
										<div class="layer03">
											<div class="inline_block_middle" style="width:80%;">
												<a href="" data-toggle="modal" data-target="#myModal_profile_<%= post.user.id %>">
													<div class="inline_block_middle">
														<% if post.user.image.present? %>
											                <img data-src="<%= post.user.image(:medium) %>" class="swiper-lazy img_user04">
											            <% else %>
											                <img data-src="/assets/user.svg" class="swiper-lazy img_user04" style="box-shadow:none;">
											            <% end %>												
													</div>
													<div class="inline_block_middle">
														<div class="font_white" style="word-wrap:break-word;margin-top:2px;">
															<%= post.user.name %>
															<% if post.user.authority == "public" %>
										                    	<img data-src="/assets/public.svg" class="swiper-lazy" style="width:14px;height:14px;">
										                    <% end %>
														</div>
														<div class="font_gray_min" style="word-wrap:break-word;margin-top:2px;">
															<% if post.category == "movie" %>
																<img data-src="/assets/movie_777777.svg" class="icon_category swiper-lazy"> 映画
															<% end %>
															<% if post.category == "tv" %>
																<img data-src="/assets/movie_777777.svg" class="icon_category swiper-lazy"> テレビ
															<% end %>
															<% if post.category == "book" %>
																<img data-src="/assets/book_777777.svg" class="icon_category swiper-lazy"> ブック
															<% end %>
															<% if post.category == "comic" %>
																<img data-src="/assets/book_777777.svg" class="icon_category swiper-lazy"> コミック
															<% end %>
															<% if post.category == "music" %>
																<img data-src="/assets/music_777777.svg" class="icon_category swiper-lazy"> ミュージック
															<% end %>
															<% if post.category == "link" %>
																<img data-src="/assets/link_777777.svg" class="icon_category swiper-lazy"> リンク
															<% end %>
															<% @seconds = (Time.now - post.created_at).round  %>
															<% if @seconds <= 3600 %>
																- <%= @seconds / 60 %>分前
															<% else %>
																<% if @seconds <= 86400 %>
																		- <%= @seconds / (60 * 60) %>時間前
																<% else %>
																	<% if @seconds <= 604800 %>
																		- <%= @seconds / (60 * 60 * 24) %>日前
																	<% else %>
																		- <%= post.created_at.strftime('%m月%d日') %>
																	<% end %>
																<% end %>
															<% end %>
														</div>
													</div>
												</a>
											</div>						
											<div class="inline_block_middle" style="width:20%;text-align:right;">
												<a style="margin-right:12px;">
													<img data-src="/assets/like_FAFAFA.svg" class="swiper-lazy" style="width:24px;height:24px;opacity:0.5;">
												</a>
												<a href="" data-toggle="modal" data-target="#myModal_half_<%= post.id %>" style="margin-right:6px;">
													<img data-src="/assets/ellipsis_FAFAFA.svg" class="swiper-lazy" style="width:22px;height:22px;opacity:0.5;">
												</a>
											</div>
										</div>
										<div class="layer01">
											<%= link_to "/works/#{post.id}/detail" do %>
												<% if post.image_url.blank? %>
													<img data-src="/assets/nothing01.jpg" class="img_tavore swiper-lazy">
												<% else %>
													<% if post.category == "link" %>
														<img data-src="<%= post.image_url %>" class="swiper-lazy" style="width:140%;height:30vh;margin:0 -20%;object-fit:cover;">
													<% else %>
														<img data-src="<%= post.image_url %>" class="img_tavore swiper-lazy">
													<% end %>
												<% end %>
											<% end %>
											<% if post.category == "music" %>
												<% if post.preview_url.present? %>
													<div class="btn_preview_default" id="btn_preview_<%= post.id %>">
														<img data-src="/assets/play_FAFAFA.svg" class="swiper-lazy" id="icon_play_<%= post.id %>" style="width:11px;height:11px;margin-left:0.5px;">
													</div>
												<% end %>
											<% end %>
											<% if post.category == "link" %>
												<% if post.preview_url.present? %>
													<a target="blank" href="<%= post.preview_url %>">
														<div class="btn_preview_link">
															<img data-src="/assets/link_FAFAFA.svg" class="swiper-lazy" style="width:15px;height:15px;">
														</div>
													</a>
												<% end %>
											<% end %>
										</div>
										<div class="layer02">
											<%= link_to "/works/#{post.id}/detail" do %>
												<div class="font_how">
													<% if post.review == "bookmark" %>
														<img data-src="/assets/bookmark_05627B.svg" class="icon_review swiper-lazy">ブックマーク
													<% end %>
													<% if post.review == "good" %>
														<% if post.category == "movie" || post.category == "tv" %>
															観ました
														<% end %>
														<% if post.category == "book" || post.category == "comic" %>
															読みました
														<% end %>
														<% if post.category == "music" %>
															聴きました
														<% end %>
														<% if post.category == "link" %>
															見ました
														<% end %>
													<% end %>
													<% if post.review == "favorite" %>
														<img data-src="/assets/star_F8C55A.svg" class="icon_review swiper-lazy">おすすめしています
													<% end %>
													<% if post.review == "bad" %>
														<img data-src="/assets/ban_FB473E.svg" class="icon_review swiper-lazy">おすすめしていません
													<% end %>
												</div>
												<div class="contain_title">
													<div class="font_head">
														<%= post.title %>
													</div>
												</div>								
												<% if post.description.present? %>
													<div class="balloon_top"></div>
													<div class="balloon">
														<div>
													  		<%= safe_join(post.description.split("\n"),tag(:br)) %>
													  	</div>
													</div>
												<% end %>
											<% end %>
										</div>
									</span>
								</div>
							</div>
						<% end %>
					<% else %>
						<%= render "partial/nothing" %>
					<% end %>
				</div>
				<div class="visible-md visible-lg">
					<div class="swiper-button-prev"></div>
					<div class="swiper-button-next"></div>
				</div>
			</div>
		</div>
		<div class="block_side">
		</div>
	</div>

	<% if @posts.present? %>
		<% @user_list = [] %>
		<% @posts.each.with_index(1) do |post, i| %>
			<%# 音楽プレビューjs %>
			<% if post.category == "music" %>
				<% if post.preview_url.present? %>
					<audio id="audio_<%= post.id %>" controls preload="none" style="display:none;">
						<source src="<%= post.preview_url %>" type="audio/mpeg"></source>
					</audio>
					<script defer>						  
						$(function(){
					  	  var audio_<%= post.id %> = document.getElementById('audio_<%= post.id %>');
					  	  var img_<%= post.id %> = $("#icon_play_<%= post.id %>");
						  $('#btn_preview_<%= post.id %>').on("click",function(){
						    if(img_<%= post.id %>.attr('src') === "/assets/play_FAFAFA.svg")
						     {	       		       
						       img_<%= post.id %>.attr("src","/assets/pause_FAFAFA.svg");
						       audio_<%= post.id %>.play();
						     }
						    else
						     {
						       img_<%= post.id %>.attr("src","/assets/play_FAFAFA.svg");
						       audio_<%= post.id %>.pause();
						     }
						  });
						  audio_<%= post.id %>.onended = function() {
						  	img_<%= post.id %>.attr("src","/assets/pause_FAFAFA.svg");
						  };
					  	});				
				   	</script>
				<% end %>
			<% end %>
			<%#ハーフモーダル%>
			<%= render partial: 'partial/modal_half', locals: { post: post } %>
			<%# プロフフィールモーダル %>
			<% unless @user_list.include?(post.user.id) %>
				<% @user = post.user %>
		  		<% @checkeds_i = Post.where(user_id: @user.id).where.not(review: "bookmark").size %>
		  		<% @bookmarks_i = Post.where(user_id: @user.id, review: "bookmark").size %>
				<%= render partial: 'partial/profile', locals: { user: @user, checkeds_i: @checkeds_i, bookmarks_i: @bookmarks_i } %>
				<% @user_list.push(post.user.id) %>
			<% end %>
		<% end %>
	<% end %>
	<%#投稿ボタン%>
	<%= render "partial/modal_post" %>
	<%#カテゴリーボタン%>
	<%= render "partial/category" %>
	<%#swiper.js%>
	<script defer src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
	<script defer>
		$(function(){
			var swiper = new Swiper('.swiper-container', {
				direction: 'vertical',
				speed: 550,
				touchAngle: 55,
				navigation: {
			    	nextEl: '.swiper-button-next',
			    	prevEl: '.swiper-button-prev',
			  	},
			  	hideOnClick: false,
			  	preloadImages: false,
				lazy: {
					loadOnTransitionStart: true,
					loadPrevNext: true,
				},
			});
		});
	</script>
<%#ログインしていない時%>
<% else %>
	<%= render "partial/home" %>
<% end %>