<% if user_signed_in? %>
<div class="main">
	<div class="block_side">
	</div>
	<div class="block_main">
		<div style="height:50px;"></div>
		<div class="swiper-container" style="height:calc(100% - 50px)">
		<div class="swiper-wrapper" style="height:100%">

		
		<% if @posts.present? %>
			<% @posts.each.with_index(1) do |post, i| %>
			<div class="swiper-slide" style="height:100%"> 
				<style type="text/css">
					#menu_in<%= post.id %>{
					  overflow: hidden;
					  width: auto;
					  max-height: 0;
					  opacity: 0;
					  -webkit-transition: all .5s ease-in-out 0s;
					  transition: all .5s ease-in-out 0s;
					}
					#menu_in<%= post.id %>.open {
					  max-height:500px;
					  opacity: 1;
					  z-index: 9999;
					}
				</style>
				<script type="text/javascript">
					$(function(){
					    $('#menu<%= post.id %>').click(function(){
					        $('#menu_in<%= post.id %>').toggleClass('open');
					    });
					});
				</script>
				<% if post.category == "music" %>
					<% if post.preview_url.present? %>
						<style type="text/css">
							#btn_preview<%= post.id %> {
						    display: block;
						    width: 40px;
						    height: 40px;
						    background: rgba(50,50,50,0.7);
						    text-align: center;
						    border-radius: 50%;
						    cursor: pointer;
						    position: relative;
						    margin-left:85%;
						    margin-top:-15%;
							}
							@media only screen and (max-width: 768px) {
								#btn_preview<%= post.id %>{
								margin-left:80%;
						    	margin-top:-20%;
								}
							}
							#btn_preview<%= post.id %> i {
							  color: #FAFAFA;
							  line-height: 40px;
							  vertical-align: middle;
							  font-size: 9px;
							  margin-left:1px;
							}
						</style>
						<script type="text/javascript">						  
						  $(function(){
						  	  var audio<%= post.id %> = new Audio("<%= post.preview_url %>");
							  $('#btn_preview<%= post.id %>').on("click",function(){
							    if($("#icon_play<%= post.id %>").hasClass('fa-play'))
							     {
							       $("#icon_play<%= post.id %>").removeClass('fa-play');
							       $("#icon_play<%= post.id %>").addClass('fa-pause');
							       audio<%= post.id %>.play();
							     }
							    else
							     {
							       $("#icon_play<%= post.id %>").removeClass('fa-pause');
							       $("#icon_play<%= post.id %>").addClass('fa-play');
							       audio<%= post.id %>.pause();
							     }
							  });
							  audio<%= post.id %>.onended = function() {
							    $("#icon_play<%= post.id %>").removeClass('fa-pause');
							    $("#icon_play<%= post.id %>").addClass('fa-play');
							  };
						  	});					
					   </script>
					<% end %>
			   <% end %>
				<div class="base01">
					<% if post.image_url.blank? %>
						<%= image_tag "nothing01.jpg", :class =>'img_lavoro02' %>
					<% else %>
						<% if post.category == "music" %>
							<%= image_tag post.image_url, :class =>'img_lavoro002' %>
						<% else %>
							<%= image_tag post.image_url, :class =>'img_lavoro02' %>
						<% end %>
					<% end %>
					<span>
						<div class="layer05">
						</div>
						<div class="layer03">
							<div class="pro01">
								<%= link_to "/users/#{post.user.id}/collection" do %>
									<% if post.user.image.blank?  %>
										<%= image_tag "user09.png", :class =>'img_user04' %>
									<% else %>
										<%= image_tag post.user.image, :class => "img_user04" %>
									<% end %>
								<% end %>
							</div>
							<div class="pro02">
								<%= link_to "/users/#{post.user.id}/collection" do %>
									<div class="font_white">
										<%= post.user.name %>
									</div>
									<div class="font_gray_min">
										<% if post.category == "movie" %>
											<i class="fas fa-film"></i> 映画
										<% end %>
										<% if post.category == "tv" %>
											<i class="fas fa-film"></i> テレビ
										<% end %>
										<% if post.category == "book" %>
											<i class="fas fa-book"></i> ブック
										<% end %>
										<% if post.category == "comic" %>
											<i class="fas fa-book"></i> コミック
										<% end %>
										<% if post.category == "music" %>
											<i class="fas fa-music"></i> ミュージック
										<% end %>
										<% @seconds = (Time.now - post.created_at).round  %>
										<% if @seconds <= 3600 %>
											- <%= @seconds / 60 %>分前
										<% else %>
											<% if @seconds <= 86400 %>
													- <%= @seconds / (60 * 60) %>時間前
											<% else %>
												<% if @seconds <= 604800 %>
													- <%= @seconds / (60 * 60 * 24) %>日前
												<% else %>
													- <%= post.created_at.strftime('%m月%d日') %>
												<% end %>
											<% end %>
										<% end %>
									</div>
								<% end %>
							</div>
							<div class="pro03">		
							</div>
						</div>
						<div class="layer01">
							<%= link_to "/works/#{post.id}/detail" do %>
								<% if post.image_url.blank? %>
									<%= image_tag "nothing01.jpg", :class =>'img_lavoro03' %>
								<% else %>
									<% if post.category == "movie" || post.category == "tv" %>
										<%= image_tag post.image_url, :class =>'img_lavoro10' %>
									<% end %>
									<% if post.category == "book" || post.category == "comic" %>
										<%= image_tag post.image_url, :class =>'img_lavoro09' %>
									<% end %>
									<% if post.category == "music" %>
										<%= image_tag post.image_url, :class =>'img_lavoro03' %>
									<% end %>
								<% end %>
							<% end %>
							<% if post.category == "music" %>
								<% if post.preview_url.present? %>
									<div id="btn_preview<%= post.id %>">
										<i id="icon_play<%= post.id %>" class="fas fa-play"></i>
									</div>
								<% end %>
							<% end %>
						</div>
						<div class="layer02">
							<div class="font_how">
								<% if post.review == "bookmark" %>
									<i class="far fa-bookmark"></i> ブックマーク
								<% end %>
								<% if post.review == "good" %>
									<% if post.category == "movie" || post.category == "tv" %>
										観ました
									<% end %>
									<% if post.category == "book" || post.category == "comic" %>
										読みました
									<% end %>
									<% if post.category == "music" %>
										聴きました
									<% end %>
								<% end %>
								<% if post.review == "favorite" %>
									<i class="fas fa-star" style="color:rgba(252,228,4,0.8);text-shadow:none;"></i> おすすめしています
								<% end %>
								<% if post.review == "bad" %>
									<i class="fas fa-ban" style="color:rgba(236,12,28,0.8);text-shadow:none;"></i> おすすめしていません
								<% end %>
							</div>
							<div class="font_head">
								<%= post.title %>
							</div>
							<% if post.description.present? %>
								<div class="balloon_top"></div>
								<div class="balloon">
								  	<%= simple_format(post.description, {}, wrapper_tag: "div") %>
								</div>
							<% end %>
						</div>
						<div class="layer08">
							<div id="menu<%= post.id %>" class="icon_menu02">
								<%= image_tag "test07.png", :style =>'width:25px;height:25px;' %>
							</div>
							<div id="menu_in<%= post.id %>">
								<% unless post.user.id == current_user.id %>
									<div style="margin:30px 10px 0px 0px;">
										<span id="bookmark-of-<%= post.id %>">
									      	<%= render partial: 'works/bookmark', locals: { post: post } %>
									    </span>
									</div>
									<div style="margin:30px 10px 0px 0px;">
										<%= link_to "/works/#{post.id}/copy" do %>
											<%= image_tag "test10.png", :style =>'width:35px;height:35px;' %>
										<% end %>									
									</div>
								<% end %>
								<% if post.user.id == current_user.id %>
									<div style="margin:30px 10px 0px 0px;">
										<%= link_to "/works/#{post.id}/edit" do %>
											<%= image_tag "test04.png", :style =>'width:35px;height:35px;' %>
										<% end %>
									</div>
									<div style="margin:30px 10px 0px 0px;">
										<%= link_to "/works/#{post.id}/destroy", method: :post, data: { confirm: '削除しますか？' } do %>
											<%= image_tag "test01.png", :style =>'width:35px;height:35px;' %>
										<% end %>
									</div>	
								<% end %>							
							</div>
						</div>
					</span>
				</div>
			</div>
			<% end %>
		<% else %>
			<%= render "partial/nothing01" %>
		<% end %>

		</div>
		<div class="swiper-button-prev"></div>
		<div class="swiper-button-next"></div>
		</div>
	</div>
	<div class="block_side">
	</div>
</div>

<%#投稿ボタン%>
<%= render "partial/post_modal" %>

<%#swiper%>
<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
<script>
	$(function(){
		var swiper = new Swiper('.swiper-container', {
			speed: 500,
			touchAngle: 55,
			navigation: {
		    	nextEl: '.swiper-button-next',
		    	prevEl: '.swiper-button-prev',
		  	},
		  	hideOnClick: false,
		  	effect: 'fade',
		});
	});
</script>

<% else %>
	<%= render "partial/home" %>
	<%#swiper.js%>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
	<script>
		$(function(){
			var swiper = new Swiper('.swiper-container', {
				speed: 500,
				touchAngle: 55,
				loop: true,
				pagination: {
				    el: '.swiper-pagination',
				    type: 'bullets',
				  },
				navigation: {
			    	nextEl: '.swiper-button-next',
			    	prevEl: '.swiper-button-prev',
			  	},
			  	effect: 'fade',
			});
		});
	</script>
<% end %>