<style>
  .bar_top{border:none;}
</style>
<div class="bar_post">      
  <div style="">
    <div class="inline_block_middle" style="width:15%;">
      <div style="text-align:left;padding-left:15px;">
        <a href="javascript:void(0);" onclick="window.history.back();">
          <%= image_tag "left_C2C2C2.svg", :style =>'width:15px;height:15px;' %>
        </a>                    
      </div>
    </div>
    <div class="inline_block_middle" style="width:70%;">
      <div class="contain_title02" style="text-align:center;">
        <div style="font-size:14px;color:#c2c2c2;">
          <%= @title %>
        </div>
      </div>
    </div>
    <div class="inline_block_middle" style="width:15%;">
      	<button id="btn_post" style="text-align:right;padding-right:15px;font-size:15px;color:#2FB4B4;">		
			投稿		
		</button>
    </div>
  </div>
</div>

<div style="height:45px;"></div>
<div style="height:35px;"></div>
<div class="wallpaper" style="top:80px;height:calc(100vh - 80px);">
	<div class="a1">
		<div class="a4">
	        <div class="d1">
	          	<% if @poster.blank? %>
			      	<%= image_tag "nothing01.jpg", :class =>'img_myboom_blur' %>
			    <% else %>
			    	<% @poster_show = @poster.sub(/original/, 'w500') %>
			      	<%= image_tag @poster_show, :class =>'img_myboom_blur' %>
			    <% end %>
				<div class="d2" style="background:rgba(0,0,0,0.75);"></div>
	        </div>
	  	</div>
	</div>
</div>

<%= form_tag(works_save_path, method: :post, :name => "myform") do %>
	<%= hidden_field_tag :category, @category %>
	<%= hidden_field_tag :title, @title %>
	<%= hidden_field_tag :work_id, @work_id %>
	<div style="height:4vh;"></div>
	<div class="nmn03" style="text-align:center;width:100%;padding:0px;margin:0 auto;">
		<div style="display:inline-block;">
			<%= radio_button_tag(:review, "bookmark", true, {:id => "bookmark"}) %>
		    <label for="bookmark">
		    	<%= image_tag "bookmark_05627B.svg", :class =>'icon_review' %>ブックマーク
		    </label>
		</div>
		<div style="display:inline-block;">
		    <%= radio_button_tag(:review, "good", false, {:id => "good"}) %>
		    <label for="good" class="radio">
		    	観ました
		    </label>
	    </div>
	    <div style="height:1.5vh;"></div>
		<div style="display:inline-block;">
			<%= radio_button_tag(:review, "favorite", false, {:id => "favorite"}) %>
		    <label for="favorite">
		    	<%= image_tag "star_F8C55A.svg", :class =>'icon_review' %>おすすめ
		    </label>
		</div>
	    <div style="display:inline-block;">
		    <%= radio_button_tag(:review, "bad", false, {:id => "bad"}) %>
		    <label for="bad" class="radio">
		    	<%= image_tag "ban_FB473E.svg", :class =>'icon_review' %>おすすめしない
		    </label>
	    </div>
	</div>
	<div style="height:1.5vh;"></div>
	<div class="nmn02" style="text-align:center;width:90%;padding:10px;margin:0 auto;">
		<textarea name="description" id="textarea" placeholder="何か書く" wrap="soft"></textarea>
	</div>
	<div style="height:1.5vh;"></div>
	<div style="text-align:center;width:100%;margin:0 auto;">
		<div class="horizontal_scroll">
			<% if @posters.present? %>
				<% @posters.each.with_index(1) do |poster, i| %>
					<% if i == 1 %>
						<% @boolean = true %>
					<% else %>
						<% @boolean = false %>
					<% end %>
					<div class="scroll_item04">
						<div class="radio01">
							<%= radio_button_tag(:image_url, "https://image.tmdb.org/t/p/original#{poster.file_path}", @boolean, {:id => "image_url#{i}"}) %>
							<label for="image_url<%= i %>">
								<img data-src="https://image.tmdb.org/t/p/w500<%= poster.file_path %>" class="lazyload" style="width:auto;height:45vh;">
							</label>
						</div>
					</div>
				<% end %>
			<% else %>
				<% if @poster.blank? %>
					<%= image_tag "nothing01.jpg", :style =>'width:auto;height:45vh;' %>
				<% else %>
					<%= image_tag @poster_show, :style =>'width:auto;height:45vh;' %>
					<%= hidden_field_tag :image_url, @poster %>
				<% end %>
			<% end %>
		</div>
	</div>			
<% end %>

<%#テキストエリアの自動改行%>
<script defer>
	$(function() {
	  var $textarea = $('#textarea');
	  var lineHeight = parseInt($textarea.css('lineHeight'));
	  $textarea.on('input', function(e) {
	    var lines = ($(this).val() + '\n').match(/\n/g).length;
	    $(this).height(lineHeight * lines);
	  });
	});
</script>
<%#投稿ボタンボタン%>
<script defer>
	$('#btn_post').click(function() {
		document.myform.submit();
	});
</script>
<%#lazyload.js%>
<script defer>
  $(function() {
    $(":not(.horizontal_scroll) img.lazyload").lazyload({
        effect: "fadeIn"
    });
    $("img.lazyload").lazyload({
        effect: "fadeIn",
        container: $(".horizontal_scroll")
     });
});
</script>