<%#meta_tag%>
<% if @post.image_url.present? %>
	<% set_meta_tags title: "#{@post.title} | #{@post.user.name}", description: "", og: { title: "#{@post.title} | #{@post.user.name}", image: @post.image_url }, twitter: { title: "#{@post.title} | #{@post.user.name}", image: @post.image_url, card: "summary" } %>
<% else %>
	<% set_meta_tags title: "#{@post.title} | #{@post.user.name}", description: "", og: { title: "#{@post.title} | #{@post.user.name}" }, twitter: { title: "#{@post.title} | #{@post.user.name}", card: "summary" } %>
<% end %>	

<%#壁紙%>
<div class="wallpaper" style="top:45px;height:calc(100vh - 45px);">
	<div class="a1">
		<div class="a4">
	        <div class="d1">
	          	<% if @post.image_url.blank? %>
					<%= image_tag "#{@post.category}.jpg", :class =>'img_myboom_blur' %>
				<% else %>
					<% if @post.category == "movie" || @post.category == "tv" %>
						<% @poster_show = @post.image_url.sub(/original/, 'w500') %>
					<% end %>
					<% if @post.category == "book" || @post.category == "comic" %>
						<% if @post.api == "itunes" %>
							<% @poster_show = @post.image_url.sub(/1000x1000bb/, '500x500bb') %>
						<% else %>
							<% @poster_show = @post.image_url.sub(/jpg/, 'jpg?_ex=500x500') %>
						<% end %>
					<% end %>
					<% if @post.category == "music" %>
						<% @poster_show = @post.image_url.sub(/1000x1000bb/, '500x500bb') %>
					<% end %>							
					<%= image_tag @poster_show, :class =>'img_myboom_blur' %>
				<% end %>
				<div class="d2" style="background:rgba(0,0,0,0.75);"></div>
	        </div>
	  	</div>
	</div>
</div>

<div style="height:45px;"></div>
<div style="height:20px;"></div>
<div style="width:100%;">
    <div class="inline_block_middle" style="width:50%;">
      	<div style="text-align:left;padding-left:20px;">
    	   	<a href="javascript:void(0);" onclick="window.history.back();">
          		<%= image_tag "left_FAFAFA.svg", :class =>'inline_block_middle', :style =>'width:15px;height:15px;margin-right:3px;opacity:0.4;' %>
        	</a>
      	</div>
    </div>
    <div class="inline_block_middle" style="width:50%;">
    	<div style="text-align:right;padding-right:20px;">    		
      	</div>
    </div>
</div>
<div style="height:20px;"></div>

<div style="text-align:center;">
	<% if @post.image_url.blank? %>
		<%= image_tag "#{@post.category}.jpg", :style =>'width:42%;height:auto;' %>
	<% else %>	
		<% if @post.category == "music" %>
			<div class="pile_preview" style="width:42%;height:auto;">
				<%= image_tag @poster_show, :class =>'img_tavore' %>
				<div class="btn_preview_min" id="btn_preview">
					<%= image_tag "play_FAFAFA.svg", :id =>'icon_play', :style =>'width:9px;height:9px;margin-left:0.5px;' %>
				</div>
			</div>
		<% else %>													
			<%= image_tag @poster_show, :style =>'width:42%;height:auto;' %>
		<% end %>
	<% end %>
	<div style="height:10px;"></div>
	<div style="padding:0 10%;font-size:16px;color:#FAFAFA;font-weight:bold;">
		<%= @post.title %>
	</div>
	<% if @release.present? %>
		<div style="height:2px;"></div>
		<div class="contain_title">
			<div style="font-size:12px;color:#999999;">
				<%= @release %>
			</div>
		</div>
	<% end %>
	<% if @producer.present? %>
		<div style="height:2px;"></div>
		<div class="contain_title">
			<div style="font-size:12px;color:#999999;">
				<%= @producer %>
			</div>
		</div>
	<% end %>
</div>
<div style="height:20px;"></div>

<%#投稿%>
<div style="margin:12px 20px;padding:15px 20px;background:-webkit-linear-gradient(-45deg,rgba(17,17,17,0.6),rgba(5,98,123,0.3));background:linear-gradient(-45deg,rgba(17,17,17,0.6),rgba(5,98,123,0.3));border-radius:5px;">
	<%= render partial: 'partial/wall_posts', locals: { post: @post } %>
	<div style="height:10px;"></div>
	<div style="width:100%;text-align:right;">
		<a href="#" data-toggle="modal" data-target="#myModal_half_<%= @post.id %>">
	  		<img data-src="/assets/ellipsis_FAFAFA.svg" class="icon_review_min lazyload" style="width:16px;height:16px;margin-right:3px;opacity:0.4;">
		</a>
	</div>
</div>
<%#その他の投稿%>
<% if @posts_other.present? %>
	<% @posts_other.each.with_index(1) do |post, i| %>	
		<div style="margin:12px 20px;padding:15px 20px;background:-webkit-linear-gradient(-45deg,rgba(17,17,17,0.6),rgba(50,50,50,0.3));background:linear-gradient(-45deg,rgba(17,17,17,0.6),rgba(100,100,100,0.3));border-radius:5px;">
			<%= render partial: 'partial/wall_posts', locals: { post: post } %>
		</div>
	<% end %>
<% end %>
<%#この作品を投稿%>
<div style="margin:12px 20px;padding:15px 20px;background:-webkit-linear-gradient(-45deg,rgba(17,17,17,0.6),rgba(50,50,50,0.3));background:linear-gradient(-45deg,rgba(17,17,17,0.6),rgba(100,100,100,0.3));border-radius:5px;text-align:center;">
		<%= link_to "/works/#{@post.id}/copy" ,:style => 'width:100%;height:100%;' do %>	
			<div style="height:15px;"></div>
			<img data-src="/assets/add_FAFAFA.svg" class="inline_block_middle lazyload" style="width:20px;height:20px;opacity:0.6;">
			<div class="inline_block_middle" style="padding-left:10px;">
				<div style="font-size:13px;color:#FAFAFA;opacity:0.6;">
			  		この作品を投稿する
			  	</div>	 
		  	</div>
	  		<div style="height:15px;"></div>
		<% end %>
	</div>
</div>
<div style="height:20px;"></div>

<%#音楽プレビューjs%>
<% if @post.preview_url.present? %>
	<audio id="audio" controls preload="none" style="display:none;">
		<source src="<%= @post.preview_url %>" type="audio/mpeg"></source>
	</audio>
	<script defer>						  
		$(function(){
	  		var audio = document.getElementById('audio');
	  		var img = $("#icon_play");
		  	$('#btn_preview').on("click",function(){
			    if(img.attr('src') === "/assets/play_FAFAFA.svg"){		     	       		       
			       	img.attr("src","/assets/pause_FAFAFA.svg");
			       	audio.play();
			    }
			    else{	     
			       	img.attr("src","/assets/play_FAFAFA.svg");
			       	audio.pause();
			    }
		  	});
		  	audio.onended = function() {
		  		img.attr("src","/assets/play_FAFAFA.svg");
		  		audio.currentTime = 0;
		  	};
	  	});				
   	</script>
<% end %>
<%#作品詳細モーダル%>
<%= render partial: 'partial/modal_info', locals: { post: @post } %>
<%#ハーフモーダル%>
<%= render partial: 'partial/modal_half', locals: { post: @post } %>
<%#シェアモーダル%>
<%= render partial: 'partial/modal_half_share', locals: { post: @post } %>
<%#クリップボード%>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.8/clipboard.min.js"></script>
<%#lazyload.js%>
<script defer>
	$(function() {
    	$('img.lazyload').lazyload();
	});
</script>