<%#meta_tag%>
<% if @post.image_url.present? %>
	<% set_meta_tags title: "#{@post.title} | #{@post.user.name}", description: "", og: { title: "#{@post.title} | #{@post.user.name}", image: @post.image_url }, twitter: { title: "#{@post.title} | #{@post.user.name}", image: @post.image_url, card: "summary" } %>
<% else %>
	<% set_meta_tags title: "#{@post.title} | #{@post.user.name}", description: "", og: { title: "#{@post.title} | #{@post.user.name}" }, twitter: { title: "#{@post.title} | #{@post.user.name}", card: "summary" } %>
<% end %>	

<%#トップバー%>
<div class="bar_top">      
    <div class="inline_block_middle" style="width:20%;">
    	<div style="text-align:left;padding-left:15px;">
    		<% if request.referer&.include?(request.host_with_port) %>
			  	<a href="javascript:void(0);" onclick="window.history.back();">
          			<%= image_tag "left_FAFAFA.svg", :style =>'width:18px;height:18px;opacity:0.8;' %>
        		</a>
			<% end %>
      	</div>
    </div>
    <div class="inline_block_middle" style="width:60%;"> 	
      	<div class="line_limit01" style="text-align:center;">
      		<%= link_to root_path do %>
        		<div class="neon">T<span>A</span>VO<span>RE</span></div>
        	<% end %>
      	</div>
    </div>
    <div class="inline_block_middle" style="width:20%;">
    	<div style="text-align:right;padding-right:15px;">   			
    		<div class="inline_block_middle"> 
	        	<a href="#" data-toggle="modal" data-target="#myModal_half_<%= @post.id %>">
	        		<%= image_tag "ellipsis_FAFAFA.svg", :style =>'width:18px;height:18px;opacity:0.8;' %>
	        	</a>
	        </div>		        
	    </div>
    </div>
</div>
<div style="height:50px;"></div>
<div style="height:15px;"></div>
				
<%#作品%>
<div style="text-align:center;">
	<% if @post.image_url.blank? %>
		<%= image_tag "#{@post.category}.jpg", :style =>'width:45%;height:auto;border-radius:5px;' %>
	<% else %>	
		<% if @post.category == "music" %>
			<div class="pile_preview" style="width:45%;height:auto;">
				<%= image_tag @poster_show, :class =>'img_tavore', :style =>'border-radius:5px' %>
				<div class="btn_preview" id="btn_preview">
					<%= image_tag "play_FAFAFA.svg", :id =>'icon_play', :style =>'width:10px;height:10px;margin-left:0.5px;' %>
				</div>
			</div>
		<% else %>													
			<%= image_tag @poster_show, :style =>'width:45%;height:auto;border-radius:5px;' %>
		<% end %>
	<% end %>
	<div style="height:10px;"></div>
	<div style="padding:0 10%;font-size:16px;color:#FAFAFA;font-weight:bold;">
		<%= @post.title %>
	</div>
	<% if @release.present? %>
		<div class="line_limit02">
			<div style="font-size:12px;color:#999999;">
				<%= @release %>
			</div>
		</div>
	<% end %>
	<% if @producer.present? %>
		<div class="line_limit02">
			<div style="font-size:12px;color:#999999;">
				<%= @producer %>
			</div>
		</div>
	<% end %>
</div>
<div style="height:20px;"></div>

<%#投稿%>
<div style="margin:0px 15px;padding:20px 15px;background:-webkit-linear-gradient(-45deg,rgba(17,17,17,0.6),rgba(5,98,123,0.3));background:linear-gradient(-45deg,rgba(17,17,17,0.6),rgba(5,98,123,0.3));border-radius:5px;">
	<div class="inline_block_middle" style="width:100%;">
		<%= link_to "/#{@post.user.username}" do %>
			<div class="inline_block_middle" style="width:52px;">
	            <% if @post.user.image.present? %>
	                <img src="<%= @post.user.image(:medium) %>" class="" style="width:42px;height:42px;border-radius:50%;object-fit:cover;background:rgba(0,0,0,0.1);box-shadow:1px 1px 5px 2px rgba(0,0,0,0.2);">
	            <% else %>
	                <img src="/assets/user.jpg" class="" style="width:42px;height:42px;border-radius:50%;object-fit:cover;background:rgba(0,0,0,0.1);box-shadow:1px 1px 5px 2px rgba(0,0,0,0.2);">
	            <% end %>
			</div>
			<div class="inline_block_middle" style="width:calc(100% - 52px);">
				<div class="line_limit01">
					<div style="font-size:12px;color:#FAFAFA;font-weight:bold">
						<%= @post.user.name %>
						<% if @post.user.authority == "public" %>
	                    	<img data-src="/assets/public.svg" class="icon_public_min swiper-lazy">
	                    <% end %>
					</div>
				</div>
				<div style="height:5px;"></div>
				<div class="line_limit01">
					<div style="font-size:10px;color:#FAFAFA;opacity:1;">
						<% if @post.category == "movie" %>
							<%= image_tag "movie_FAFAFA.svg",:class => "inline_block_middle", :style =>'width:10px;height:10px;margin-top:-2px;' %>
							<span class="inline_block_middle">
								映画
							</span>
						<% end %>
						<% if @post.category == "tv" %>
							<%= image_tag "movie_FAFAFA.svg",:class => "inline_block_middle", :style =>'width:10px;height:10px;margin-top:-2px;' %>
							<span class="inline_block_middle">
								テレビ
							</span>
						<% end %>
						<% if @post.category == "book" %>
							<%= image_tag "book_FAFAFA.svg",:class => "inline_block_middle", :style =>'width:10px;height:10px;margin-top:-2px;' %>
							<span class="inline_block_middle">
								ブック
							</span>
						<% end %>
						<% if @post.category == "comic" %>
							<%= image_tag "book_FAFAFA.svg",:class => "inline_block_middle", :style =>'width:10px;height:10px;margin-top:-2px;' %>
							<span class="inline_block_middle">
								コミック
							</span>
						<% end %>
						<% if @post.category == "music" %>
							<%= image_tag "music_FAFAFA.svg",:class => "inline_block_middle", :style =>'width:10px;height:10px;margin-top:-2px;' %>
							<span class="inline_block_middle">
								ミュージック
							</span>
						<% end %>
						<span class="inline_block_middle">
							<% @seconds = (Time.now - @post.created_at).round  %>
							<% if @seconds <= 3600 %>
								- <%= @seconds / 60 %>分前
							<% else %>
								<% if @seconds <= 86400 %>
										- <%= @seconds / (60 * 60) %>時間前
								<% else %>
									<% if @seconds <= 604800 %>
										- <%= @seconds / (60 * 60 * 24) %>日前
									<% else %>
										- <%= @post.created_at.strftime('%m月%d日') %>
									<% end %>
								<% end %>
							<% end %>
						</span>
					</div>
				</div>
			</div>
		<% end %>
	</div>						
	<div style="height:15px;"></div>
	<div style="font-size:13px;color:#FAFAFA;opacity:1;margin-left:5px">
		<% if @post.review == "bookmark" %>
			<% if @post.category == "movie" || @post.category == "tv" %>
				観たいです
			<% end %>
			<% if @post.category == "book" || @post.category == "comic" %>
				読みたいです
			<% end %>
			<% if @post.category == "music" %>
				聴きたいです
			<% end %>
		<% end %>
		<% if @post.review == "doing" %>
			<% if @post.category == "movie" || @post.category == "tv" %>
				観ています
			<% end %>
			<% if @post.category == "book" || @post.category == "comic" %>
				読んでいます
			<% end %>
			<% if @post.category == "music" %>
				聴いています
			<% end %>
		<% end %>
		<% if @post.review == "good" %>
			<% if @post.category == "movie" || @post.category == "tv" %>
				観ました
			<% end %>
			<% if @post.category == "book" || @post.category == "comic" %>
				読みました
			<% end %>
			<% if @post.category == "music" %>
				聴きました
			<% end %>
		<% end %>
		<% if @post.review == "favorite" %>
			<%= image_tag "star_F8C55A.svg",:class => "inline_block_middle", :style =>'width:13px;height:13px;margin-top:-2px;' %>
	    	<span class="inline_block_middle">
	    		おすすめしています
	    	</span>
		<% end %>
		<% if @post.review == "bad" %>
			<%= image_tag "ban_FB473E.svg",:class => "inline_block_middle", :style =>'width:13px;height:13px;' %>
	    	<span class="inline_block_middle">
	    		おすすめしていません
	    	</span>
		<% end %>
		</div>
		<% if @post.description.present? %>
			<div style="height:10px;"></div>
			<div style="font-size:15px;color:#FAFAFA;opacity:0.8;line-height:1.4;font-weight:bold;margin:0 5px;">
				“<%= safe_join(@post.description.split("\n"), tag(:br)) %>”
		</div>
	<% end %>
</div>
<div style="height:15px;"></div>


<% if user_signed_in? %>
	<% if @post.user == current_user %>
		<%#メモ%>
		<% if @memos.present? %>
			<% @memos.each.with_index(1) do |memo, i| %>			
				<div style="margin:0px 15px;padding:20px 15px;background:-webkit-linear-gradient(-45deg,rgba(17,17,17,0.6),rgba(40,40,40,0.3));background:linear-gradient(-45deg,rgba(17,17,17,0.6),rgba(40,40,40,0.3));border-radius:5px;">
					<div class="inline_block_middle" style="width:80%;">
						<%= link_to "/#{memo.user.username}" do %>
							<div class="inline_block_middle" style="width:52px;">
					            <% if memo.user.image.present? %>
					                <img src="<%= @post.user.image(:medium) %>" class="" style="width:42px;height:42px;border-radius:50%;object-fit:cover;background:rgba(0,0,0,0.1);box-shadow:1px 1px 5px 2px rgba(0,0,0,0.2);">
					            <% else %>
					                <img src="/assets/user.jpg" class="" style="width:42px;height:42px;border-radius:50%;object-fit:cover;background:rgba(0,0,0,0.1);box-shadow:1px 1px 5px 2px rgba(0,0,0,0.2);">
					            <% end %>
							</div>
							<div class="inline_block_middle" style="width:calc(100% - 52px);">
								<div class="line_limit01">
									<div style="font-size:12px;color:#FAFAFA;opacity:0.6;font-weight:bold;">
										<%= memo.user.name %>
										<% if memo.user.authority == "public" %>
					                    	<img data-src="/assets/public.svg" class="icon_public_min swiper-lazy">
					                    <% end %>
									</div>
								</div>
								<div style="height:5px;"></div>
								<div class="line_limit01">
									<div style="font-size:10px;color:#FAFAFA;opacity:0.6;">
										<%= memo.created_at.strftime('%Y/%m/%d %H:%M') %>
									</div>
								</div>
							</div>
						<% end %>
					</div>
					<div class="inline_block_middle" style="width:20%;text-align:right;">
						<a href="#" data-toggle="modal" data-target="#myModal_memo_<%= memo.id %>" style="padding-right:10px;">
				    		<%= image_tag "ellipsis_FAFAFA.svg", :style =>'width:16px;height:16px;opacity:0.6;' %>
				    	</a>
					</div>						
					<div style="height:15px;"></div>
					<div style="font-size:13px;color:#FAFAFA;font-weight:normal;opacity:0.6;line-height:1.4;margin:0 5px;">
						<%= safe_join(memo.content.split("\n"), tag(:br)) %>
					</div>
				</div>
				<div style="height:15px;"></div>
				<%#メモモーダル%>
				<div class="modal bottom fade" id="myModal_memo_<%= memo.id %>">
					<div class="modal-dialog" style="position:absolute;bottom:0;width:100%;height:auto;text-align:center;padding:30px 8% 0;border-radius:20px 20px 0 0;background:rgba(15,15,15,1);">
						<%= link_to "/memos/#{memo.id}/edit" do %>
							<div class="btn_half_item">  
								<%= image_tag "edit_FAFAFA.svg", :style =>'width:18px;height:18px;margin-right:15px;' %>メモを編集
							</div>
						<% end %>
						<div style="height:30px"></div>
						<%= link_to "/memos/#{memo.id}/destroy", method: :post, data: { confirm: '削除しますか？' } do %>
							<div class="btn_half_item" style="color:#FB473E;">  
								<%= image_tag "trash_FB473E.svg", :style =>'width:18px;height:18px;margin-right:15px;' %>メモを削除
							</div>
						<% end %>
						<span data-toggle="modal" data-dismiss="modal" id="dismiss_myModal_memo_<%= memo.id %>">
							<div class="btn_half_close">  
								<%= image_tag "ban_FAFAFA.svg", :style =>'width:20px;height:20px;margin-top:-2px;margin-right:5px;' %>キャンセル
							</div>
					  	</span>	
					</div>
				</div>
				<%#モーダルtubolinks不具合修正%>
				<script defer>
					$(function(){
						var display_memo_<%= memo.id %> = $('#myModal_memo_<%= memo.id %>').css('display');
						//モーダルが表示されているのに表示判定されてなかったら
						if(display_memo_<%= memo.id %> === 'block'){
							//モーダルを表示状態にする
							$('body').removeClass('modal-open');
								$('.modal-backdrop').remove();				
							$('#myModal_memo_<%= memo.id %>').modal('toggle');
							//クリックでモーダルを閉じる 
							$('#dismiss_myModal_memo_<%= memo.id %>').on("click",function(){
								$('body').removeClass('modal-open');
							  	$('.modal-backdrop').remove();
								$('#myModal_memo_<%= memo.id %>').modal('hide'); 
							});
						}				
					});
				</script>
			<% end %>
		<% end %>
		<div style="height:100px;"></div>
		<%#メモボタン%>
		<div style="position:fixed;bottom:3%;right:5%;width:auto;z-index:99;">
			<a href="/memos/<%= @post.id %>/new" style="position:relative;display:inline-block;vertical-align:middle;width:55px;height:55px;line-height:55px;background:rgba(0,60,85,1);text-align:center;border-radius:50%;">
				<i>
					<%= image_tag "memo_FAFAFA.svg", :style =>'width:20px;height:20px;opacity:0.8;' %>
				</i>
			</a>
		</div>
	<% end %>
<% end %>

<%#音楽プレビューjs%>
<% if @post.preview_url.present? %>
	<audio id="audio" controls preload="none" style="display:none;">
		<source src="<%= @post.preview_url %>" type="audio/mpeg"></source>
	</audio>
	<script defer>						  
		$(function(){
	  		var audio = document.getElementById('audio');
	  		var img = $("#icon_play");
		  	$('#btn_preview').on("click",function(){
			    if(img.attr('src') === "/assets/play_FAFAFA.svg"){		     	       		       
			       	img.attr("src","/assets/pause_FAFAFA.svg");
			       	audio.play();
			    }
			    else{	     
			       	img.attr("src","/assets/play_FAFAFA.svg");
			       	audio.pause();
			    }
		  	});
		  	audio.onended = function() {
		  		img.attr("src","/assets/play_FAFAFA.svg");
		  		audio.currentTime = 0;
		  	};
	  	});				
   	</script>
<% end %>
<%#ハーフモーダル%>
<%= render partial: 'partial/modal_half', locals: { post: @post } %>
<%#lazyload.js%>
<script defer>
	$(function() {
    	$('img.lazyload').lazyload();
	});
</script>