<%= form_tag({action: 'search'}, {method: 'get'}) do %>
<%= label_tag :title_itunes,'itunes検索' %>
<%= text_field_tag 'title_itunes', params[:title_itunes] %>
<%= submit_tag "検索" %>
<% end %>

<table>
<thead>
<tr>
<th>商品名</th>
<th>著者名</th>
<th>画像</th>
</tr>
</thead>
<tbody>
<% if @itunes.present? %>
<% @itunes.each do |item| %>
<tr>
<td><%= item["trackCensoredName"] %></td>
<td><%= item["artistName"] %></td>
<td><%= image_tag item["artworkUrl100"] %></td> 
</tr>
<% end %>
<% end %>
</tbody>
</table>

<%= form_tag({action: 'search'}, {method: 'get'}) do %>
<%= label_tag :title_movie,'tmdb検索' %>
<%= text_field_tag 'title_movie', params[:title_movie] %>
<%= submit_tag "検索" %>
<% end %>

<table>
<thead>
<tr>
<th>商品名</th>
<th>著者名</th>
<th>画像</th>
</tr>
</thead>
<tbody>
<% if @tmdbs.present? %>
<% @tmdbs.each do |item| %>
<tr>
<td><%= item["title"] %></td>
<td><%= item["release_date"] %></td>
<td><%= image_tag "https://image.tmdb.org/t/p/w500/#{item.poster_path}", :style =>'width:100px;height:100px;' %></td> 
</tr>
<% end %>
<% end %>
</tbody>
</table>


<%= form_tag({action: 'search'}, {method: 'get'}) do %>
<%= label_tag :title,'rakuten検索' %>
<%= text_field_tag 'title', params[:title] %>
<%= submit_tag "検索" %>
<% end %>

<table>
<thead>
<tr>
<th>商品名</th>
<th>著者名</th>
<th>画像</th>
</tr>
</thead>
<tbody>
<% if @items.present? %>
<% @items.each do |item| %>
<tr>
<td><%= item["title"] %></td>
<td><%= item["author"] %></td>
<td><%= image_tag item["largeImageUrl"], :style =>'width:100px;height:100px;'  %></td> 
</tr>
<% end %>
<% end %>
</tbody>
</table>

