<div class="main">
	<div class="block_side">
	</div>
	<div class="block_main">

		<div style="height:50px;"></div>

		<div class="a1">
			<div class="a4">
				<div class="d1">
					<%= image_tag "movie01.jpg", :class =>'img_lavoro04' %>
				</div>
			</div>
			<div class="a5">
				<div class="e1">
					<div class="e2">
						<div style="font-size:20px;text-align:center;">
							<% if current_user.image.blank?  %>
								<%= image_tag "user09.png", :class =>'img_user08' %>
							<% else %>
								<%= image_tag current_user.image, :class => "img_user08" %>
							<% end %>
						</div>
						<div style="font-size:20px;text-align:center;">
							aripei
						</div>
						<div style="height:2vh;"></div>
						<div style="text-align:center;width:100%;">
							<div style="font-size:10px;display:inline-block;">
								29 フォロー 
							</div>
							<div style="display:inline-block;width:10%;">
							</div>
							<div style="font-size:10px;display:inline-block;">
								30 フォロワー
							</div>
						</div>
						<div style="height:5vh;"></div>
						<div style="font-size:10px;text-align:center;color:rgba(39,134,160,1);">
							<i class="fas fa-pen"></i> プロフィールを編集
						</div>
						<div style="height:10vh;"></div>
						<div style="text-align:center;width:100%;">
							<div class="pro20">
								<%= image_tag "test25.png", :style =>'width:30px;height:30px;' %>
								<div style="font-size:10px;margin-top:5px;">
									自分の投稿
								</div>
							</div>
							<div class="pro20">
								<%= image_tag "test23.png", :style =>'width:30px;height:30px;' %>
								<div style="font-size:10px;margin-top:5px;">
									友達を招待
								</div>
							</div>
							<div class="pro20">
								<%= image_tag "test24.png", :style =>'width:30px;height:30px;' %>
								<div style="font-size:10px;margin-top:5px;">
									設定
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	
		
	</div>
</div>



