<% if params[:q].blank? %>
	<% if @users.present? %>
	  	<% @users.each do |user| %>
	  		<% unless user == current_user %>
		  		<a href="" data-toggle="modal" data-target="#myModal_profile_<%= user.id %>">
		          <div class="box_tests05">
		            <div class="inline_block_middle" style="width:20%;padding-left:5px;">
			            <%= image_tag user.image(:medium), :class =>'img_user09' %>
		            </div>
		            <div class="inline_block_middle" style="width:60%;padding-left:5px;">
		              	<span class="font_white_max">
		                	<%= user.name %>
		                	<% if user.authority == "public" %>
		                		<%= image_tag "test55.png", :style =>'width:14px;height:14px;' %>
		                	<% end %>
		              	</span>
		            </div>
		            <div class="inline_block_middle" style="width:20%;text-align:right;padding-right:10px;">
		            	<div class="font_gray_max">
			              <i class="fas fa-chevron-right"></i>
			            </div>
		            </div>
		          </div>
		        </a>      
	        <% end %>
	  	<% end %>
	<% else %>
	 	<div class="font_gray" style="margin-top:30vh;text-align:center;">
			<%= image_tag "warning_gray.png", :style =>'width:20px;height:20px;' %> フォローされているユーザーがいません
		</div>
	<% end %>
<% else %>
	<% if @items.present? %>
	  	<% @items.each do |user| %>
	  		<% unless user == current_user %>
		  		<a href="" data-toggle="modal" data-target="#myModal_profile_<%= user.id %>">
		          <div class="box_tests05">
		            <div class="inline_block_middle" style="width:20%;padding-left:5px;">
			            <%= image_tag user.image(:medium), :class =>'img_user09' %>
		            </div>
		            <div class="inline_block_middle" style="width:60%;padding-left:5px;">
		              	<span class="font_white_max">
		                	<%= user.name %>
		                	<% if user.authority == "public" %>
		                		<%= image_tag "test55.png", :style =>'width:14px;height:14px;' %>
		                	<% end %>
		              	</span>
		            </div>
		            <div class="inline_block_middle" style="width:20%;text-align:right;padding-right:10px;">
		            	<div class="font_gray_max">
			              <i class="fas fa-chevron-right"></i>
			            </div>
		            </div>
		          </div>
		        </a>	        
	        <% end %>
	  	<% end %>
	<% else %>
		<div class="font_gray" style="margin-top:30vh;text-align:center;">
			<%= image_tag "warning_gray.png", :style =>'width:20px;height:20px;' %> 結果がありません
		</div>
	<% end %>
<% end %>