<div class="modal fade" id="myModal_profile_<%= @user.id %>">
  <div class="height_modal"></div>
    <div class="modal-dialog">
      <div class="a1">
        <div class="a4">
          <div class="d1">
            <div class="d7"></div>
            <% if @list = List.find_by(user_id: @user.id, title: "プロフィール") %>
              <img data-src="<%= @list.post.image_url %>" class="img_myboom lazyload_modal_profile_<%= @user.id %>">
            <% else %>
              <%#myboomのデフォルト画像%>
            <% end %>
          </div>
        </div>
        <div class="a11">
          <div class="font_white" style="margin:10px;width:35%;display:inline-block;">
            <div class="contain_title02">
              <% if @list.present? %>
                <div>
                  <% if @list.post.category == "movie" %>
                    <%= image_tag "movie_white.png", :class =>'icon_category' %> <%= @list.post.title %>
                  <% end %>
                  <% if @list.post.category == "tv" %>
                    <%= image_tag "movie_white.png", :class =>'icon_category' %> <%= @list.post.title %>
                  <% end %>
                  <% if @list.post.category == "book" %>
                    <%= image_tag "book_white.png", :class =>'icon_category' %> <%= @list.post.title %>
                  <% end %>
                  <% if @list.post.category == "comic" %>
                    <%= image_tag "book_white.png", :class =>'icon_category' %> <%= @list.post.title %>
                  <% end %>
                  <% if @list.post.category == "music" %>
                    <%= image_tag "music_white.png", :class =>'icon_category' %> <%= @list.post.title %>
                  <% end %>
                </div>
              <% else %>
                <div>
                  <%#myboomが設定されていません%>
                </div>
              <% end %>
            </div>
          </div>
        </div>
        <div class="a8">     
          <div style="width:100%;"> 
            <% if current_user?(@user) %>
              <div class="pro34" style="vertical-align:bottom;">
                <%= link_to "/users/following" do %>              
                  <div style="font-size:11px;color:#C2C2C2;border-bottom: solid 1px rgba(5,98,123,0.8);margin-bottom:1vh;">
                      <%= current_user.followings.size %> followings
                  </div> 
                <% end %>
              </div> 
            <% end %>      
          	<div class="pro33" style="vertical-align:bottom;">
              <div style="text-align:center;">
                  <img data-src="<%= user.image(:large) %>" class="img_user08 lazyload_modal_profile_<%= @user.id %>">
              </div>
              <div style="font-size:18px;text-align:center;margin-top:10px;">
                <%= user.name %>
                <% if user.authority == "public" %>
                  <%= image_tag "test55.png", :style =>'width:14px;height:14px;' %>
                <% end %>
              </div>
            </div>  
            <% if current_user?(@user) %>
              <div class="pro34" style="vertical-align:bottom;">
                <%= link_to "/users/follower" do %>   
                  <div style="font-size:11px;color:#C2C2C2;border-bottom: solid 1px rgba(5,98,123,0.8);margin-bottom:1vh;">
                      <%= current_user.followers.size %> followers
                  </div> 
                <% end %>
              </div>  
            <% end %>         
          </div>     
          <% if @user.description.present? %>
            <div style="height:0.5vh;"></div>
            <div class="font_gray_min" style="width:100%;padding:0 20px;color:#C2C2C2;">
              <%= simple_format(@user.description, {}, wrapper_tag: "div") %>
            </div>
          <% end %>                   	            
          <div style="height:5vh;"></div>
        	<div style="text-align:center;">
          	<div id="relationship-of-<%= @user.id %>">
		      	  <%= render partial: 'relationships/relationship' %>
		        </div>
	        </div>       
          <div style="height:8vh;"></div>
          <div style="text-align:center;width:95%;display:inline-block;">
            <div class="pro20">
          	  <div>
                <%= image_tag "checked.png", :style =>'width:16px;height:16px;' %>
              </div> 
              <div style="font-size:12px;margin-top:5px;">
                <%= @checkeds_i %> checkeds
              </div> 
            </div>
            <div class="pro20">
              <div>
                <%= image_tag "bookmark.png", :style =>'width:16px;height:16px;' %>
              </div> 
              <div style="font-size:12px;margin-top:5px;">
                <%= @bookmarks_i %> bookmarks
              </div> 
            </div>
            <div class="pro20">
              <div>
                <%= image_tag "test51.png", :style =>'width:16px;height:16px;' %>
              </div> 
              <div style="font-size:12px;margin-top:5px;">
                coming soon
              </div> 
            </div>
          </div>  
	        <div style="height:10vh;"></div>
        </div>
        <div class="a10">
          <div class="pro19">             
            <a data-dismiss="modal" id="dismiss_dashbord">
              <%= image_tag "close_blue.png", :class =>'img_left02' %>
            </a>
          </div>
        </div>
    </div>
  </div>
</div>

<%#lazyload.js%>
<script type="text/javascript">
  $('#myModal_profile_<%= @user.id %>').on("show.bs.modal", function () {
      $('img.lazyload_modal_profile_<%= @user.id %>').lazyload();
    });      
</script>

<%#モーダルtubolinks不具合修正%>
<script type="text/javascript">
  $(function(){
    var display_profile_<%= @user.id %> = $('#myModal_profile_<%= @user.id %>').css('display');
    //モーダルが表示されているのに表示判定されてなかったら
    if(display_profile_<%= @user.id %> === 'block'){
      //モーダルを表示状態にする        
      $('body').removeClass('modal-open');
      $('.modal-backdrop').remove();
      $('#myModal_profile_<%= @user.id %>').modal('toggle');
      //クリックでモーダルを閉じる 
      $('#dismiss_profile_<%= @user.id %>').on("click",function(){
        $('body').removeClass('modal-open');
          $('.modal-backdrop').remove();
        $('#myModal_profile_<%= @user.id %>').modal('hide'); 
      });
    }       
  });
</script>