<% if params[:q].blank? %>
	<% if @posts.present? %>
		<% @posts.each.with_index(1) do |post, i| %>
			<%# 3列表示(lazyload) %>
			<div class="<%= 'test_radio_right' if i % 3 == 0 %> <%= 'test_radio' if i % 3 != 0 %>">
			<%= link_to "/post/#{post.id}" do %>
				<% if post.image_url.blank? %>
					<img data-src="/assets/nothing01.jpg" class="img_myboom lazyload">
				<% else %>									
					<% if post.category == "movie" || post.category == "tv" %>
						<% @image_url = post.image_url.sub(/original/, 'w300') %>
					<% end %>
					<% if post.category == "book" || post.category == "comic" %>
						<% if post.api == "itunes" %>
							<% @image_url = post.image_url.sub(/1000x1000bb/, '300x300bb') %>
						<% else %>
							<% @image_url = post.image_url.sub(/jpg/, 'jpg?_ex=300x300') %>
						<% end %>
					<% end %>
					<% if post.category == "music" %>
						<% @image_url = post.image_url.sub(/1000x1000bb/, '300x300bb') %>
					<% end %>
					<img data-src="<%= @image_url %>" class="img_myboom lazyload">
				<% end %>
			<% end %>
		</div>
	  	<% end %>
  	<% end %>
<% else %>
	<% if @items.present? %>
	  	<% @items.each do |user| %>
	  		<% unless user == current_user %>
		  		<%= render partial: 'partial/user_list', locals: { user: user } %>
	        <% end %>
	  	<% end %>
	<% else %>
		<div class="font_gray" style="margin-top:25vh;text-align:center;">
			結果がありません
		</div>
	<% end %>
<% end %>

<%#lazyload.js%>
<script defer>
  $(function() {
    $('img.lazyload').lazyload();
  });
</script>