<% if params[:q].blank? %>
	<% if @posts.present? %>
		<% @posts.each.with_index(1) do |post, i| %>
			<%# 3列表示(lazyload) %>
			<div class="<%= 'test_radio_right' if i % 3 == 0 %> <%= 'test_radio' if i % 3 != 0 %>">
				<%= link_to "/post/#{post.id}" do %>
					<% if post.image_url.blank? %>
						<img data-src="/assets/nothing01.jpg" class="img_myboom lazyload_min">
					<% else %>									
						<% if post.category == "movie" || post.category == "tv" %>
							<% @image_url = post.image_url.sub(/original/, 'w300') %>
						<% end %>
						<% if post.category == "book" || post.category == "comic" %>
							<% if post.api == "itunes" %>
								<% @image_url = post.image_url.sub(/1000x1000bb/, '300x300bb') %>
							<% else %>
								<% @image_url = post.image_url.sub(/jpg/, 'jpg?_ex=300x300') %>
							<% end %>
						<% end %>
						<% if post.category == "music" %>
							<% @image_url = post.image_url.sub(/1000x1000bb/, '300x300bb') %>
						<% end %>
						<img data-src="<%= @image_url %>" class="img_myboom lazyload_min">
					<% end %>
				<% end %>
			</div>
	  	<% end %>
	  	<%#lazyload.js%>
		<script defer>
			$(function() {
		    	$('img.lazyload_min').lazyload();
			});
		</script>
  	<% end %>
<% else %>
	<% if @items.present? %>
	  	<% @items.each do |user| %>
	  		<% unless user == current_user %>
		  		<%= link_to "/#{user.username}" do %>
		          <div class="box_tests05">
		          	<div class="inline_block_middle" style="width:80%;padding:0 5px;">
			            <div class="inline_block_middle" style="width:50px;">
				            <% if user.image.present? %>
				                <img data-src="<%= user.image(:medium) %>" class="lazyload" style="width:40px;height:40px;border-radius:50%;object-fit:cover;background:rgba(0,0,0,0.1);box-shadow:1px 1px 5px 2px rgba(0,0,0,0.2);">
				            <% else %>
				                <img data-src="/assets/user.svg" class="lazyload" style="width:40px;height:40px;border-radius:50%;object-fit:cover;background:rgba(0,0,0,0.1);">
				            <% end %>
			            </div>
			            <div class="inline_block_middle" style="width:calc(100% - 50px);">
			            	<div class="contain_title02">
				              	<div class="font_white" style="margin-top:4px;">
				                	<%= user.name %>
				                	<% if user.authority == "public" %>		                		
				                		<img data-src="/assets/public.svg" class="lazyload" style="width:14px;height:14px;">
				                	<% end %>
				              	</div>
			              	</div>
			              	<div class="contain_title02">
				              	<div class="font_gray_min" style="margin-top:-2px;">
				                	<%= user.username %>
				              	</div>
				            </div>
			            </div>
			        </div>
		            <div class="inline_block_middle" style="width:20%;text-align:right;padding-right:10px;">
		            	<img data-src="/assets/right_C2C2C2.svg" class="lazyload" style="width:15px;height:15px;">
		            </div>
		          </div>
		        <% end %> 
	        <% end %>
	  	<% end %>
	<% else %>
		<div class="font_gray" style="margin-top:30vh;text-align:center;">
			結果がありません
		</div>
	<% end %>
<% end %>

<%#lazyload.js%>
<script defer>
  $(function() {
    $('img.lazyload').lazyload();
  });
</script>