<% if params[:q].present? %>
	<% if @user.present? %>
  		<% unless current_user?(@user) %>
  			<div style="height:10vh;"></div>      
          	<div style="width:100%;">
	            <div style="text-align:center;">
	                <%= image_tag @user.image(:large), :class => "img_user08" %>
	            </div>
	            <div style="font-size:18px;text-align:center;margin-top:10px;">
	              <%= @user.name %>
	            </div>
	        </div>  
	        <div style="height:3vh;"></div>      
        	<div style="text-align:center;">
            	<div id="relationship-of-<%= @user.id %>">
			      	<%= render partial: 'relationships/relationship' %>
			    </div>
		    </div>  	
        <% end %>
	<% else %>
		<div style="font-size:15px;color:#777777;margin-top:10vh;text-align:center;">
			<%= image_tag "test28.png", :style =>'width:20px;height:20px;' %> 結果がありません
		</div>
	<% end %>
<% end %>