<% if params[:q].present? %>
	<% if @user.present? %>
		<div style="height:5vh;"></div>
		<div style="width:100%;">       
          	<div style="width:100%;">
              	<div style="text-align:center;">
                  	<% if @user.image.present? %>
		                <%= image_tag @user.image(:large), :class => "img_user08" %>
		            <% else %>
		                <%= image_tag "user.svg", :class => "img_user08" ,:style =>'box-shadow:none;' %>
		            <% end %>
              	</div>
	              <div style="font-size:18px;text-align:center;margin-top:10px;">
	                <%= @user.name %>
	                <% if @user.authority == "public" %>
                      <%= image_tag "public.svg", :style =>'width:14px;height:14px;' %>
                    <% end %>
	              </div>
            </div>          
        </div>     
      	<% if @user.description.present? %>
	        <div style="height:0.5vh;"></div>
	        <div class="font_gray_min" style="width:100%;padding:0 20px;color:#C2C2C2;text-align:center;">
	        	<%= simple_format(@user.description, {}, wrapper_tag: "div") %>
	        </div>
      	<% end %>                   	            
          <div style="height:3vh;"></div>
        	<div style="text-align:center;">
	        	<div id="relationship-of-<%= @user.id %>">
			      	<%= render partial: 'relationships/relationship' %>
			    </div>
	        </div>       
          	<div style="height:7vh;"></div>
          	<div style="text-align:center;width:100%;">
	            <div class="inline_block_middle" style="width:33.33%;">
	          	  <div>
	                <%= image_tag "checked_FAFAFA.svg", :style =>'width:16px;height:16px;' %>
	              </div> 
	              <div style="font-size:12px;color:#C2C2C2;margin-top:5px;">
	                <%= Post.where(user_id: @user.id).where.not(review: "bookmark").size %> checkeds
	              </div> 
	            </div>
	            <div class="inline_block_middle" style="width:33.33%;">
	              <div>
	                <%= image_tag "bookmark_FAFAFA.svg", :style =>'width:16px;height:16px;' %>
	              </div> 
	              <div style="font-size:12px;color:#C2C2C2;margin-top:5px;">
	                <%= Post.where(user_id: @user.id, review: "bookmark").size %> bookmarks
	              </div> 
	            </div>
	            <div class="inline_block_middle" style="width:33.33%;opacity:0.5;">
	              <div>
	                <%= image_tag "file_FAFAFA.svg", :style =>'width:16px;height:16px;' %>
	              </div> 
	              <div style="font-size:12px;color:#C2C2C2;margin-top:5px;">
	                coming soon
	              </div> 
            	</div>
        	</div>  
		<% else %>
		<div style="font-size:15px;color:#777777;margin-top:30vh;text-align:center;">
			<%= image_tag "warning_FAFAF.svg", :style =>'width:15px;height:15px;' %> 入力したIDのユーザーは存在しません
		</div>
	<% end %>
<% else %>
	<div style="height:16vh;"></div>
	<div style="text-align:center;margin-top:20px;">
		<%= image_tag "users_777777.svg", :style =>'width:35px;height:35px;' %>
	</div>
	<div style="text-align:center;margin-top:10px;font-size:12px;color:#999999;">
		IDで友達を検索
	</div>
    <div style="height:10vh;"></div> 
<% end %>