<div class="bar_collection">
	<div class="bar_smoke"></div>	
	<div style="width:100%;">
		<div class="inline_block_middle" style="width:52%;">
			<a href="" data-toggle="modal" data-target="#myModal_profile_<%= @user.id %>">
				<div class="inline_block_middle" style="padding:10px 10px 10px 20px;">
        			<%= image_tag @user.image(:medium), :class =>'img_user11' %>
        		</div>
				<div class="inline_block_middle font_white" style="max-width:50%;word-wrap:break-word;">
        			<%= @user.name %>
        			<% if @user.authority == "public" %>
                      <%= image_tag "test55.png", :style =>'width:14px;height:14px;' %>
                    <% end %>
        		</div>
    		</a>
		</div>
		<div class="inline_block_middle" style="width:48%;">
			<div style="width:100%;text-align:right;"> 	
				<%= link_to "/#{@user.username}/posts" do %>
					<div class="inline_block_middle btn_off" style="color:#C2C2C2;">
						<%= image_tag "checked_white.png", :style =>'width:12px;height:12px;margin-top:-2px;' %>
						<%= @checkeds_i %>
					</div>
				<% end %>		
				<div class="inline_block_middle btn_on" style="color:#C2C2C2;;margin-right:10px;">
					<%= image_tag "bookmark_white.png", :style =>'width:12px;height:12px;margin-top:-2px;' %>
					<%= @bookmarks_i %>
				</div>		
			</div>  
		</div>
	</div>		      
	<div class="tabContainer">
        <div class="tab_table">
            <div class="tab__button active">すべて</div>
            <div class="tab__button">映画</div>
            <div class="tab__button">テレビ</div>
            <div class="tab__button">ブック</div>
            <div class="tab__button">コミック</div>
            <div class="tab__button">ミュージック</div>
            <div class="tab__button">リンク</div>
        </div>
    </div>
</div>

<div class="main">
	<div class="cover"></div>
	<div class="block_side">
	</div>
	<div class="block_main">
		<div class="swiper-container" style="height:100%">
			<div class="swiper-wrapper" style="height:100%">
				<div class="swiper-slide" style="height:100%">
		        	<div style="height:100%;overflow-y:scroll;-webkit-overflow-scrolling: touch;">
				  		<div style="height:165px;"></div>
					  	<% if @all.blank? %>				  		
							<div class="font_white" style="text-align:center;margin-top:30vh;">
								<%= image_tag "warning_wihte.png", :style =>'width:20px;height:20px;margin-top:-2px;' %> ブックマークがありません
							</div>	
					  	<% else %>
						  	<% @all.each.with_index(1) do |post, i| %>
					  			<div class="<%= 'test_radio_right' if i % 3 == 0 %> <%= 'test_radio' if i % 3 != 0 %>">
							    	<a data-toggle="modal" data-target="#myModal_<%= post.id %>">				
										<% if post.image_url.blank? %>
											<img data-src="/assets/nothing01.jpg" class="img_myboom lazyload_min">
										<% else %>									
											<% if post.category == "movie" %>
												<% @image_url = post.image_url.sub(/original/, 'w300') %>
											<% end %>
											<% if post.category == "tv" %>
												<% @image_url = post.image_url.sub(/original/, 'w300') %>
											<% end %>
											<% if post.category == "book" %>
												<% if post.api == "itunes" %>
													<% @image_url = post.image_url.sub(/1000x1000bb/, '300x300bb') %>
												<% else %>
													<% @image_url = post.image_url.sub(/jpg/, 'jpg?_ex=300x300') %>
												<% end %>
											<% end %>
											<% if post.category == "comic" %>
												<% if post.api == "itunes" %>
													<% @image_url = post.image_url.sub(/1000x1000bb/, '300x300bb') %>
												<% else %>
													<% @image_url = post.image_url.sub(/jpg/, 'jpg?_ex=300x300') %>
												<% end %>
											<% end %>
											<% if post.category == "music" %>
												<% @image_url = post.image_url.sub(/1000x1000bb/, '300x300bb') %>
											<% end %>
											<% if post.category == "link" %>
												<% @image_url = post.image_url %>
											<% end %>
											<img data-src="<%= @image_url %>" class="img_myboom lazyload_min">
										<% end %>										
										<span>
											<div class="font_category_min">
												<% if post.category == "movie" %>
													<%= image_tag "movie_gray.png", :class =>'icon_category_min' %> 映画
												<% end %>
												<% if post.category == "tv" %>
													<%= image_tag "movie_gray.png", :class =>'icon_category_min' %> テレビ
												<% end %>
												<% if post.category == "book" %>
													<%= image_tag "book_gray.png", :class =>'icon_category_min' %> ブック
												<% end %>
												<% if post.category == "comic" %>
													<%= image_tag "book_gray.png", :class =>'icon_category_min' %> コミック
												<% end %>
												<% if post.category == "music" %>
													<%= image_tag "music_gray.png", :class =>'icon_category_min' %> ミュージック
												<% end %>
												<% if post.category == "link" %>
													<%= image_tag "link_gray.png", :class =>'icon_category_min' %> リンク
												<% end %>
											</div>
											<div class="contain_title">
												<div class="font_title_min">
													<%= post.title %>
												</div>
											</div>
										</span>
									</a>
								</div>
						  	<% end %>
					  	<% end %>
				  	</div>
		        </div>
		        <div class="swiper-slide" style="height:100%">
		        	<div style="height:100%;overflow-y:scroll;-webkit-overflow-scrolling: touch;">
				  		<div style="height:165px;"></div>
					  	<% if @movie.blank? %>
					  		<div class="font_white" style="text-align:center;margin-top:30vh;">
								<%= image_tag "warning_wihte.png", :style =>'width:20px;height:20px;margin-top:-2px;' %> ブックマークがありません
							</div>	
					  	<% else %>
						    <% @movie.each.with_index(1) do |post, i| %>
						  		<div class="<%= 'test_radio_right' if i % 3 == 0 %> <%= 'test_radio' if i % 3 != 0 %>">
							    	<a data-toggle="modal" data-target="#myModal_<%= post.id %>">	
										<% if post.image_url.blank? %>
											<img data-src="/assets/nothing01.jpg" class="img_myboom swiper-lazy">
										<% else %>									
											<img data-src="<%= post.image_url %>" class="img_myboom swiper-lazy">
										<% end %>
										<span>
											<div class="font_category_min">
												<%= image_tag "movie_gray.png", :class =>'icon_category_min' %> 映画
											</div>
											<div class="contain_title">
												<div class="font_title_min">
													<%= post.title %>
												</div>
											</div>
										</span>
									</a>
								</div>
						  	<% end %>
					  	<% end %>
					</div>	
		        </div>
		        <div class="swiper-slide" style="height:100%">
		        	<div style="height:100%;overflow-y:scroll;-webkit-overflow-scrolling: touch;">
				  		<div style="height:165px;"></div>
					    <% if @tv.blank? %>
					  		<div class="font_white" style="text-align:center;margin-top:30vh;">
								<%= image_tag "warning_wihte.png", :style =>'width:20px;height:20px;margin-top:-2px;' %> ブックマークがありません
							</div>
					  	<% else %>
						  	<% @tv.each.with_index(1) do |post, i| %>
						  		<div class="<%= 'test_radio_right' if i % 3 == 0 %> <%= 'test_radio' if i % 3 != 0 %>">
							    	<a data-toggle="modal" data-target="#myModal_<%= post.id %>">
										<% if post.image_url.blank? %>
											<img data-src="/assets/nothing01.jpg" class="img_myboom swiper-lazy">
										<% else %>									
											<img data-src="<%= post.image_url %>" class="img_myboom swiper-lazy">
										<% end %>	
										<span>
											<div class="font_category_min">
												<%= image_tag "movie_gray.png", :class =>'icon_category_min' %> テレビ
											</div>
											<div class="contain_title">
												<div class="font_title_min">
													<%= post.title %>
												</div>
											</div>
										</span>
									</a>
								</div>
						  	<% end %>
					  	<% end %>
					</div>	  	
		        </div>
		        <div class="swiper-slide" style="height:100%">
		        	<div style="height:100%;overflow-y:scroll;-webkit-overflow-scrolling: touch;">
				  		<div style="height:165px;"></div>
					    <% if @book.blank? %>
					  		<div class="font_white" style="text-align:center;margin-top:30vh;">
								<%= image_tag "warning_wihte.png", :style =>'width:20px;height:20px;margin-top:-2px;' %> ブックマークがありません
							</div>
					  	<% else %>
						  	<% @book.each.with_index(1) do |post, i| %>
						  		<div class="<%= 'test_radio_right' if i % 3 == 0 %> <%= 'test_radio' if i % 3 != 0 %>">
							    	<a data-toggle="modal" data-target="#myModal_<%= post.id %>">	
										<% if post.image_url.blank? %>
											<img data-src="/assets/nothing02.jpg" class="img_myboom swiper-lazy">
										<% else %>									
											<img data-src="<%= post.image_url %>" class="img_myboom swiper-lazy">
										<% end %>										
										<span>
											<div class="font_category_min">										
												<%= image_tag "book_gray.png", :class =>'icon_category_min' %> ブック
											</div>
											<div class="contain_title">
												<div class="font_title_min">
													<%= post.title %>
												</div>
											</div>
										</span>
									</a>
								</div>
						  	<% end %>
					  	<% end %>
					</div>			  
		        </div>
		        <div class="swiper-slide" style="height:100%">
		        	<div style="height:100%;overflow-y:scroll;-webkit-overflow-scrolling: touch;">
				  		<div style="height:165px;"></div>
					    <% if @comic.blank? %>
					  		<div class="font_white" style="text-align:center;margin-top:30vh;">
								<%= image_tag "warning_wihte.png", :style =>'width:20px;height:20px;margin-top:-2px;' %> ブックマークがありません
							</div>
					  	<% else %>
						  	<% @comic.each.with_index(1) do |post, i| %>
						  		<div class="<%= 'test_radio_right' if i % 3 == 0 %> <%= 'test_radio' if i % 3 != 0 %>">
							    	<a data-toggle="modal" data-target="#myModal_<%= post.id %>">	
										<% if post.image_url.blank? %>
											<img data-src="/assets/nothing02.jpg" class="img_myboom swiper-lazy">
										<% else %>									
											<img data-src="<%= post.image_url %>" class="img_myboom swiper-lazy">
										<% end %>								
										<span>
											<div class="font_category_min">
												<%= image_tag "book_gray.png", :class =>'icon_category_min' %> コミック
											</div>
											<div class="contain_title">
												<div class="font_title_min">
													<%= post.title %>
												</div>
											</div>
										</span>
									</a>
								</div>
						  	<% end %>
				  		<% end %>
				  	</div>	  	
		        </div>
		        <div class="swiper-slide" style="height:100%">
		        	<div style="height:100%;overflow-y:scroll;-webkit-overflow-scrolling: touch;">
				  		<div style="height:165px;"></div>
					    <% if @music.blank? %>
					  		<div class="font_white" style="text-align:center;margin-top:30vh;">
								<%= image_tag "warning_wihte.png", :style =>'width:20px;height:20px;margin-top:-2px;' %> 投稿がありません
							</div>	
					  	<% else %>
						  	<% @music.each.with_index(1) do |post, i| %>
						  		<div class="<%= 'test_radio_right' if i % 3 == 0 %> <%= 'test_radio' if i % 3 != 0 %>">
							    	<a data-toggle="modal" data-target="#myModal_<%= post.id %>">			
										<% if post.image_url.blank? %>
											<img data-src="/assets/nothing03.jpg" class="img_myboom swiper-lazy">
										<% else %>									
											<img data-src="<%= post.image_url %>" class="img_myboom swiper-lazy">
										<% end %>
										<span>
											<div class="font_category_min">
												<%= image_tag "music_gray.png", :class =>'icon_category_min' %> ミュージック
											</div>
											<div class="contain_title">
												<div class="font_title_min">
													<%= post.title %>
												</div>
											</div>
										</span>
									</a>
								</div>	  		
						  	<% end %>
					  	<% end %>
					</div>			
		        </div>
		        <div class="swiper-slide" style="height:100%">
		        	<div style="height:100%;overflow-y:scroll;-webkit-overflow-scrolling: touch;">
				  		<div style="height:165px;"></div>
					  	<% if @link.blank? %>
					  		<div class="font_white" style="text-align:center;margin-top:30vh;">
								<%= image_tag "warning_wihte.png", :style =>'width:20px;height:20px;margin-top:-2px;' %> ブックマークがありません
							</div>	
					  	<% else %>
						    <% @link.each.with_index(1) do |post, i| %>
						  		<div class="<%= 'test_radio_right' if i % 3 == 0 %> <%= 'test_radio' if i % 3 != 0 %>">
							    	<a data-toggle="modal" data-target="#myModal_<%= post.id %>">	
										<% if post.image_url.blank? %>
											<img data-src="/assets/nothing04.jpg" class="img_myboom swiper-lazy">
										<% else %>									
											<img data-src="<%= post.image_url %>" class="img_myboom swiper-lazy">
										<% end %>
										<span>
											<div class="font_category_min">
												<%= image_tag "link_gray.png", :class =>'icon_category_min' %> リンク
											</div>
											<div class="contain_title">
												<div class="font_title_min">
													<%= post.title %>
												</div>
											</div>
										</span>
									</a>
								</div>
						  	<% end %>
					  	<% end %>
					</div>	
		        </div>
			</div>
		</div>	
	</div>
	<div class="block_side">
	</div>
</div>

<%#モーダルの中身%>
<% if @all.present? %>
	<% @all.each.with_index do |post, i| %>
		<%# 作品モーダル %>
		<%= render partial: 'partial/modal_work', locals: { post: post } %>
		<%#ハーフモーダル%>
		<%= render partial: 'partial/modal_half', locals: { post: post } %>
	<% end %>
<% end %>

<%#プロフィールモーダル%>
<%= render partial: 'partial/profile', locals: { user: @user, checkeds_i: @checkeds_i, bookmarks_i: @bookmarks_i } %>

<%#投稿ボタン%>
<%= render "partial/modal_post" %>

<%#タブ切り替え%>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
<script defer>
	$(function(){
	    //タブボタンの数を取得
	    var tabQuantity = $('.tab__button').length;
	    //タブの長さとボディの長さの差分を取得
	    var tabExtraDistance = $('.tab_table').width();
	    //スライダー発動
	    var swiper = new Swiper('.swiper-container', {
				speed: 600,
				touchAngle: 55,
				preloadImages: false,
				lazy: {
					loadOnTransitionStart: true,
					loadPrevNext: false,
				},
			  	on: {
				    slideChange: function () {
				      var newIndex = swiper.realIndex;
	            	  slideChange(newIndex);
				    },
				  },
			});
	    //スライドする時に発動する関数。タブの表示調整を行う
	    function slideChange(newIndex){
	        //クラスを調整
	        $('.tab__button').removeClass('active');
	        $('.tab_table > div:nth-child(' + ( newIndex + 1 ) + ')').addClass('active');
	        //スクロールするべき距離を取得。タブ全体の長さ / ( タブの個数 - 1 ) * スライドの現在地
	        var scrollDestination = ( tabExtraDistance / (tabQuantity - 1) ) * ( newIndex );
	        //スクロール位置を調整
	        $('.tabContainer').animate({ scrollLeft: scrollDestination }, 'slow');
	    }
	    //タブボタンクリックで発動する関数
	    $('.tab__button').on('click',function(e){
	        //何番目の要素かを取ってスライドを移動する
	        var nth = $('.tab__button').index(this);
	        swiper.slideTo(nth, 500, false);
	        //クリックイベントを無効化
	        e.preventDefault();
	    })
	});
</script>

<%#lazyload.js%>
<script defer>
	$(function() {
    	$('img.lazyload_min').lazyload();
	});
</script>