<div class="main">
	<div class="block_side">
	</div>
	<div class="block_main">
		
		<div style="height:50px;"></div>
		<div class="bar_collection">
			<div class="box_tests001">
	          <div class="pro16">
	            <%= image_tag @user.image, :class =>'img_profile002' %>
	          </div>
	          <div class="pro17">
	            <span class="font_white_max">   
	              <%= @user.name %>
	            </span>
	          </div>
	          <div class="pro18">
	            <div class="font_white" style="text-align:right;">
	              <a href="#" class="test_btn02"><i class="fas fa-check"></i></a>
	            </div>
	          </div>
	        </div>
			<div class="horizontal_scroll02">			
				  <ul class="nav nav-pills js-tabs">
				      <li class="active"><a href="#all" data-toggle="tab">すべて</a></li>
					  <li><a href="#fav" data-toggle="tab">おすすめ</a></li>
					  <li><a href="#movie" data-toggle="tab">映画</a></li>
					  <li><a href="#tv" data-toggle="tab">テレビ</a></li>
					  <li><a href="#book" data-toggle="tab">ブック</a></li>
					  <li><a href="#comic" data-toggle="tab">コミック</a></li>
					  <li><a href="#music" data-toggle="tab">ミュージック</a></li>
				  </ul>
			</div>	
		</div>
		<div class="height04"></div>
		<div class="tab-content">
		  <div class="tab-pane active" id="all">
		  	<% if @all.blank? %>
		  		<p style="color:white;font-size:14px;">nothing</p>
		  	<% else %>
			  	<% @all.each.with_index(1) do |post, i| %>
			  		<% if i % 3 == 0 %>
			  			<div class="test_radio_right">
					    	<a href="" data-toggle="modal" data-target="#myModal_all<%= i %>">
								<% if post.image_url.blank? %>
									<%= image_tag "nothing01.jpg", :class =>'img_lavoro' %>
								<% else %>
									<% if post.category == "music" %>
										<%= image_tag post.image_url, :class =>'img_lavoro000' %>
									<% else %>
										<%= image_tag post.image_url, :class =>'img_lavoro' %>
									<% end %>
								<% end %>
								<span>
									<div class="font_category_min">
										<% if post.category == "movie" %>
											<i class="fas fa-film"></i> 映画
										<% end %>
										<% if post.category == "tv" %>
											<i class="fas fa-film"></i> テレビ
										<% end %>
										<% if post.category == "book" %>
											<i class="fas fa-book"></i> ブック
										<% end %>
										<% if post.category == "comic" %>
											<i class="fas fa-book"></i> コミック
										<% end %>
										<% if post.category == "music" %>
											<i class="fas fa-music"></i> ミュージック
										<% end %>
									</div>
									<div class="font_title_min">
										<%= post.title %>
									</div>
								</span>
							</a>
						</div>
			  		<% else %>
			  			<div class="test_radio">
							<a href="" data-toggle="modal" data-target="#myModal_all<%= i %>">
								<% if post.image_url.blank? %>
									<%= image_tag "nothing01.jpg", :class =>'img_lavoro' %>
								<% else %>
									<% if post.category == "music" %>
										<%= image_tag post.image_url, :class =>'img_lavoro000' %>
									<% else %>
										<%= image_tag post.image_url, :class =>'img_lavoro' %>
									<% end %>
								<% end %>
								<span>
									<div class="font_category_min">
										<% if post.category == "movie" %>
											<i class="fas fa-film"></i> 映画
										<% end %>
										<% if post.category == "tv" %>
											<i class="fas fa-film"></i> テレビ
										<% end %>
										<% if post.category == "book" %>
											<i class="fas fa-book"></i> ブック
										<% end %>
										<% if post.category == "comic" %>
											<i class="fas fa-book"></i> コミック
										<% end %>
										<% if post.category == "music" %>
											<i class="fas fa-music"></i> ミュージック
										<% end %>
									</div>
									<div class="font_title_min">
										<%= post.title %>
									</div>
								</span>
							</a>
						</div>	
			  		<% end %>
			  	<% end %>
		  	<% end %>
		  </div>
		  <div class="tab-pane" id="fav">
		    <p style="color:white;font-size:14px;">おすすめはまだありません</p>
		  </div>
		  <div class="tab-pane" id="movie">
		  	<% if @movie.blank? %>
		  		<p style="color:white;font-size:14px;">nothing</p>
		  	<% else %>
			    <% @movie.each.with_index(1) do |post, i| %>
			  		<% if i % 3 == 0 %>
			  			<div class="test_radio_right">
					    	<a href="" data-toggle="modal" data-target="#myModal_movie<%= i %>">
								<% if post.image_url.blank? %>
									<%= image_tag "nothing01.jpg", :class =>'img_lavoro' %>
								<% else %>
									<% if post.category == "music" %>
										<%= image_tag post.image_url, :class =>'img_lavoro000' %>
									<% else %>
										<%= image_tag post.image_url, :class =>'img_lavoro' %>
									<% end %>
								<% end %>
								<span>
									<div class="font_category_min">
										<i class="fas fa-film"></i> 映画
									</div>
									<div class="font_title_min">
										<%= post.title %>
									</div>
								</span>
							</a>
						</div>
			  		<% else %>
			  			<div class="test_radio">
							<a href="" data-toggle="modal" data-target="#myModal_movie<%= i %>">
								<% if post.image_url.blank? %>
									<%= image_tag "nothing01.jpg", :class =>'img_lavoro' %>
								<% else %>
									<% if post.category == "music" %>
										<%= image_tag post.image_url, :class =>'img_lavoro000' %>
									<% else %>
										<%= image_tag post.image_url, :class =>'img_lavoro' %>
									<% end %>
								<% end %>
								<span>
									<div class="font_category_min">
										<i class="fas fa-film"></i> 映画
									</div>
									<div class="font_title_min">
										<%= post.title %>
									</div>
								</span>
							</a>
						</div>	
			  		<% end %>
			  	<% end %>
		  	<% end %>
		  </div>
		  <div class="tab-pane" id="tv">
		    <% if @tv.blank? %>
		  		<p style="color:white;font-size:14px;">nothing</p>
		  	<% else %>
			  	<% @tv.each.with_index(1) do |post, i| %>
			  		<% if i % 3 == 0 %>
			  			<div class="test_radio_right">
					    	<a href="" data-toggle="modal" data-target="#myModal_tv<%= i %>">
								<% if post.image_url.blank? %>
									<%= image_tag "nothing01.jpg", :class =>'img_lavoro' %>
								<% else %>
									<% if post.category == "music" %>
										<%= image_tag post.image_url, :class =>'img_lavoro000' %>
									<% else %>
										<%= image_tag post.image_url, :class =>'img_lavoro' %>
									<% end %>
								<% end %>
								<span>
									<div class="font_category_min">
										<i class="fas fa-film"></i> テレビ
									</div>
									<div class="font_title_min">
										<%= post.title %>
									</div>
								</span>
							</a>
						</div>
			  		<% else %>
			  			<div class="test_radio">
							<a href="" data-toggle="modal" data-target="#myModal_tv<%= i %>">
								<% if post.image_url.blank? %>
									<%= image_tag "nothing01.jpg", :class =>'img_lavoro' %>
								<% else %>
									<% if post.category == "music" %>
										<%= image_tag post.image_url, :class =>'img_lavoro000' %>
									<% else %>
										<%= image_tag post.image_url, :class =>'img_lavoro' %>
									<% end %>
								<% end %>
								<span>
									<div class="font_category_min">
										<i class="fas fa-film"></i> テレビ
									</div>
									<div class="font_title_min">
										<%= post.title %>
									</div>
								</span>
							</a>
						</div>	
			  		<% end %>
			  	<% end %>
		  	<% end %>
		  </div>
		  <div class="tab-pane" id="book">
		    <% if @book.blank? %>
		  		<p style="color:white;font-size:14px;">nothing</p>
		  	<% else %>
			  	<% @book.each.with_index(1) do |post, i| %>
			  		<% if i % 3 == 0 %>
			  			<div class="test_radio_right">
					    	<a href="" data-toggle="modal" data-target="#myModal_book<%= i %>">
								<% if post.image_url.blank? %>
									<%= image_tag "nothing01.jpg", :class =>'img_lavoro' %>
								<% else %>
									<% if post.category == "music" %>
										<%= image_tag post.image_url, :class =>'img_lavoro000' %>
									<% else %>
										<%= image_tag post.image_url, :class =>'img_lavoro' %>
									<% end %>
								<% end %>
								<span>
									<div class="font_category_min">										
										<i class="fas fa-book"></i> ブック
									</div>
									<div class="font_title_min">
										<%= post.title %>
									</div>
								</span>
							</a>
						</div>
			  		<% else %>
			  			<div class="test_radio">
							<a href="" data-toggle="modal" data-target="#myModal_book<%= i %>">
								<% if post.image_url.blank? %>
									<%= image_tag "nothing01.jpg", :class =>'img_lavoro' %>
								<% else %>
									<% if post.category == "music" %>
										<%= image_tag post.image_url, :class =>'img_lavoro000' %>
									<% else %>
										<%= image_tag post.image_url, :class =>'img_lavoro' %>
									<% end %>
								<% end %>
								<span>
									<div class="font_category_min">
										<i class="fas fa-book"></i> ブック
									</div>
									<div class="font_title_min">
										<%= post.title %>
									</div>
								</span>
							</a>
						</div>	
			  		<% end %>
			  	<% end %>
		  	<% end %>
		  </div>
		  <div class="tab-pane" id="comic">
		    <% if @comic.blank? %>
		  		<p style="color:white;font-size:14px;">nothing</p>
		  	<% else %>
			  	<% @comic.each.with_index(1) do |post, i| %>
			  		<% if i % 3 == 0 %>
			  			<div class="test_radio_right">
					    	<a href="" data-toggle="modal" data-target="#myModal_comic<%= i %>">
								<% if post.image_url.blank? %>
									<%= image_tag "nothing01.jpg", :class =>'img_lavoro' %>
								<% else %>
									<% if post.category == "music" %>
										<%= image_tag post.image_url, :class =>'img_lavoro000' %>
									<% else %>
										<%= image_tag post.image_url, :class =>'img_lavoro' %>
									<% end %>
								<% end %>
								<span>
									<div class="font_category_min">
										<i class="fas fa-book"></i> コミック
									</div>
									<div class="font_title_min">
										<%= post.title %>
									</div>
								</span>
							</a>
						</div>
			  		<% else %>
			  			<div class="test_radio">
							<a href="" data-toggle="modal" data-target="#myModal_comic<%= i %>">
								<% if post.image_url.blank? %>
									<%= image_tag "nothing01.jpg", :class =>'img_lavoro' %>
								<% else %>
									<% if post.category == "music" %>
										<%= image_tag post.image_url, :class =>'img_lavoro000' %>
									<% else %>
										<%= image_tag post.image_url, :class =>'img_lavoro' %>
									<% end %>
								<% end %>
								<span>
									<div class="font_category_min">
										<i class="fas fa-book"></i> コミック
									</div>
									<div class="font_title_min">
										<%= post.title %>
									</div>
								</span>
							</a>
						</div>	
			  		<% end %>
			  	<% end %>
		  	<% end %>
		  </div>
		  <div class="tab-pane" id="music">
		    <% if @music.blank? %>
		  		<p style="color:white;font-size:14px;">nothing</p>
		  	<% else %>
			  	<% @music.each.with_index(1) do |post, i| %>
			  		<% if i % 3 == 0 %>
			  			<div class="test_radio_right">
					    	<a href="" data-toggle="modal" data-target="#myModal_music<%= i %>">
								<% if post.image_url.blank? %>
									<%= image_tag "nothing01.jpg", :class =>'img_lavoro' %>
								<% else %>
									<% if post.category == "music" %>
										<%= image_tag post.image_url, :class =>'img_lavoro000' %>
									<% else %>
										<%= image_tag post.image_url, :class =>'img_lavoro' %>
									<% end %>
								<% end %>
								<span>
									<div class="font_category_min">
										<i class="fas fa-music"></i> ミュージック
									</div>
									<div class="font_title_min">
										<%= post.title %>
									</div>
								</span>
							</a>
						</div>
			  		<% else %>
			  			<div class="test_radio">
							<a href="" data-toggle="modal" data-target="#myModal_music<%= i %>">
								<% if post.image_url.blank? %>
									<%= image_tag "nothing01.jpg", :class =>'img_lavoro' %>
								<% else %>
									<% if post.category == "music" %>
										<%= image_tag post.image_url, :class =>'img_lavoro000' %>
									<% else %>
										<%= image_tag post.image_url, :class =>'img_lavoro' %>
									<% end %>
								<% end %>
								<span>
									<div class="font_category_min">
										<i class="fas fa-music"></i> ミュージック
									</div>
									<div class="font_title_min">
										<%= post.title %>
									</div>
								</span>
							</a>
						</div>	
			  		<% end %>
			  	<% end %>
		  	<% end %>
		  </div>
		</div>

	</div>
	<div class="block_side">
	</div>
</div>

<%#allモーダルの中身%>
<% if @all.present? %>
<% @all.each.with_index(1) do |post, i| %>
	<div class="modal fade" id="myModal_all<%= i %>">
		<div class="height_modal"></div>
		<div class="modal-dialog">
  			<div class="base02">
				<% if post.image_url.blank? %>
					<%= image_tag "nothing01.jpg", :class =>'img_lavoro02' %>
				<% else %>
					<% if post.category == "music" %>
						<%= image_tag post.image_url, :class =>'img_lavoro002' %>
					<% else %>
						<%= image_tag post.image_url, :class =>'img_lavoro02' %>
					<% end %>
				<% end %>
				<span>
					<div class="layer05">
					</div>
					<div class="layer03">
						<div class="pro01">
							<% if post.user.image.blank?  %>
								<%= image_tag "user05.png", :class =>'img_user04' %>
							<% else %>
								<%= image_tag current_user.image, :class => "img_user04" %>
							<% end %>
						</div>
						<div class="pro02">
							<span class="font_white">
								<%= post.user.name %>
							</span>
							<br>
							<span class="font_white">
								<% if post.category == "movie" %>
									<i class="fas fa-film"></i> 映画
								<% end %>
								<% if post.category == "tv" %>
									<i class="fas fa-film"></i> テレビ
								<% end %>
								<% if post.category == "book" %>
									<i class="fas fa-book"></i> ブック
								<% end %>
								<% if post.category == "comic" %>
									<i class="fas fa-book"></i> コミック
								<% end %>
								<% if post.category == "music" %>
									<i class="fas fa-music"></i> ミュージック
								<% end %>
								 - <%= post.created_at.strftime('%Y/%m/%d') %>
							</span>
						</div>
						<div class="pro03">
							<div class="dropdown">
							  <div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    <span class="font_white_max">
							    	<i class="fas fa-ellipsis-h"></i>
							    </span>
							  </div>
							  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
							    <li><a href="#">投稿を編集</a></li>
							    <li><a href="#">削除</a></li>
							    <li><a href="#">共有</a></li>
							  </ul>
							</div>
						</div>
					</div>
					<div class="layer07">
						<% if post.image_url.blank? %>
							<%= image_tag "nothing01.jpg", :class =>'img_lavoro03' %>
						<% else %>
							<%= image_tag post.image_url, :class =>'img_lavoro03' %>
						<% end %>
					</div>
					<div class="layer02">
						<div class="font_how">
							<% if post.review == "favorite" %>
								<i class="fas fa-star" style="color:rgba(252,228,4,0.7);"></i> おすすめしています
							<% end %>
							<% if post.review == "good" %>
								観ました
							<% end %>
							<% if post.review == "bad" %>
								<i class="fas fa-ban" style="color:rgba(236,12,28,0.7);"></i> おすすめしていません
							<% end %>
						</div>
						<br>
						<div class="font_head">
							<%= post.title %>
						</div>
						<% if post.description.present? %>
							<br>
							<div class="balloon">
							  	<%= simple_format(post.description, {}, wrapper_tag: "div") %>
							</div>
						<% end %>
					</div>
					<div class="layer04">
						<div class="pro04">
							<a href="" data-toggle="modal" data-dismiss="modal">
								<%= image_tag "left_blue.png", :class =>'img_left' %>
							</a>
						</div>
					</div>
				</span>
			</div>
  		</div>
  	</div>
<% end %>
<% end %>


<%#movieモーダルの中身%>
<% if @movie.present? %>
<% @movie.each.with_index(1) do |post, i| %>
	<div class="modal fade" id="myModal_movie<%= i %>">
		<div class="height_modal"></div>
		<div class="modal-dialog">
  			<div class="base02">
				<% if post.image_url.blank? %>
					<%= image_tag "nothing01.jpg", :class =>'img_lavoro02' %>
				<% else %>
					<% if post.category == "music" %>
						<%= image_tag post.image_url, :class =>'img_lavoro002' %>
					<% else %>
						<%= image_tag post.image_url, :class =>'img_lavoro02' %>
					<% end %>
				<% end %>
				<span>
					<div class="layer05">
					</div>
					<div class="layer03">
						<div class="pro01">
							<% if post.user.image.blank?  %>
								<%= image_tag "user05.png", :class =>'img_user04' %>
							<% else %>
								<%= image_tag current_user.image, :class => "img_user04" %>
							<% end %>
						</div>
						<div class="pro02">
							<span class="font_white">
								<%= post.user.name %>
							</span>
							<br>
							<span class="font_white">
								<i class="fas fa-film"></i> 映画
								 - <%= post.created_at.strftime('%Y/%m/%d') %>
							</span>
						</div>
						<div class="pro03">
							<div class="dropdown">
							  <div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    <span class="font_white_max">
							    	<i class="fas fa-ellipsis-h"></i>
							    </span>
							  </div>
							  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
							    <li><a href="#">投稿を編集</a></li>
							    <li><a href="#">削除</a></li>
							    <li><a href="#">共有</a></li>
							  </ul>
							</div>
						</div>
					</div>
					<div class="layer07">
						<% if post.image_url.blank? %>
							<%= image_tag "nothing01.jpg", :class =>'img_lavoro03' %>
						<% else %>
							<%= image_tag post.image_url, :class =>'img_lavoro03' %>
						<% end %>
					</div>
					<div class="layer02">
						<div class="font_how">
							<% if post.review == "favorite" %>
								<i class="fas fa-star" style="color:rgba(252,228,4,0.7);"></i> おすすめしています
							<% end %>
							<% if post.review == "good" %>
								観ました
							<% end %>
							<% if post.review == "bad" %>
								<i class="fas fa-ban" style="color:rgba(236,12,28,0.7);"></i> おすすめしていません
							<% end %>
						</div>
						<br>
						<div class="font_head">
							<%= post.title %>
						</div>
						<% if post.description.present? %>
							<br>
							<div class="balloon">
							  	<%= simple_format(post.description, {}, wrapper_tag: "div") %>
							</div>
						<% end %>
					</div>
					<div class="layer04">
						<div class="pro04">
							<a href="" data-toggle="modal" data-dismiss="modal">
								<%= image_tag "left_blue.png", :class =>'img_left' %>
							</a>
						</div>
					</div>
				</span>
			</div>
  		</div>
  	</div>
<% end %>
<% end %>

<%#tvモーダルの中身%>
<% if @tv.present? %>
<% @tv.each.with_index(1) do |post, i| %>
	<div class="modal fade" id="myModal_tv<%= i %>">
		<div class="height_modal"></div>
		<div class="modal-dialog">
  			<div class="base02">
				<% if post.image_url.blank? %>
					<%= image_tag "nothing01.jpg", :class =>'img_lavoro02' %>
				<% else %>
					<% if post.category == "music" %>
						<%= image_tag post.image_url, :class =>'img_lavoro002' %>
					<% else %>
						<%= image_tag post.image_url, :class =>'img_lavoro02' %>
					<% end %>
				<% end %>
				<span>
					<div class="layer05">
					</div>
					<div class="layer03">
						<div class="pro01">
							<% if post.user.image.blank?  %>
								<%= image_tag "user05.png", :class =>'img_user04' %>
							<% else %>
								<%= image_tag current_user.image, :class => "img_user04" %>
							<% end %>
						</div>
						<div class="pro02">
							<span class="font_white">
								<%= post.user.name %>
							</span>
							<br>
							<span class="font_white">
								<i class="fas fa-film"></i> テレビ
								 - <%= post.created_at.strftime('%Y/%m/%d') %>
							</span>
						</div>
						<div class="pro03">
							<div class="dropdown">
							  <div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    <span class="font_white_max">
							    	<i class="fas fa-ellipsis-h"></i>
							    </span>
							  </div>
							  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
							    <li><a href="#">投稿を編集</a></li>
							    <li><a href="#">削除</a></li>
							    <li><a href="#">共有</a></li>
							  </ul>
							</div>
						</div>
					</div>
					<div class="layer07">
						<% if post.image_url.blank? %>
							<%= image_tag "nothing01.jpg", :class =>'img_lavoro03' %>
						<% else %>
							<%= image_tag post.image_url, :class =>'img_lavoro03' %>
						<% end %>
					</div>
					<div class="layer02">
						<div class="font_how">
							<% if post.review == "favorite" %>
								<i class="fas fa-star" style="color:rgba(252,228,4,0.7);"></i> おすすめしています
							<% end %>
							<% if post.review == "good" %>
								観ました
							<% end %>
							<% if post.review == "bad" %>
								<i class="fas fa-ban" style="color:rgba(236,12,28,0.7);"></i> おすすめしていません
							<% end %>
						</div>
						<br>
						<div class="font_head">
							<%= post.title %>
						</div>
						<% if post.description.present? %>
							<br>
							<div class="balloon">
							  	<%= simple_format(post.description, {}, wrapper_tag: "div") %>
							</div>
						<% end %>
					</div>
					<div class="layer04">
						<div class="pro04">
							<a href="" data-toggle="modal" data-dismiss="modal">
								<%= image_tag "left_blue.png", :class =>'img_left' %>
							</a>
						</div>
					</div>
				</span>
			</div>
  		</div>
  	</div>
<% end %>
<% end %>

<%#bookモーダルの中身%>
<% if @book.present? %>
<% @book.each.with_index(1) do |post, i| %>
	<div class="modal fade" id="myModal_book<%= i %>">
		<div class="height_modal"></div>
		<div class="modal-dialog">
  			<div class="base02">
				<% if post.image_url.blank? %>
					<%= image_tag "nothing01.jpg", :class =>'img_lavoro02' %>
				<% else %>
					<% if post.category == "music" %>
						<%= image_tag post.image_url, :class =>'img_lavoro002' %>
					<% else %>
						<%= image_tag post.image_url, :class =>'img_lavoro02' %>
					<% end %>
				<% end %>
				<span>
					<div class="layer05">
					</div>
					<div class="layer03">
						<div class="pro01">
							<% if post.user.image.blank?  %>
								<%= image_tag "user05.png", :class =>'img_user04' %>
							<% else %>
								<%= image_tag current_user.image, :class => "img_user04" %>
							<% end %>
						</div>
						<div class="pro02">
							<span class="font_white">
								<%= post.user.name %>
							</span>
							<br>
							<span class="font_white">
								<i class="fas fa-book"></i> ブック
								 - <%= post.created_at.strftime('%Y/%m/%d') %>
							</span>
						</div>
						<div class="pro03">
							<div class="dropdown">
							  <div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    <span class="font_white_max">
							    	<i class="fas fa-ellipsis-h"></i>
							    </span>
							  </div>
							  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
							    <li><a href="#">投稿を編集</a></li>
							    <li><a href="#">削除</a></li>
							    <li><a href="#">共有</a></li>
							  </ul>
							</div>
						</div>
					</div>
					<div class="layer07">
						<% if post.image_url.blank? %>
							<%= image_tag "nothing01.jpg", :class =>'img_lavoro03' %>
						<% else %>
							<%= image_tag post.image_url, :class =>'img_lavoro03' %>
						<% end %>
					</div>
					<div class="layer02">
						<div class="font_how">
							<% if post.review == "favorite" %>
								<i class="fas fa-star" style="color:rgba(252,228,4,0.7);"></i> おすすめしています
							<% end %>
							<% if post.review == "good" %>
								観ました
							<% end %>
							<% if post.review == "bad" %>
								<i class="fas fa-ban" style="color:rgba(236,12,28,0.7);"></i> おすすめしていません
							<% end %>
						</div>
						<br>
						<div class="font_head">
							<%= post.title %>
						</div>
						<% if post.description.present? %>
							<br>
							<div class="balloon">
							  	<%= simple_format(post.description, {}, wrapper_tag: "div") %>
							</div>
						<% end %>
					</div>
					<div class="layer04">
						<div class="pro04">
							<a href="" data-toggle="modal" data-dismiss="modal">
								<%= image_tag "left_blue.png", :class =>'img_left' %>
							</a>
						</div>
					</div>
				</span>
			</div>
  		</div>
  	</div>
<% end %>
<% end %>

<%#comicモーダルの中身%>
<% if @comic.present? %>
<% @comic.each.with_index(1) do |post, i| %>
	<div class="modal fade" id="myModal_comic<%= i %>">
		<div class="height_modal"></div>
		<div class="modal-dialog">
  			<div class="base02">
				<% if post.image_url.blank? %>
					<%= image_tag "nothing01.jpg", :class =>'img_lavoro02' %>
				<% else %>
					<% if post.category == "music" %>
						<%= image_tag post.image_url, :class =>'img_lavoro002' %>
					<% else %>
						<%= image_tag post.image_url, :class =>'img_lavoro02' %>
					<% end %>
				<% end %>
				<span>
					<div class="layer05">
					</div>
					<div class="layer03">
						<div class="pro01">
							<% if post.user.image.blank?  %>
								<%= image_tag "user05.png", :class =>'img_user04' %>
							<% else %>
								<%= image_tag current_user.image, :class => "img_user04" %>
							<% end %>
						</div>
						<div class="pro02">
							<span class="font_white">
								<%= post.user.name %>
							</span>
							<br>
							<span class="font_white">
								<i class="fas fa-book"></i> コミック
								 - <%= post.created_at.strftime('%Y/%m/%d') %>
							</span>
						</div>
						<div class="pro03">
							<div class="dropdown">
							  <div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    <span class="font_white_max">
							    	<i class="fas fa-ellipsis-h"></i>
							    </span>
							  </div>
							  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
							    <li><a href="#">投稿を編集</a></li>
							    <li><a href="#">削除</a></li>
							    <li><a href="#">共有</a></li>
							  </ul>
							</div>
						</div>
					</div>
					<div class="layer07">
						<% if post.image_url.blank? %>
							<%= image_tag "nothing01.jpg", :class =>'img_lavoro03' %>
						<% else %>
							<%= image_tag post.image_url, :class =>'img_lavoro03' %>
						<% end %>
					</div>
					<div class="layer02">
						<div class="font_how">
							<% if post.review == "favorite" %>
								<i class="fas fa-star" style="color:rgba(252,228,4,0.7);"></i> おすすめしています
							<% end %>
							<% if post.review == "good" %>
								観ました
							<% end %>
							<% if post.review == "bad" %>
								<i class="fas fa-ban" style="color:rgba(236,12,28,0.7);"></i> おすすめしていません
							<% end %>
						</div>
						<br>
						<div class="font_head">
							<%= post.title %>
						</div>
						<% if post.description.present? %>
							<br>
							<div class="balloon">
							  	<%= simple_format(post.description, {}, wrapper_tag: "div") %>
							</div>
						<% end %>
					</div>
					<div class="layer04">
						<div class="pro04">
							<a href="" data-toggle="modal" data-dismiss="modal">
								<%= image_tag "left_blue.png", :class =>'img_left' %>
							</a>
						</div>
					</div>
				</span>
			</div>
  		</div>
  	</div>
<% end %>
<% end %>

<%#musicモーダルの中身%>
<% if @music.present? %>
<% @music.each.with_index(1) do |post, i| %>
	<div class="modal fade" id="myModal_music<%= i %>">
		<div class="height_modal"></div>
		<div class="modal-dialog">
  			<div class="base02">
				<% if post.image_url.blank? %>
					<%= image_tag "nothing01.jpg", :class =>'img_lavoro02' %>
				<% else %>
					<% if post.category == "music" %>
						<%= image_tag post.image_url, :class =>'img_lavoro002' %>
					<% else %>
						<%= image_tag post.image_url, :class =>'img_lavoro02' %>
					<% end %>
				<% end %>
				<span>
					<div class="layer05">
					</div>
					<div class="layer03">
						<div class="pro01">
							<% if post.user.image.blank?  %>
								<%= image_tag "user05.png", :class =>'img_user04' %>
							<% else %>
								<%= image_tag current_user.image, :class => "img_user04" %>
							<% end %>
						</div>
						<div class="pro02">
							<span class="font_white">
								<%= post.user.name %>
							</span>
							<br>
							<span class="font_white">
								<i class="fas fa-music"></i> ミュージック
								 - <%= post.created_at.strftime('%Y/%m/%d') %>
							</span>
						</div>
						<div class="pro03">
							<div class="dropdown">
							  <div class="dropdown-toggle" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
							    <span class="font_white_max">
							    	<i class="fas fa-ellipsis-h"></i>
							    </span>
							  </div>
							  <ul class="dropdown-menu dropdown-menu-right" aria-labelledby="dropdownMenu1">
							    <li><a href="#">投稿を編集</a></li>
							    <li><a href="#">削除</a></li>
							    <li><a href="#">共有</a></li>
							  </ul>
							</div>
						</div>
					</div>
					<div class="layer07">
						<% if post.image_url.blank? %>
							<%= image_tag "nothing01.jpg", :class =>'img_lavoro03' %>
						<% else %>
							<%= image_tag post.image_url, :class =>'img_lavoro03' %>
						<% end %>
					</div>
					<div class="layer02">
						<div class="font_how">
							<% if post.review == "favorite" %>
								<i class="fas fa-star" style="color:rgba(252,228,4,0.7);"></i> おすすめしています
							<% end %>
							<% if post.review == "good" %>
								観ました
							<% end %>
							<% if post.review == "bad" %>
								<i class="fas fa-ban" style="color:rgba(236,12,28,0.7);"></i> おすすめしていません
							<% end %>
						</div>
						<br>
						<div class="font_head">
							<%= post.title %>
						</div>
						<% if post.description.present? %>
							<br>
							<div class="balloon">
							  	<%= simple_format(post.description, {}, wrapper_tag: "div") %>
							</div>
						<% end %>
					</div>
					<div class="layer04">
						<div class="pro04">
							<a href="" data-toggle="modal" data-dismiss="modal">
								<%= image_tag "left_blue.png", :class =>'img_left' %>
							</a>
						</div>
					</div>
				</span>
			</div>
  		</div>
  	</div>
<% end %>
<% end %>





<%#投稿ボタン%>
<div class="btns_plus">
	<a href="" data-toggle="modal" data-target="#myModal_post" id="btn_plus">
		<i><%= image_tag "plus.png", :class =>'img_plus' %></i>
	</a>
</div>	
<div class="modal fade" id="myModal_post">
	<div class="height_modal"></div>
    <div class="modal-dialog">
    	<div class="base02">
			<%= image_tag "movie01.jpg", :class =>'img_lavoro04' %>
			<span>
				<div class="layer05">
				</div>
				<div class="layer06">
			  		<div class="">	
				  		<div style="font-size:24px;color:#FAFAFA;margin:0px 0px 20px;">
					      	投稿を作成
				        </div>
				  		<div style="display:inline-block;vertical-align:top;margin:20px 20px 0px;">
				  			<div>
						      	<%= link_to(works_movie_path, id: 'btn_option') do %>
						        	<i class="fas fa-film"></i>
						        <% end %>
					        </div>
					        <div style="font-size:14px;color:#777777;margin-top:2px;">
					        	映画
					        </div>
				        </div>
				        <div style="display:inline-block;vertical-align:top;margin:0px 20px 0px;">
				        	<div>
				        		<%= link_to(works_book_path, id: 'btn_option') do %>
						        	<i class="fas fa-book"></i>
						        <% end %>
						    </div>
					        <div style="font-size:14px;color:#777777;margin-top:2px;">
					        	ブック
					        </div>
				        </div>
				        <div style="display:inline-block;vertical-align:top;margin:20px 20px 0px;">
				        	<div>
						      	<%= link_to(works_music_path, id: 'btn_option') do %>
						        	<i class="fas fa-music"></i>
						        <% end %>
					        </div>
					        <div style="font-size:14px;color:#777777;margin-top:2px;">
					        	ミュージック
					        </div>
				        </div> 
			        </div>   
				</div>
			</span>
		</div>
    </div>
    <div class="btns_plus">
		<a href="" data-toggle="modal" data-dismiss="modal" id="btn_plus">
			<i><%= image_tag "plus.png", :class =>'img_time' %></i>
		</a>
	</div>	
</div>





<%#タブスワイプ切り替え%>
<script type="text/javascript">
	$(function(){
  var ACTIVE_SELECTOR = '.nav-pills > .active';
 
  var $jsTabs = $('.js-tabs');
  var $jsTabsLi = $('.js-tabs li');
 
  var $jsSwipe = $('.tab-pane');
  var $scrollContainer = $('.horizontal_scroll02');
 
  var tabsLiLen = $jsTabsLi.length;
  var tabsLiWid = $jsTabsLi.eq(0).width();
 
 
  //スワイプイベント登録
  $jsSwipe.hammer().on('swipeleft',next);  //--------C
  $jsSwipe.hammer().on('swiperight',prev);
 
  function next() {
    tabManager($(ACTIVE_SELECTOR).next('li'));
  }
  function prev() {
    tabManager($(ACTIVE_SELECTOR).prev('li'));
  }                                        //--------C
 
  // 指定されたタブをカレントし要素にスクロールする
  function tabManager($nextTarget){
    $nextTarget.find('a').trigger('click');  //--------D
 
    if($nextTarget.index() != -1){
      $scrollContainer.scrollLeft($nextTarget.index() * tabsLiWid);  //--------E
       
    }
  }
 
});
</script>