<div class="bar_post">			
	<div style="">
		<div class="pro13">
			<div style="text-align:left;">
				<a href="javascript:void(0);" onclick="window.history.back();">
		        	<%= image_tag "left-arrow.png", :style =>'width:15px;height:15px;' %>
		        </a>										
			</div>
		</div>
		<div class="pro14">
			<div class="contain_title02" style="text-align:center;">
				<div style="font-size:14px;color:#c2c2c2;">
					通知
				</div>
			</div>
		</div>
		<div class="pro15">
			<div style="text-align:right;">							
			</div>
		</div>
	</div>
</div>

<div class="main">
	<div class="block_side">
	</div>
	<div class="block_main">
		<div class="a1">
          <div class="a4">
            <div class="d1">    
              <div class="d4"></div>
            </div>
          </div>
          <div class="a5">
          		<div style="height:50px;"></div>
				<div style="height:40px;"></div>
				<% if @notifications.present? %>
					<% @notifications_no.each do |item| %>
						<a href="" data-toggle="modal" data-target="#myModal_profile_<%= item.notified_by.id %>">
							<div class="box_tests08">
					            <div class="pro21">
						            <%= image_tag item.notified_by.image(:medium), :class =>'img_user09' %>
					            </div>
					            <div class="pro22">  
					              	<span class="font_white_min">
					                	<%= item.notified_by.name %>さんからフォローされました
					              	</span>
					            </div>
					            <div class="pro23" style="text-align:right;padding-right:10px;">
					            	<div class="font_gray_max">
						            	<i class="fas fa-chevron-right"></i>
						            </div>
					            </div>
					        </div>
				    	</a>
				    <% end %>
				    <% @notifications_yes.each do |item| %>
				    	<a href="" data-toggle="modal" data-target="#myModal_profile_<%= item.notified_by.id %>">
					        <div class="box_tests09">
					            <div class="pro21">
						            <%= image_tag item.notified_by.image(:medium), :class =>'img_user09' %>
					            </div>
					            <div class="pro22">  
					              	<span class="font_white_min">
					                	<%= item.notified_by.name %>さんからフォローされました
					              	</span>
					            </div>
					            <div class="pro23" style="text-align:right;padding-right:10px;">
					            	<div class="font_gray_max">
						            	<i class="fas fa-chevron-right"></i>
						            </div>
					            </div>
					        </div>
				        </a>
				    <% end %>
			        <div style="height:10vh;"></div> 
			    <% else %>
			    	<div style="height:50px;"></div>
			        <div style="height:20vh;"></div>
					<div style="text-align:center;margin-top:20px;">
						<%= image_tag "bell02.png", :style =>'width:35px;height:35px;' %>
					</div>
					<div style="text-align:center;margin-top:10px;font-size:12px;color:#999999;">
						通知はありません
					</div>	
				    <div style="height:10vh;"></div> 
				<% end %>
          </div>
        </div>	
	</div>
	<div class="block_side">
	</div>
</div>


<% if @notifications.present? %>
	<% @user_list = [] %>
	<% @notifications.each.with_index(1) do |item, i| %>
		<% unless @user_list.include?(item.notified_by.id) %>
			<% @user = item.notified_by %>
	  		<% @checkeds_i = Post.where(user_id: @user.id).where.not(review: "bookmark").size %>
	  		<% @bookmarks_i = Post.where(user_id: @user.id, review: "bookmark").size %>
			<%= render partial: 'users/profile', locals: { user: @user, checkeds_i: @checkeds_i, bookmarks_i: @bookmarks_i } %>
			<% @user_list.push(item.notified_by.id) %>
		<% end %>
	<% end %>
<% end %>