<div style="height:45px;"></div>
<div style="padding:20px 15px 0;">
	<div style="font-size:19px;font-weight:bold;">
		Notifications
	</div>
	<div style="font-size:12px;opacity:0.9;margin-top:-2px;">
		通知
	</div>
</div>	
<% @i = 0 %>
<% if @notifications.present? %>
	<%#未読%>
	<% @notifications_no.each do |item| %>
		<% if User.find_by(id: item.notified_by) %>
			<% if item.notified_type == "follow" %>
				<% @i = @i + 1 %>
				<%= link_to "/#{item.notified_by.username}" do %>
			        <div style="margin:12px 15px;padding:20px 0;background:-webkit-linear-gradient(-45deg,rgba(17,17,17,0.6),rgba(5,98,123,0.1));background:linear-gradient(-45deg,rgba(17,17,17,0.6),rgba(5,98,123,0.1));border-radius:5px;">
			            <div class="inline_block_middle" style="width:100%;padding:0 10px;">
			            	<div class="inline_block_top" style="width:30px;">					            
					            <img data-src="/assets/follow_2FB4B4.svg" class="lazyload" style="width:20px;height:20px;opacity:0.7;">					            
				            </div>
				            <div class="inline_block_top" style="width:calc(100% - 40px);margin-top:-5px;">
				            	<% if item.notified_by.image.present? %>
					                <img data-src="<%= item.notified_by.image(:medium) %>" class="lazyload" style="width:30px;height:30px;border-radius:50%;object-fit:cover;background:rgba(0,0,0,0.1);box-shadow:1px 1px 5px 2px rgba(0,0,0,0.2);">
					            <% else %>
					                <img data-src="/assets/user.jpg" class="lazyload" style="width:30px;height:30px;border-radius:50%;object-fit:cover;background:rgba(0,0,0,0.1);box-shadow:1px 1px 5px 2px rgba(0,0,0,0.2);">
					            <% end %>
					            <div style="height:7px;"></div>
				              	<div style="font-size:11px;color:#FAFAFA;">
				                	<%= item.notified_by.name %>さんからフォローされました
				              	</div>
				            </div>
			            </div>       
			        </div>
		        <% end %>
		    <% end %>
    	<% end %>
    <% end %>
    <%#既読%>
    <% @notifications_yes.each do |item| %>
    	<% if User.find_by(id: item.notified_by) %>
    		<% if item.notified_type == "follow" %>
    			<% @i = @i + 1 %>
		    	<%= link_to "/#{item.notified_by.username}" do %>
			        <div style="margin:10px 15px;padding:20px 0;background:-webkit-linear-gradient(-45deg,rgba(17,17,17,0.6),rgba(50,50,50,0.2));background:linear-gradient(-45deg,rgba(17,17,17,0.6),rgba(50,50,50,0.2));border-radius:5px;">
			            <div class="inline_block_middle" style="width:100%;padding:0 10px;">
			            	<div class="inline_block_top" style="width:30px;">					            
					            <img data-src="/assets/follow_2FB4B4.svg" class="lazyload" style="width:20px;height:20px;opacity:0.7;">					            
				            </div>
				            <div class="inline_block_top" style="width:calc(100% - 40px);margin-top:-5px;">
				            	<% if item.notified_by.image.present? %>
					                <img data-src="<%= item.notified_by.image(:medium) %>" class="lazyload" style="width:30px;height:30px;border-radius:50%;object-fit:cover;background:rgba(0,0,0,0.1);box-shadow:1px 1px 5px 2px rgba(0,0,0,0.2);">
					            <% else %>
					                <img data-src="/assets/user.jpg" class="lazyload" style="width:30px;height:30px;border-radius:50%;object-fit:cover;background:rgba(0,0,0,0.1);box-shadow:1px 1px 5px 2px rgba(0,0,0,0.2);">
					            <% end %>
					            <div style="height:7px;"></div>
				              	<div style="font-size:11px;color:#FAFAFA;">
				                	<%= item.notified_by.name %>さんからフォローされました
				              	</div>
				            </div>
			            </div>       
			        </div>
		        <% end %>
		    <% end %>
	    <% end %>
    <% end %>
<% else %>
	<%#通知がデータにも存在していない時%>
	<div style="margin:12px 15px;padding:20px 0;background:-webkit-linear-gradient(-45deg,rgba(17,17,17,0.6),rgba(50,50,50,0.2));background:linear-gradient(-45deg,rgba(17,17,17,0.6),rgba(50,50,50,0.2));border-radius:5px;">
        <div class="inline_block_middle" style="width:100%;padding:0 10px;text-align:center;vertical-align:middle;">
          	<div style="font-size:12px;color:#FAFAFA;opacity:0.9;">
            	通知はまだありません
          	</div>
        </div>
    </div>
<% end %>


<%#通知がデータには存在している時%>
<% if @i == 0 %>
	<div style="margin:12px 15px;padding:20px 0;background:-webkit-linear-gradient(-45deg,rgba(17,17,17,0.6),rgba(50,50,50,0.2));background:linear-gradient(-45deg,rgba(17,17,17,0.6),rgba(50,50,50,0.2));border-radius:5px;">
        <div class="inline_block_middle" style="width:100%;padding:0 10px;text-align:center;vertical-align:middle;">
          	<div style="font-size:12px;color:#FAFAFA;opacity:0.9;">
            	通知はまだありません
          	</div>
        </div>
    </div>
<% end %>

<%#lazyload.js%>
<script defer>
  $(function() {
    $('img.lazyload').lazyload();
  });
</script>