<div class="bar_post">			
	<div style="">
		<div class="inline_block_middle" style="width:15%;">
			<div style="text-align:left;padding-left:10px;">
				<a href="javascript:void(0);" onclick="window.history.back();">
		        	<%= image_tag "left_C2C2C2.svg", :style =>'width:15px;height:15px;' %>
		        </a>										
			</div>
		</div>
		<div class="inline_block_middle" style="width:70%;">
			<div class="contain_title02" style="text-align:center;">
				<div style="font-size:14px;color:#c2c2c2;">
					通知
				</div>
			</div>
		</div>
		<div class="inline_block_middle" style="width:15%;">
			<div style="text-align:right;">							
			</div>
		</div>
	</div>
</div>


	<div style="height:45px;"></div>
<div style="height:40px;"></div>
<% if @notifications.present? %>
	<% @notifications_no.each do |item| %>
		<% if User.find_by(id: item.notified_by) %>
			<%= link_to "/#{item.notified_by.username}/profile" do %>
				<div class="box_tests08">
		            <div class="inline_block_middle" style="width:15%;padding-left:5px;">
			            <% if item.notified_by.image.present? %>
			                <img data-src="<%= item.notified_by.image(:medium) %>" class="img_user09 lazyload">
			            <% else %>
			                <img data-src="/assets/user.svg" class="img_user09 lazyload" style="box-shadow:none;">
			            <% end %>
		            </div>
		            <div class="inline_block_middle" style="width:65%;padding-left:5px;">
		              	<span class="font_white_min">
		                	<%= item.notified_by.name %>さんからフォローされました
		              	</span>
		            </div>
		            <div class="inline_block_middle" style="width:20%;text-align:right;padding-right:10px;">
		            	<img data-src="/assets/right_C2C2C2.svg" class="lazyload" style="width:15px;height:15px;">
		            </div>
		        </div>
	    	<% end %>
    	<% end %>
    <% end %>
    <% @notifications_yes.each do |item| %>
    	<% if User.find_by(id: item.notified_by) %>
	    	<%= link_to "/#{item.notified_by.username}/profile" do %>
		        <div class="box_tests09">
		            <div class="inline_block_middle" style="width:15%;padding-left:5px;">
			            <% if item.notified_by.image.present? %>
			                <img data-src="<%= item.notified_by.image(:medium) %>" class="img_user09 lazyload">
			            <% else %>
			                <img data-src="/assets/user.svg" class="img_user09 lazyload" style="box-shadow:none;">
			            <% end %>
		            </div>
		            <div class="inline_block_middle" style="width:65%;padding-left:5px;">
		              	<span class="font_white_min">
		                	<%= item.notified_by.name %>さんからフォローされました
		              	</span>
		            </div>
		            <div class="inline_block_middle" style="width:20%;text-align:right;padding-right:10px;">
		            	<img data-src="/assets/right_C2C2C2.svg" class="lazyload" style="width:15px;height:15px;">
		            </div>
		        </div>
	        <% end %>
	    <% end %>
    <% end %>
    <div style="height:10vh;"></div> 
<% else %>
	<div style="height:50px;"></div>
    <div style="height:20vh;"></div>
	<div style="text-align:center;margin-top:20px;">
		<%= image_tag "bell_777777.svg", :style =>'width:35px;height:35px;' %>
	</div>
	<div style="text-align:center;margin-top:10px;font-size:12px;color:#999999;">
		通知はありません
	</div>	
    <div style="height:10vh;"></div> 
<% end %>

<%#lazyload.js%>
<script defer>
  $(function() {
    $('img.lazyload').lazyload();
  });
</script>