<%#meta_tag%>
<% if @user.image.present? %>
	<% set_meta_tags title: "#{@user.name}の投稿一覧", description: "", og: { title: "#{@user.name}の投稿一覧", image: @user.image }, twitter: { title: "#{@user.name}の投稿一覧", image: @user.image, card: "summary" } %>
<% else %>
	<% set_meta_tags title: "#{@user.name}の投稿一覧", description: "", og: { title: "#{@user.name}の投稿一覧", image: "user.jpg" }, twitter: { title: "#{@user.name}の投稿一覧", image: "user.jpg", card: "summary" } %>
<% end %>

<%#壁紙%>
<div class="wallpaper" style="top:45px;height:calc(100vh - 45px);">
	<div class="a1">
		<div class="a4">
	        <div class="d1">
	          	<%= image_tag "wallpaper.jpg", :class =>'img_myboom' %>
				<div class="d2" style="background:rgba(0,0,0,0.8);"></div>
	        </div>
	  	</div>
	</div>
</div>

<div style="height:45px;"></div>
<!-- プロフィール部分 -->
<div style="height:20px;"></div>
<div style="width:100%;">
    <div class="inline_block_middle" style="width:50%;">
      	<div style="text-align:left;padding-left:20px;">
        	<a href="javascript:void(0);" onclick="window.history.back();">
          		<%= image_tag "left_FAFAFA.svg", :class =>'inline_block_middle', :style =>'width:15px;height:15px;margin-right:3px;opacity:0.6;' %>
          		<div class="inline_block_middle" style="font-size:13px;color:#FAFAFA;opacity:0.6;">
          			<%= @user.username %>
          		</div>
        	</a>                    
      	</div>
    </div>
    <div class="inline_block_middle" style="width:50%;">
    	<div style="text-align:right;padding-right:20px;">
      		<a href="#" data-toggle="modal" data-target="#myModal_half_profile">
				<%= image_tag "ellipsis_FAFAFA.svg", :style =>'width:20px;height:20px;opacity:0.6;' %>
			</a>             
      	</div>
    </div>
</div>
<div style="height:15px;"></div>
<div style="width:100%;text-align:center;">
	<% if @user.image.present? %>
	    <%= image_tag @user.image(:large), :style =>'width:80px;height:80px;border-radius:50%;object-fit:cover;background:rgba(0,0,0,0.1);' %>
	<% else %>
	    <%= image_tag "user.jpg", :style =>'width:80px;height:80px;border-radius:50%;object-fit:cover;background:rgba(0,0,0,0.1);' %>
	<% end %>
</div>
<div style="height:5px;"></div>
<div style="width:100%;padding:0 20px;text-align:center;">
	<div class="contain_title02">
		<div style="font-size:18px;font-weight:bolder">
		    <%= @user.name %>
		    <% if @user.authority == "public" %>
		    	<%= image_tag "public.svg", :class =>'icon_public' %>
		    <% end %>
		</div> 
	</div> 
	<div style="height:3px;"></div>
	<%= link_to "/#{@user.username}/following" do %>
		<div class="inline_block_middle" style="font-size:9px;color:#FAFAFA;opacity:0.6;">
			<%= @user.followings.size %> フォロー
		</div>
	<% end %>
	<div class="inline_block_middle" style="padding:0 2px;font-size:9px;color:#FAFAFA;opacity:0.6;">
		・
	</div>
	<%= link_to "/#{@user.username}/follower" do %>   
		<div class="inline_block_middle" style="font-size:9px;color:#FAFAFA;opacity:0.6;">
			<%= @user.followers.size %> フォロワー
		</div>
	<% end %>
	<% if @user.description.present? %>
		<div style="height:5px;"></div>  
	    <div class="contain_title03">
		    <div style="font-size:9px;color:#FAFAFA;opacity:0.6;">
		      <%= simple_format(@user.description, {}, wrapper_tag: "div") %>
		    </div>
		</div>
	<% end %>
</div>
<div style="height:15px;"></div>
<div style="width:100%;text-align:center;">
	<div id="relationship-of-<%= @user.id %>">
	    <%= render partial: 'relationships/relationship' %>
	</div>
</div>
<div style="height:30px"></div>
<div class="" style="text-align:center;padding:0 15%;font-family:;">	
	<div class="inline_block_middle" style="text-align:center;width:33.33%;opacity:0.5;">
		<a href="javascript:void(0);" onclick="goDone()">
	      	<div style="font-size:20px;color:#FAFAFA;">
	      		<%= @done_i %>
	    	</div>
	    	<div style="font-size:10px;color:#FAFAFA;">
	      		Done
	    	</div>
	    </a>
    </div>
    <div class="inline_block_middle" style="text-align:center;width:33.33%;">
    	<a href="javascript:void(0);" onclick="goDoing()">
	      	<div style="font-size:20px;color:#FAFAFA;">
	      		<%= @doing_i %>
	    	</div>
	    	<div style="font-size:10px;color:#FAFAFA;">
	      		Doing
	    	</div>
	    </a>
    </div>
    <div class="inline_block_middle" style="text-align:center;width:33.33%;opacity:0.5;">
    	<a href="javascript:void(0);" onclick="goWant()">
	      	<div style="font-size:20px;color:#FAFAFA;">
	      		<%= @want_i %>
	    	</div>
	    	<div style="font-size:10px;color:#FAFAFA;">
	      		Want
	    	</div>
	    </a>
    </div>
</div>
<div style="height:30px"></div> 
<div style="border-bottom:solid 0.5px rgba(250,250,250,0.1);"></div>
<!-- タブボタン部分 -->
<ul class="nav nav-tabs">
    <li class="nav-item active">
    	<a href="#all" class="nav-link" data-toggle="tab">すべて</a>
    </li>
    <li class="nav-item">
      	<a href="#movie" class="nav-link" data-toggle="tab">映画</a>
    </li>
    <li class="nav-item">
      	<a href="#tv" class="nav-link" data-toggle="tab">テレビ</a>
    </li>
    <li class="nav-item">
      	<a href="#book" class="nav-link" data-toggle="tab">ブック</a>
    </li>
    <li class="nav-item">
      	<a href="#comic" class="nav-link" data-toggle="tab">コミック</a>
    </li>
    <li class="nav-item">
      	<a href="#music" class="nav-link" data-toggle="tab">ミュージック</a>
    </li>
</ul>
<!--タブのコンテンツ部分-->
<div class="tab-content">
    <div id="all" class="tab-pane active">
      	<% if @all.blank? %>				  		
			<div style="text-align:center;margin-top:10vh;font-size:12px;opacity:0.8;">
				
			</div>	
	  	<% else %>
		  	<% @all.each.with_index(1) do |post, i| %>
	  			<%# 3列表示(lazyload) %>
				<%= render partial: 'partial/row_three_lazyload', locals: { post: post, i: i } %>
		  	<% end %>
	  	<% end %>
    </div>
    <div id="movie" class="tab-pane">
    	<% if @movie.blank? %>
	  		<div style="text-align:center;margin-top:10vh;font-size:12px;opacity:0.8;">
				
			</div>	
	  	<% else %>
		    <% @movie.each.with_index(1) do |post, i| %>
		  		<%# 3列表示(swiper) %>
				<%= render partial: 'partial/row_three_lazyload', locals: { post: post, i: i } %>
		  	<% end %>
	  	<% end %>
    </div>
    <div id="tv" class="tab-pane">
    	<% if @tv.blank? %>
	  		<div style="text-align:center;margin-top:10vh;font-size:12px;opacity:0.8;">
				
			</div>
	  	<% else %>
		  	<% @tv.each.with_index(1) do |post, i| %>
		  		<%# 3列表示(swiper) %>
				<%= render partial: 'partial/row_three_lazyload', locals: { post: post, i: i } %>
		  	<% end %>
	  	<% end %>
    </div>
    <div id="book" class="tab-pane">
    	<% if @book.blank? %>
	  		<div style="text-align:center;margin-top:10vh;font-size:12px;opacity:0.8;">
				
			</div>
	  	<% else %>
		  	<% @book.each.with_index(1) do |post, i| %>
		  		<%# 3列表示(swiper) %>
				<%= render partial: 'partial/row_three_lazyload', locals: { post: post, i: i } %>
		  	<% end %>
	  	<% end %>
    </div>
    <div id="comic" class="tab-pane">
    	<% if @comic.blank? %>
	  		<div style="text-align:center;margin-top:10vh;font-size:12px;opacity:0.8;">
				
			</div>
	  	<% else %>
		  	<% @comic.each.with_index(1) do |post, i| %>
		  		<%# 3列表示(swiper) %>
				<%= render partial: 'partial/row_three_lazyload', locals: { post: post, i: i } %>
		  	<% end %>
  		<% end %>
    </div>
    <div id="music" class="tab-pane">
    	<% if @music.blank? %>
	  		<div style="text-align:center;margin-top:10vh;font-size:12px;opacity:0.8;">
				
			</div>	
	  	<% else %>
		  	<% @music.each.with_index(1) do |post, i| %>
		  		<%# 3列表示(swiper) %>
				<%= render partial: 'partial/row_three_lazyload', locals: { post: post, i: i } %>
		  	<% end %>
	  	<% end %>
    </div>
</div>


<%#プロフィールモーダル%>
<%= render partial: 'partial/modal_half_profile', locals: { user: @user } %>
<%#プロフィールシェアモーダル%>
<%= render partial: 'partial/modal_half_profile_share', locals: { user: @user } %>
<%#投稿ボタン%>
<% if user_signed_in? %>	          				
	<% if @user.id == current_user.id %>
		<%= render "partial/modal_post" %>
	<% end %>
<% end %>

<%#タブ%>
<script defer>
	$(function() {
		// Javascript to enable link to tab
		var url = document.location.toString();
		if (url.match('#')) {
		    $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
		} 
		// Change hash for page-reload
		$('.nav-tabs a').on('shown.bs.tab', function (e) {
		    history.replaceState(null, null, e.target.hash)
		})
	});
</script>
<%#URL置換%>
<script defer>
	function goDone(){
  		location.replace("<%= root_url(only_path: false) %>/<%= @user.username %>");
	}
	function goDoing(){
  		location.replace("<%= root_url(only_path: false) %>/<%= @user.username %>/doing");
	}
	function goWant(){
  		location.replace("<%= root_url(only_path: false) %>/<%= @user.username %>/want");
	}
</script>
<%#lazyload.js%>
<script defer>
	$(function() {
    	$('img.lazyload').lazyload();
	});
</script>