<div class="bar_collection">
	<div style="width:100%;padding:10px 15px;">
		<div class="inline_block_middle" style="width:33.33%;font-size:12px;">
			<%= @checkeds_i %> checkeds
		</div>
		<div class="inline_block_middle" style="width:33.33%;text-align:center;">
			<%= link_to "/#{@user.username}/profile" do %>
				<div class="inline_block_middle">
        			<% if @user.image.present? %>
		                <%= image_tag @user.image(:medium), :style => "width:40px;height:40px;border-radius:50%;background:rgba(0,0,0,0.1);box-shadow:1px 1px 5px 2px rgba(0,0,0,0.2);object-fit:cover;" %>
		            <% else %>
		                <%= image_tag "user.svg",:style =>'width:40px;height:40px;border-radius:50%;background:rgba(0,0,0,0.1);object-fit:cover;' %>
		            <% end %>
        		</div>
    		<% end %>
		</div>
		<div class="inline_block_middle" style="width:33.33%;text-align:right;">
			<a href="javascript:void(0);" onclick="window.history.back();">			
	        	<%= image_tag "cross_777777.svg", :style =>'width:18px;height:18px;opacity:0.5;' %>
	        </a>	
		</div>
	</div>
	<div class="tabContainer">
        <div class="tab_table">
            <div class="tab__button active">すべて</div>
            <div class="tab__button">お気に入り</div>
            <div class="tab__button">映画</div>
            <div class="tab__button">テレビ</div>
            <div class="tab__button">ブック</div>
            <div class="tab__button">コミック</div>
            <div class="tab__button">ミュージック</div>
        </div>
    </div>
</div>

<div class="swiper-container" style="height:100%">
	<div class="swiper-wrapper" style="height:100%">
		<div class="swiper-slide" style="height:100%">
        	<div style="height:100%;overflow-y:scroll;-webkit-overflow-scrolling:touch;">
		  		<div style="height:145px;"></div>
			  	<% if @all.blank? %>				  		
					<div class="font_white" style="text-align:center;margin-top:30vh;">
						<%= image_tag "warning_FAFAFA.svg", :style =>'width:20px;height:20px;margin-top:-2px;' %> 投稿がありません
					</div>	
			  	<% else %>
				  	<% @all.each.with_index(1) do |post, i| %>
			  			<%# 3列表示(lazyload) %>
						<%= render partial: 'partial/row_three_lazyload', locals: { post: post, i: i } %>
				  	<% end %>
			  	<% end %>
		  	</div>
        </div>
        <div class="swiper-slide" style="height:100%">
        	<div style="height:100%;overflow-y:scroll;-webkit-overflow-scrolling:touch;">
		  		<div style="height:145px;"></div>
			  	<% if @list_favorite_items.blank? %>
			  		<div class="font_white" style="text-align:center;margin-top:30vh;">
						<%= image_tag "warning_FAFAFA.svg", :style =>'width:20px;height:20px;margin-top:-2px;' %> 投稿がありません
					</div>	
			  	<% else %>
				    <% @list_favorite_items.each.with_index(1) do |item, i| %>
				    	<% post = item.post %>
				  		<%# 3列表示(swiper) %>
						<%= render partial: 'partial/row_three_swiper', locals: { post: post, i: i } %>
				  	<% end %>
			  	<% end %>
			</div>	
        </div>
        <div class="swiper-slide" style="height:100%">
        	<div style="height:100%;overflow-y:scroll;-webkit-overflow-scrolling:touch;">
		  		<div style="height:145px;"></div>
			  	<% if @movie.blank? %>
			  		<div class="font_white" style="text-align:center;margin-top:30vh;">
						<%= image_tag "warning_FAFAFA.svg", :style =>'width:20px;height:20px;margin-top:-2px;' %> 投稿がありません
					</div>	
			  	<% else %>
				    <% @movie.each.with_index(1) do |post, i| %>
				  		<%# 3列表示(swiper) %>
						<%= render partial: 'partial/row_three_swiper', locals: { post: post, i: i } %>
				  	<% end %>
			  	<% end %>
			</div>	
        </div>
        <div class="swiper-slide" style="height:100%">
        	<div style="height:100%;overflow-y:scroll;-webkit-overflow-scrolling:touch;">
		  		<div style="height:145px;"></div>
			    <% if @tv.blank? %>
			  		<div class="font_white" style="text-align:center;margin-top:30vh;">
						<%= image_tag "warning_FAFAFA.svg", :style =>'width:20px;height:20px;margin-top:-2px;' %> 投稿がありません
					</div>
			  	<% else %>
				  	<% @tv.each.with_index(1) do |post, i| %>
				  		<%# 3列表示(swiper) %>
						<%= render partial: 'partial/row_three_swiper', locals: { post: post, i: i } %>
				  	<% end %>
			  	<% end %>
			</div>	  	
        </div>
        <div class="swiper-slide" style="height:100%">
        	<div style="height:100%;overflow-y:scroll;-webkit-overflow-scrolling:touch;">
		  		<div style="height:145px;"></div>
			    <% if @book.blank? %>
			  		<div class="font_white" style="text-align:center;margin-top:30vh;">
						<%= image_tag "warning_FAFAFA.svg", :style =>'width:20px;height:20px;margin-top:-2px;' %> 投稿がありません
					</div>
			  	<% else %>
				  	<% @book.each.with_index(1) do |post, i| %>
				  		<%# 3列表示(swiper) %>
						<%= render partial: 'partial/row_three_swiper', locals: { post: post, i: i } %>
				  	<% end %>
			  	<% end %>
			</div>			  
        </div>
        <div class="swiper-slide" style="height:100%">
        	<div style="height:100%;overflow-y:scroll;-webkit-overflow-scrolling:touch;">
		  		<div style="height:145px;"></div>
			    <% if @comic.blank? %>
			  		<div class="font_white" style="text-align:center;margin-top:30vh;">
						<%= image_tag "warning_FAFAFA.svg", :style =>'width:20px;height:20px;margin-top:-2px;' %> 投稿がありません
					</div>
			  	<% else %>
				  	<% @comic.each.with_index(1) do |post, i| %>
				  		<%# 3列表示(swiper) %>
						<%= render partial: 'partial/row_three_swiper', locals: { post: post, i: i } %>
				  	<% end %>
		  		<% end %>
		  	</div>	  	
        </div>
        <div class="swiper-slide" style="height:100%">
        	<div style="height:100%;overflow-y:scroll;-webkit-overflow-scrolling:touch;">
		  		<div style="height:145px;"></div>
			    <% if @music.blank? %>
			  		<div class="font_white" style="text-align:center;margin-top:30vh;">
						<%= image_tag "warning_FAFAFA.svg", :style =>'width:20px;height:20px;margin-top:-2px;' %> 投稿がありません
					</div>	
			  	<% else %>
				  	<% @music.each.with_index(1) do |post, i| %>
				  		<%# 3列表示(swiper) %>
						<%= render partial: 'partial/row_three_swiper', locals: { post: post, i: i } %>
				  	<% end %>
			  	<% end %>
			</div>			
        </div>
	</div>
</div>

<%#投稿ボタン%>
<%= render "partial/modal_post" %>
<%#タブ切り替え%>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
<script defer>
	$(function(){
	    //タブボタンの数を取得
	    var tabQuantity = $('.tab__button').length;
	    //タブの長さとボディの長さの差分を取得
	    var tabExtraDistance = $('.tab_table').width();
	    //スライダー発動
	    var swiper = new Swiper('.swiper-container', {
				speed: 600,
				touchAngle: 55,
				preloadImages: false,
				lazy: {
					loadOnTransitionStart: true,
					loadPrevNext: false,
				},
			  	on: {
				    slideChange: function () {
				      var newIndex = swiper.realIndex;
	            	  slideChange(newIndex);
				    },
				  },
			});
	    //スライドする時に発動する関数。タブの表示調整を行う
	    function slideChange(newIndex){
	        //クラスを調整
	        $('.tab__button').removeClass('active');
	        $('.tab_table > div:nth-child(' + ( newIndex + 1 ) + ')').addClass('active');
	        //スクロールするべき距離を取得。タブ全体の長さ / ( タブの個数 - 1 ) * スライドの現在地
	        var scrollDestination = ( tabExtraDistance / (tabQuantity - 1) ) * ( newIndex );
	        //スクロール位置を調整
	        $('.tabContainer').animate({ scrollLeft: scrollDestination }, 'slow');
	    }
	    //タブボタンクリックで発動する関数
	    $('.tab__button').on('click',function(e){
	        //何番目の要素かを取ってスライドを移動する
	        var nth = $('.tab__button').index(this);
	        swiper.slideTo(nth, 500, false);
	        //クリックイベントを無効化
	        e.preventDefault();
	    })
	});
</script>
<%#lazyload.js%>
<script defer>
	$(function() {
    	$('img.lazyload_min').lazyload();
	});
</script>