<%#meta_tag%>
<% if @user.image.present? %>
	<% set_meta_tags title: "#{@user.name}の投稿一覧", description: "", og: { title: "#{@user.name}の投稿一覧", image: @user.image }, twitter: { title: "#{@user.name}の投稿一覧", image: @user.image, card: "summary" } %>
<% else %>
	<% set_meta_tags title: "#{@user.name}の投稿一覧", description: "", og: { title: "#{@user.name}の投稿一覧", image: "user.jpg" }, twitter: { title: "#{@user.name}の投稿一覧", image: "user.jpg", card: "summary" } %>
<% end %>

<%#トップバー%>
<% if user_signed_in? %>
	<div class="bar_top">      
	    <div class="inline_block_middle" style="width:20%;">
	    	<div style="text-align:left;padding-left:15px;">
	        	<a href="javascript:void(0);" onclick="window.history.back();">
	          		<%= image_tag "left_FAFAFA.svg", :style =>'width:18px;height:18px;' %>
	        	</a>                    
	      	</div>
	    </div>
	    <div class="inline_block_middle" style="width:60%;">
	      	<div class="contain_title02" style="text-align:center;">
	        	<div style="font-size:14px;color:#FAFAFA;">
	          		<%= @user.username %>
	        	</div>
	      	</div>
	    </div>
	    <div class="inline_block_middle" style="width:20%;">
	    	<div style="text-align:right;padding-right:15px;">
	    		<div class="inline_block_middle" style="margin-right:15px;"> 
		        	<%= link_to "/users/user" do %>			        
			        	<%= image_tag "search_FAFAFA.svg", :style =>'width:18px;height:18px;' %>        
			    	<% end %>
			    </div>
	    		<div class="inline_block_middle"> 
		        	<a href="#" data-toggle="modal" data-target="#myModal_half_profile">
		        		<%= image_tag "ellipsis_FAFAFA.svg", :style =>'width:18px;height:18px;' %>
		        	</a>
		        </div>		        
		    </div>
	    </div>
	</div>
<% else %>
	<div class="bar_top">      
	    <div class="inline_block_middle" style="width:50%;">
	      <%= link_to root_path do %>
	        <div style="padding-left:15px;">
	          <div class="neon">T<span>A</span>VO<span>RE</span></div>
	        </div>
	      <% end %>
	    </div>
	    <div class="inline_block_middle" style="width:50%;">
	    	<div style="text-align:right;padding-right:15px;">
		        <a href="#" data-toggle="modal" data-target="#myModal_half_profile">
		        	<%= image_tag "ellipsis_FAFAFA.svg", :style =>'width:18px;height:18px;' %>
		        </a>                    
		    </div>
	    </div>
	</div>
<% end %>
<div style="height:50px;"></div>
<div style="height:20px;"></div>

<!-- プロフィール部分 -->
<div class="" style="text-align:center;padding:0 8%;">
	<div class="inline_block_middle" style="width:35%;">
		<div style="width:100%;text-align:left;">
			<% if @user.image.present? %>
			    <%= image_tag @user.image(:large), :style =>'width:75px;height:75px;border-radius:50%;object-fit:cover;background:rgba(0,0,0,0.1);' %>
			<% else %>
			    <%= image_tag "user.jpg", :style =>'width:75px;height:75px;border-radius:50%;object-fit:cover;background:rgba(0,0,0,0.1);' %>
			<% end %>
		</div>
	</div>
	<div class="inline_block_middle" style="width:65%;">
		<div class="" style="width:100%;">	
			<div class="inline_block_middle" style="text-align:center;width:33.33%;opacity:0.5;">
				<span onclick="goDone()">
			      	<div style="font-size:16px;color:#FAFAFA;font-weight:bolder">
			      		<%= @done_i %>
			    	</div>
			    	<div style="font-size:11px;color:#FAFAFA;margin-top:-1px;">
			      		Done
			    	</div>
			    </span>
		    </div>
		    <div class="inline_block_middle" style="text-align:center;width:33.33%;">
		    	<span onclick="goDoing()">
			      	<div style="font-size:16px;color:#FAFAFA;font-weight:bolder">
			      		<%= @doing_i %>
			    	</div>
			    	<div style="font-size:11px;color:#FAFAFA;margin-top:-1px;">
			      		Doing
			    	</div>
			    </span>
		    </div>
		    <div class="inline_block_middle" style="text-align:center;width:33.33%;opacity:0.5;">
		    	<span onclick="goWant()">
			      	<div style="font-size:16px;color:#FAFAFA;font-weight:bolder">
			      		<%= @want_i %>
			    	</div>
			    	<div style="font-size:11px;color:#FAFAFA;margin-top:-1px;">
			      		Want
			    	</div>
			    </span>
		    </div>
		</div>
		<div style="height:12px;"></div>
		<div style="width:100%;text-align:center;">
			<div id="relationship-of-<%= @user.id %>">
			    <%= render partial: 'relationships/relationship' %>
			</div>
		</div>
	</div>
</div>
<div style="height:8px;"></div>
<div style="width:100%;padding:0 8%;text-align:left;">
	<div class="contain_title02">
		<div style="font-size:14px;font-weight:bolder">
		    <%= @user.name %>
		    <% if @user.authority == "public" %>
		    	<%= image_tag "public.svg", :class =>'icon_public' %>
		    <% end %>
		</div> 
	</div>
	<% if @user.description.present? %>
		<div style="height:2px;"></div>  
	    <div class="contain_title03">
		    <div style="font-size:10.5px;color:#FAFAFA;opacity:0.6;">
		      <%= simple_format(@user.description, {}, wrapper_tag: "div") %>
		    </div>
		</div>
	<% end %>
</div>
<div style="height:20px"></div> 
<div style="margin:0 10px;border-bottom:solid 0.5px rgba(150,150,150,0.2);"></div>

<!-- タブボタン部分 -->
<ul class="nav nav-tabs">
    <li class="nav-item active">
    	<a href="#all" class="nav-link" data-toggle="tab">すべて</a>
    </li>
    <li class="nav-item">
      	<a href="#movie" class="nav-link" data-toggle="tab">映画</a>
    </li>
    <li class="nav-item">
      	<a href="#tv" class="nav-link" data-toggle="tab">テレビ</a>
    </li>
    <li class="nav-item">
      	<a href="#book" class="nav-link" data-toggle="tab">ブック</a>
    </li>
    <li class="nav-item">
      	<a href="#comic" class="nav-link" data-toggle="tab">コミック</a>
    </li>
    <li class="nav-item">
      	<a href="#music" class="nav-link" data-toggle="tab">ミュージック</a>
    </li>
</ul>
<!--タブのコンテンツ部分-->
<div class="tab-content">
    <div id="all" class="tab-pane active">
      	<% if @all.blank? %>				  		
			<div style="text-align:center;margin-top:10vh;font-size:12px;opacity:0.8;">
				
			</div>	
	  	<% else %>
		  	<% @all.each.with_index(1) do |post, i| %>
	  			<%# 3列表示(lazyload) %>
				<%= render partial: 'partial/row_three_lazyload', locals: { post: post, i: i } %>
		  	<% end %>
	  	<% end %>
    </div>
    <div id="movie" class="tab-pane">
    	<% if @movie.blank? %>
	  		<div style="text-align:center;margin-top:10vh;font-size:12px;opacity:0.8;">
				
			</div>	
	  	<% else %>
		    <% @movie.each.with_index(1) do |post, i| %>
		  		<%# 3列表示(swiper) %>
				<%= render partial: 'partial/row_three_lazyload', locals: { post: post, i: i } %>
		  	<% end %>
	  	<% end %>
    </div>
    <div id="tv" class="tab-pane">
    	<% if @tv.blank? %>
	  		<div style="text-align:center;margin-top:10vh;font-size:12px;opacity:0.8;">
				
			</div>
	  	<% else %>
		  	<% @tv.each.with_index(1) do |post, i| %>
		  		<%# 3列表示(swiper) %>
				<%= render partial: 'partial/row_three_lazyload', locals: { post: post, i: i } %>
		  	<% end %>
	  	<% end %>
    </div>
    <div id="book" class="tab-pane">
    	<% if @book.blank? %>
	  		<div style="text-align:center;margin-top:10vh;font-size:12px;opacity:0.8;">
				
			</div>
	  	<% else %>
		  	<% @book.each.with_index(1) do |post, i| %>
		  		<%# 3列表示(swiper) %>
				<%= render partial: 'partial/row_three_lazyload', locals: { post: post, i: i } %>
		  	<% end %>
	  	<% end %>
    </div>
    <div id="comic" class="tab-pane">
    	<% if @comic.blank? %>
	  		<div style="text-align:center;margin-top:10vh;font-size:12px;opacity:0.8;">
				
			</div>
	  	<% else %>
		  	<% @comic.each.with_index(1) do |post, i| %>
		  		<%# 3列表示(swiper) %>
				<%= render partial: 'partial/row_three_lazyload', locals: { post: post, i: i } %>
		  	<% end %>
  		<% end %>
    </div>
    <div id="music" class="tab-pane">
    	<% if @music.blank? %>
	  		<div style="text-align:center;margin-top:10vh;font-size:12px;opacity:0.8;">
				
			</div>	
	  	<% else %>
		  	<% @music.each.with_index(1) do |post, i| %>
		  		<%# 3列表示(swiper) %>
				<%= render partial: 'partial/row_three_lazyload', locals: { post: post, i: i } %>
		  	<% end %>
	  	<% end %>
    </div>
</div>


<%#プロフィールモーダル%>
<%= render partial: 'partial/modal_half_profile', locals: { user: @user } %>
<%#プロフィールシェアモーダル%>
<%= render partial: 'partial/modal_half_profile_share', locals: { user: @user } %>
<%#投稿ボタン%>
<% if user_signed_in? %>	          				
	<% if @user.id == current_user.id %>
		<%= render "partial/modal_post" %>
	<% end %>
<% end %>

<%#タブ%>
<script defer>
	$(function() {
		// Javascript to enable link to tab
		var url = document.location.toString();
		if (url.match('#')) {
		    $('.nav-tabs a[href="#' + url.split('#')[1] + '"]').tab('show');
		} 
		// Change hash for page-reload
		$('.nav-tabs a').on('shown.bs.tab', function (e) {
		    history.replaceState(null, null, e.target.hash)
		})
	});
</script>
<%#URL置換%>
<script defer>
	function goDone(){
  		location.replace("<%= root_url(only_path: false) %>/<%= @user.username %>");
	}
	function goDoing(){
  		location.replace("<%= root_url(only_path: false) %>/<%= @user.username %>/doing");
	}
	function goWant(){
  		location.replace("<%= root_url(only_path: false) %>/<%= @user.username %>/want");
	}
</script>
<%#lazyload.js%>
<script defer>
	$(function() {
    	$('img.lazyload').lazyload();
	});
</script>