<div class="modal fade" id="myModal_dashbord">
  <div class="modal-dialog">
    <div class="a1">
      <div class="a4">
        <div class="d1">
          <div class="d7"></div>
          <% if @list = List.find_by(user_id: current_user.id, title: "プロフィール") %>
              <% if @list_item = ListItem.find_by(list_id: @list.id) %>
                <img data-src="<%= @list_item.post.image_url %>" class="img_myboom lazyload_modal_dashbord %>">
              <% else %>
                <%#myboomのデフォルト画像%>
              <% end %>
            <% else %>
              <%#myboomのデフォルト画像%>
            <% end %>
        </div>
      </div>
      <div class="a11">
        <div class="font_white" style="margin:10px;width:35%;display:inline-block;">
          <div class="contain_title02">
            <% if @list_item.present? %>
              <div>
                <% if @list_item.post.category == "movie" %>
                  <%= image_tag "movie_white.png", :class =>'icon_category' %> <%= @list_item.post.title %>
                <% end %>
                <% if @list_item.post.category == "tv" %>
                  <%= image_tag "movie_white.png", :class =>'icon_category' %> <%= @list_item.post.title %>
                <% end %>
                <% if @list_item.post.category == "book" %>
                  <%= image_tag "book_white.png", :class =>'icon_category' %> <%= @list_item.post.title %>
                <% end %>
                <% if @list_item.post.category == "comic" %>
                  <%= image_tag "book_white.png", :class =>'icon_category' %> <%= @list_item.post.title %>
                <% end %>
                <% if @list_item.post.category == "music" %>
                  <%= image_tag "music_white.png", :class =>'icon_category' %> <%= @list_item.post.title %>
                <% end %>
              </div>
            <% else %>
              <div>
                <%#myboomが設定されていません%>
              </div>
            <% end %>
          </div>
        </div>
      </div>
      <div class="a8">    
        <div style="width:100%;"> 
          <div class="pro34" style="vertical-align:bottom;">
            <%= link_to "/users/following" do %>              
              <div style="font-size:11px;color:#C2C2C2;border-bottom: solid 1px rgba(5,98,123,0.8);margin-bottom:1vh;">
                  <%= current_user.followings.size %> followings
              </div> 
            <% end %>
          </div>       
          <div class="pro33" style="vertical-align:bottom;">
            <div style="text-align:center;">
              <% if current_user.image.present? %>
                <img data-src="<%= current_user.image(:large) %>" class="img_user08 lazyload_modal_dashbord">
              <% else %>
                <%= image_tag "user09.png", :class =>'img_user08' %>
              <% end %>
            </div>
            <div style="font-size:18px;text-align:center;margin-top:10px;">
              <%= current_user.name %>
              <% if current_user.authority == "public" %>
                <%= image_tag "test55.png", :style =>'width:14px;height:14px;' %>
              <% end %>
            </div>
          </div>
          <div class="pro34" style="vertical-align:bottom;">
            <%= link_to "/users/follower" do %>   
              <div style="font-size:11px;color:#C2C2C2;border-bottom: solid 1px rgba(5,98,123,0.8);margin-bottom:1vh;">
                  <%= current_user.followers.size %> followers
              </div> 
            <% end %>
          </div>           
        </div>   
        <% if current_user.description.present? %>
          <div style="height:0.5vh;"></div>
          <div class="font_gray_min" style="width:50%;color:#C2C2C2;display:inline-block;">
            <%= simple_format(current_user.description, {}, wrapper_tag: "div") %>
          </div>
        <% else %>
          <div style="height:1vh;"></div>
          <%= link_to edit_user_registration_path do %>
            <div class="font_gray_min" style="width:50%;color:#2FB4B4;display:inline-block;">
              自己紹介を書く
            </div>
          <% end %>
        <% end %>
        <div style="height:4vh;"></div>
        <div style="text-align:center;">
          <%= link_to "/#{current_user.username}/posts", :style => "display:inline-block;vertical-align:top;margin:0 5px;" do %>
            <div class="btn_follow_on">
              <%= image_tag "bag_white.png", :style =>'width:16px;height:16px;margin-top:-3.5px;' %>&nbsp;&nbsp;投稿へ
            </div>
          <% end %>
          <div style="display:inline-block;vertical-align:top;">
            <%= link_to configuration_path do %>
              <div class="btn_follow_on" style="padding-left:1.0em;padding-right:1.0em;">
                <%= image_tag "control_white.png", :style =>'width:14px;height:14px;margin-top:-2px' %>        
              </div>
            <% end %>
          </div>
        </div>    
        <div style="height:8vh;"></div>  
        <div style="text-align:center;width:95%;display:inline-block;">
          <div class="pro20">
            <div>
              <%= image_tag "checked_white.png", :style =>'width:16px;height:16px;' %>
            </div> 
            <div style="font-size:12px;margin-top:5px;">
              <%= Post.where(user_id: current_user.id).where.not(review: "bookmark").size %> checkeds
            </div> 
          </div>
          <div class="pro20">
            <div>
              <%= image_tag "bookmark_white.png", :style =>'width:16px;height:16px;' %>
            </div> 
            <div style="font-size:12px;margin-top:5px;">
              <%= Post.where(user_id: current_user.id, review: "bookmark").size %> bookmarks
            </div> 
          </div>
          <div class="pro20">
            <div>
              <%= image_tag "file_white.png", :style =>'width:16px;height:16px;' %>
            </div> 
            <div style="font-size:12px;margin-top:5px;">
              coming soon
            </div> 
          </div>
        </div>  
        <div style="height:10vh;"></div>
      </div>
      <div class="a10">
        <div class="pro19">             
          <a data-dismiss="modal" id="dismiss_dashbord">
            <%= image_tag "close_blue.png", :class =>'img_left02' %>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>

<%#lazyload.js%>
<script type="text/javascript">
  $('#myModal_dashbord').on("show.bs.modal", function () {
      $('img.lazyload_modal_dashbord').lazyload();
    });      
</script>

<%#モーダルtubolinks不具合修正%>
<script type="text/javascript">
  $(function(){
    var display_dashbord = $('#myModal_dashbord').css('display');
    //モーダルが表示されているのに表示判定されてなかったら
    if(display_dashbord === 'block'){
      //モーダルを表示状態にする        
      $('body').removeClass('modal-open');
      $('.modal-backdrop').remove();
      $('#myModal_dashbord').modal('toggle');
      //クリックでモーダルを閉じる 
      $('#dismiss_dashbord').on("click",function(){
        $('body').removeClass('modal-open');
          $('.modal-backdrop').remove();
        $('#myModal_dashbord').modal('hide'); 
      });
    }       
  });
</script>