<div class="main">
	<div class="block_side">
	</div>
	<div class="block_main">
		<div style="height:50px;"></div>
		<div class="swiper-container" style="height:calc(100% - 50px);">
			<div class="swiper-wrapper" style="height:100%">
				<div class="swiper-slide" style="height:100%"> 
					<div class="a1">
				        <div class="a4">
				          <div class="d1">
				          	<div class="d6"></div>
				          </div>
				        </div>
				        <div class="a8" style="text-align:center;">
			              <%= image_tag "tavore_logo_01.png", :style =>'width:120px;height:120px;' %>
			              <div style="font-size:22px;margin-top:-1vh;">
			                TAVORE
			              </div>
			              <div style="height:3vh;"></div>
			              <div style="font-size:14px;">
			               &nbsp;シンプルなコレクションSNS
			              </div>
			              <div style="height:21vh;"></div>
				        </div>
					</div>
				</div>
				<div class="swiper-slide" style="height:100%"> 
					<div class="a1" style="height:100%">
				        <div class="a4">
				          <div class="d1">
				          	<div class="d6"></div>
				          </div>
				        </div>
				        <div class="a5" style="text-align:center;">
				        	<div style="height:8%;"></div>
			              	<div  style="font-size:17px;margin-bottom:5%;">
			                  あなたが感じた｢作品｣を記録
			                </div>
			                <%= image_tag "use01.png", :style =>'width:auto;height:60%;' %>
				        </div>   
					</div>
				</div>
				<div class="swiper-slide" style="height:100%"> 
					<div class="a1">
				        <div class="a4">
				          <div class="d1">
				          	<div class="d6"></div>
				          </div>
				        </div>
				        <div class="a5" style="text-align:center;">
				        	<div style="height:8%;"></div>
			              	<div  style="font-size:17px;margin-bottom:5%;">
			                  その時､感じたことを残そう
			                </div>
			                <%= image_tag "use02.png", :style =>'width:auto;height:60%;' %>
				        </div>
					</div>
				</div>
				<div class="swiper-slide" style="height:100%"> 
					<div class="a1">
				        <div class="a4">
				          <div class="d1">
				          	<div class="d6"></div>
				          </div>
				        </div>
				        <div class="a5" style="text-align:center;">
				        	<div style="height:8%;"></div>
			              	<div  style="font-size:17px;margin-bottom:5%;">
			                  記録した作品を友達と共有
			                </div>
			                <%= image_tag "use03.png", :style =>'width:auto;height:60%;' %>
				        </div>
					</div>
				</div>
				<div class="swiper-slide" style="height:100%"> 
					<div class="a1" style="height:100%">
				        <div class="a4">
				          <div class="d1">
				          	<div class="d6"></div>
				          </div>
				        </div>
				        <div class="a5" style="text-align:center;">
				        	<div style="height:8%;"></div>
			              	<div  style="font-size:17px;margin-bottom:5%;">
			                  映画､本､音楽などの作品が１つの場所に
			                </div>
			                <%= image_tag "use04.png", :style =>'width:auto;height:60%;' %>
				        </div>   
					</div>
				</div>
			</div>
			<div class="swiper-pagination"></div>
			<div class="home_navigation visible-md visible-lg">
				<div class="swiper-button-prev"></div>
				<div class="swiper-button-next"></div>
			</div>
			<div class="btns_session">
				<div style="display:inline-block;margin-right:10px;">
					<a href="" data-toggle="modal" data-target="#myModal_sign_in">
			          <div class="btn_session">
						ログイン
					  </div>
			        </a>
				</div>
				<div style="display:inline-block;margin-left:10px;">
					<a href="" data-toggle="modal" data-target="#myModal_sign_up">
				        <div class="btn_register">
							アカウント作成
						</div>
			        </a>
				</div>
			</div>
		</div>
	</div>
	<div class="block_side">
	</div>
</div>

<%#サインインモーダル%>
<div class="modal fade" id="myModal_sign_in">
    <div class="modal-dialog">
      <div class="a1">
        <div class="a4">
          <div class="d1">
            <div class="d6"></div>
          </div>
        </div>
        <div class="a7">
            <a href="" data-toggle="modal" data-dismiss="modal">
              <div style="padding:20px;">
                <%= image_tag "cross_gray.png", :style =>'width:18px;height:18px;opacity:0.5' %>
              </div>
            </a>  
        </div>
        <div class="a8" style="text-align:center;"> 
        	<div style="height:7vh;"></div>           
			<div class="font_white_big">
				Sign in
			</div>
			<div class="gogo">
				<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
				  <%= f.email_field :email,placeholder: "email", required: "", autofocus: true %>
				  <%= f.password_field :password,placeholder: "password", required: "" %>
				  <div style="height:3vh;"></div>
      			  <%= f.submit "完了",class:"btn_session" %>
				<% end %>
				<div style="height:7vh;"></div>
			</div>	
			<div>
				<%= link_to new_user_password_path do %>
					<div class="font_gray_min">
						パスワードを忘れたら
					</div>
				<% end %>
			</div>
        </div>
      </div>
    </div>
  </div>
</div>

<%#サインアップモーダル%>
<div class="modal fade" id="myModal_sign_up">
    <div class="modal-dialog">
      <div class="a1">
        <div class="a4">
          <div class="d1">
            <div class="d6"></div>
          </div>
        </div>
        <div class="a7">
            <a href="" data-toggle="modal" data-dismiss="modal">
              <div style="padding:20px;">
                <%= image_tag "cross_gray.png", :style =>'width:18px;height:18px;opacity:0.5' %>
              </div>
            </a>  
        </div>
        <div class="a8" style="text-align:center;">  
        	<%= image_tag "tavore_logo_01.png", :style =>'width:80px;height:80px;' %>
            <div style="font-size:18px;">
              TAVORE
            </div>
        	<div style="height:5vh;"></div> 
        	<div style="padding:0 10%;">	
				<div class="font_white">
					TAVOREは完全招待制です
					<br>すでに利用しているユーザーから招待してもらうか
					<br>以下から運営に招待をリクエストしてください
				</div>
				<div style="height:6vh;"></div> 
				<a href="">
			        <div class="btn_invite">
						招待をリクエスト
					</div>
		        </a>
		        <div style="height:7vh;"></div> 
			</div>
			
        </div>
      </div>
    </div>
  </div>
</div>



<%#swiper.js%>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/js/swiper.min.js"></script>
<script defer>
	$(function(){
		var swiper = new Swiper('.swiper-container', {
			speed: 500,
			touchAngle: 55,
			pagination: {
			    el: '.swiper-pagination',
			    type: 'bullets',
			  },
			navigation: {
		    	nextEl: '.swiper-button-next',
		    	prevEl: '.swiper-button-prev',
		  	},
		  	effect: 'fade',
		});
	});
</script>

