<div class="modal scale fade" id="myModal_<%= post.id %>">
	<div class="modal-dialog">
		<div class="base01">
			<% if post.image_url.blank? %>
				<img data-src="/assets/nothing01.jpg" class="img_myboom lazyload_modal_<%= post.id %>">
			<% else %>					
				<img  data-src="<%= post.image_url %>" class="img_myboom lazyload_modal_<%= post.id %>">
			<% end %>
			<span>
				<div class="layer05">
				</div>
				<div class="layer03">
					<div class="inline_block_middle" style="width:80%;">
						<a href="" data-toggle="modal" data-target="#myModal_profile_<%= post.user.id %>">
							<div class="inline_block_middle">															
								<% if post.user.image.present? %>
				                  <img data-src="<%= post.user.image(:medium) %>" class="img_user04 lazyload_modal_<%= post.id %>">
				                <% else %>
				                	<img data-src="/assets/user.svg" class="img_user04 lazyload_modal_<%= post.id %>">
				                <% end %>
							</div>
							<div class="inline_block_middle">
								<div class="font_white" style="word-wrap:break-word;">
									<%= post.user.name %>
									<% if post.user.authority == "public" %>
				                    	<img data-src="/assets/public.svg" class="lazyload_modal_<%= post.id %>" style="width:14px;height:14px;">
				                    <% end %>
								</div>
								<div class="font_gray_min" style="word-wrap:break-word;">
									<% if post.category == "movie" %>
										<img data-src="/assets/movie_777777.svg" class="icon_category lazyload_modal_<%= post.id %>"> 映画
									<% end %>
									<% if post.category == "tv" %>
										<img data-src="/assets/movie_777777.svg" class="icon_category lazyload_modal_<%= post.id %>"> テレビ
									<% end %>
									<% if post.category == "book" %>
										<img data-src="/assets/book_777777.svg" class="icon_category lazyload_modal_<%= post.id %>"> ブック
									<% end %>
									<% if post.category == "comic" %>
										<img data-src="/assets/book_777777.svg" class="icon_category lazyload_modal_<%= post.id %>"> コミック
									<% end %>
									<% if post.category == "music" %>
										<img data-src="/assets/music_777777.svg" class="icon_category lazyload_modal_<%= post.id %>"> ミュージック
									<% end %>
									<% if post.category == "link" %>
										<img data-src="/assets/link_777777.svg" class="icon_category lazyload_modal_<%= post.id %>">> リンク
									<% end %>
									<% @seconds = (Time.now - post.created_at).round  %>
									<% if @seconds <= 3600 %>
										- <%= @seconds / 60 %>分前
									<% else %>
										<% if @seconds <= 86400 %>
												- <%= @seconds / (60 * 60) %>時間前
										<% else %>
											<% if @seconds <= 604800 %>
												- <%= @seconds / (60 * 60 * 24) %>日前
											<% else %>
												- <%= post.created_at.strftime('%m月%d日') %>
											<% end %>
										<% end %>
									<% end %>
								</div>
							</div>
						</a>
					</div>						
					<div class="inline_block_middle" style="width:20%;text-align:right;">					
						<a href="" data-toggle="modal" data-target="#myModal_half_<%= post.id %>" style="padding:20px 10px 20px 20px;">
							<img data-src="/assets/ellipsis_777777.svg" class="lazyload_modal_<%= post.id %>" style="width:17px;height:17px;opacity:0.7;">
						</a>
					</div>
				</div>
				<div class="layer01">
					<%= link_to "/works/#{post.id}/detail" do %>
						<% if post.image_url.blank? %>
							<img data-src="/assets/nothing01.jpg" class="img_tavore lazyload_modal_<%= post.id %>">
						<% else %>
							<% if post.category == "link" %>
								<img data-src="<%= post.image_url %>" class="lazyload_modal_<%= post.id %>" style="width:140%;height:30vh;margin:0 -20%;object-fit:cover;">
							<% else %>
								<img data-src="<%= post.image_url %>" class="img_tavore lazyload_modal_<%= post.id %>">
							<% end %>
						<% end %>
					<% end %>
					<% if post.category == "music" %>
						<% if post.preview_url.present? %>
							<div class="btn_preview_default" id="btn_preview_<%= post.id %>">
								<img data-src="/assets/play_FAFAFA.svg" class="lazyload_modal_<%= post.id %>" id="icon_play_<%= post.id %>" style="width:11px;height:11px;margin-left:0.5px;">
							</div>
						<% end %>
					<% end %>
					<% if post.category == "link" %>
						<% if post.preview_url.present? %>
							<a target="blank" href="<%= post.preview_url %>">
								<div class="btn_preview_link">
									<img data-src="/assets/link_FAFAFA.svg" class="lazyload_modal_<%= post.id %>" style="width:15px;height:15px;">
								</div>
							</a>
						<% end %>
					<% end %>
				</div>
				<div class="layer02">
					<%= link_to "/works/#{post.id}/detail" do %>
						<div class="font_how">
							<% if post.review == "bookmark" %>
								<img data-src="/assets/bookmark_05627B.svg" class="icon_review lazyload_modal_<%= post.id %>">ブックマーク
							<% end %>
							<% if post.review == "good" %>
								<% if post.category == "movie" || post.category == "tv" %>
									観ました
								<% end %>
								<% if post.category == "book" || post.category == "comic" %>
									読みました
								<% end %>
								<% if post.category == "music" %>
									聴きました
								<% end %>
								<% if post.category == "link" %>
									見ました
								<% end %>
							<% end %>
							<% if post.review == "favorite" %>
								<img data-src="/assets/star_F8C55A.svg" class="icon_review lazyload_modal_<%= post.id %>">おすすめしています
							<% end %>
							<% if post.review == "bad" %>
								<img data-src="/assets/ban_FB473E.svg" class="icon_review lazyload_modal_<%= post.id %>">おすすめしていません
							<% end %>
						</div>
						<div class="contain_title">
							<div class="font_head">
								<%= post.title %>
							</div>
						</div>
						<% if post.description.present? %>
							<div class="balloon_top"></div>
							<div class="balloon">
								<div>
							  		<%= safe_join(post.description.split("\n"),tag(:br)) %>
							  	</div>
							</div>
						<% end %>
					<% end %>
				</div>
				<div class="layer09">
					<div class="inline_block_middle" style="width:100%;">
						<a data-dismiss="modal" id="dismiss_<%= post.id %>">
							<img data-src="/assets/close_05627B.svg" class="img_left02 lazyload_modal_<%= post.id %>">
						</a>
					</div>
				</div>
			</span>
		</div>
	</div>
</div>

<%#モーダルlazyload%>
<script defer>
	$('#myModal_<%= post.id %>').on("show.bs.modal", function () {
    	$('img.lazyload_modal_<%= post.id %>').lazyload();
    });      
</script>
<%#モーダルtubolinks不具合修正%>
<script defer>
	$(function(){
		var display_<%= post.id %> = $('#myModal_<%= post.id %>').css('display');
		//モーダルが表示されているのに表示判定されてなかったら
		if(display_<%= post.id %> === 'block'){
			//モーダルを表示状態にする
			$('body').removeClass('modal-open');
				$('.modal-backdrop').remove();				
			$('#myModal_<%= post.id %>').modal('toggle');
			//クリックでモーダルを閉じる 
			$('#dismiss_<%= post.id %>').on("click",function(){
				$('body').removeClass('modal-open');
			  	$('.modal-backdrop').remove();
				$('#myModal_<%= post.id %>').modal('hide'); 
			});
		}				
	});
</script>
<%#音楽プレビューjs%>
<% if post.category == "music" %>
	<% if post.preview_url.present? %>
		<audio id="audio_<%= post.id %>" controls preload="none" style="display:none;">
			<source src="<%= post.preview_url %>" type="audio/mpeg"></source>
		</audio>
		<script defer>						  
			$(function(){
		  	  var audio_<%= post.id %> = document.getElementById('audio_<%= post.id %>');
		  	  var img_<%= post.id %> = $("#icon_play_<%= post.id %>");
			  $('#btn_preview_<%= post.id %>').on("click",function(){
			    if(img_<%= post.id %>.attr('src') === "/assets/play_FAFAFA.svg")
			     {	       		       
			       img_<%= post.id %>.attr("src","/assets/pause_FAFAFA.svg");
			       audio_<%= post.id %>.play();
			     }
			    else
			     {
			       img_<%= post.id %>.attr("src","/assets/play_FAFAFA.svg");
			       audio_<%= post.id %>.pause();
			     }
			  });
			  audio_<%= post.id %>.onended = function() {
			  	img_<%= post.id %>.attr("src","/assets/pause_FAFAFA.svg");
			  };
		  	});				
	   	</script>
	<% end %>
<% end %>