<%#投稿ボタン%>
<div class="btns_plus">
	<a href="" data-toggle="modal" data-target="#myModal_post" id="btn_plus">
		<i><%= image_tag "plus_white.png", :class =>'img_plus' %></i>
	</a>
</div>	

<%#投稿モーダル%>
<div class="modal bottom fade" id="myModal_post">
    <div class="modal-dialog">
      <div class="a1">
        <div class="a14">
          <div class="d1">
            <div class="d4"></div>
          </div>
        </div>
        <div class="a8" style="text-align:center;">   	
	  		<div style="font-size:20px;color:#2FB4B4;">
		      	- 投稿を作成 -
	        </div>
	        <div style="height:30px;"></div>
	      	<%= link_to(works_movie_path) do %>
		      	<div class="btn_icon">
			      	<div style="font-size:11px;color:#FAFAFA;">
			        	<img data-src="/assets/movie_white.png" class="lazyload_modal_post" style="width:18px;height:18px;margin:-2px 8px 0 0;">映画/テレビ
			        </div>
		        </div>		
	        <% end %>
	        <div class="inline_block_middle" style="width:5%;"></div>	
    		<%= link_to(works_book_path) do %>
	        	<div class="btn_icon">	
	        		<div style="font-size:11px;color:#FAFAFA;">		      		
		        		<img data-src="/assets/book_white.png" class="lazyload_modal_post" style="width:18px;height:18px;margin:-2px 8px 0 0;">ブック/コミック
		        	</div>
		        </div>
	        <% end %>
	        <div style="height:25px;"></div>
	      	<%= link_to(works_music_path) do %>
	        	<div class="btn_icon">	
	        		<div style="font-size:11px;color:#FAFAFA;">		      		
		        		<img data-src="/assets/music_white.png" class="lazyload_modal_post" style="width:18px;height:18px;margin:-2px 8px 0 0;">ミュージック
		        	</div>
		        </div>
	        <% end %>		
	        <div class="inline_block_middle" style="width:5%;"></div>
	      	<%= link_to(works_link_path) do %>
	        	<div class="btn_icon">		
		        	<div style="font-size:11px;color:#FAFAFA;">	      		
			        	<img data-src="/assets/link_white.png" class="lazyload_modal_post" style="width:18px;height:18px;margin:-2px 8px 0 0;">リンク
			        </div>
		        </div>
	        <% end %>
	        <div style="height:25px;"></div>
	        <%= link_to(works_bookmark_path) do %>
	        	<div class="btn_icon" style="width:85%;padding:18px 0;">	
		        	<div style="font-size:11px;color:#FAFAFA;opacity:0.8;">		      		
			        	<img data-src="/assets/bookmark_white.png" class="lazyload_modal_post" style="width:18px;height:18px;margin:-2px 8px 0 0;">ブックマークから投稿
			        </div>
		        </div>
	        <% end %>
	        <div style="height:25px;"></div>
        </div>
        <a class="btns_plus" data-dismiss="modal" id="dismiss_post">
			<span id="btn_plus">
				<i><img data-src="/assets/plus_white.png" class="img_time lazyload_modal_post"></i>
			</span>
		</a>
      </div>
    </div>
  </div>
</div>

<%#blur%>
<script defer>
  $('#myModal_post').on('show.bs.modal', function () {
    $('.main').css('filter','blur(1.5px)');
  });
  $('#myModal_post').on('hide.bs.modal', function () {
    $('.main').css('filter','blur(0px)');
  });
</script>

<%#モーダルlazyload%>
<script defer>
	$('#myModal_post').on("show.bs.modal", function () {
    	$('img.lazyload_modal_post').lazyload();
    });      
</script>

<%#モーダルtubolinks不具合修正%>
<script defer>
  $(function(){
    var display_post = $('#myModal_post').css('display');
    //モーダルが表示されているのに表示判定されてなかったら
    if(display_post === 'block'){
      //モーダルを表示状態にする
      $('body').removeClass('modal-open');
      $('.modal-backdrop').remove();
      $('#myModal_post').modal('toggle');
      //クリックでモーダルを閉じる 
      $('#dismiss_post').on("click",function(){
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
        $('#myModal_post').modal('hide'); 
      });
    }       
  });
</script>