<%#投稿ボタン%>
<div class="btns_plus">
	<a href="#" data-toggle="modal" data-target="#myModal_post" id="btn_plus">
		<i>
			<%= image_tag "plus_FAFAFA.svg", :style =>'width:22px;height:22px;transform-origin:50%,50%;transform:rotate(0deg);' %>
		</i>
	</a>
</div>	
<%#投稿モーダル%>
<div class="modal bottom fade" id="myModal_post">
    <div class="modal-dialog">
      <div class="a1">
        <div class="a14">
          <div class="d1">
            <div class="d2"></div>
          </div>
        </div>
        <div class="a8" style="text-align:center;">   	
	  		<div style="font-size:19px;font-weight:bold;">
				Create Post
			</div>
			<div style="font-size:12px;opacity:0.8;margin-top:-2px;">
				投稿を作成
			</div>
	        <div style="height:20px;"></div>
	        <div style="padding:0 8%;">
	      		<div class="inline_block_top" style="width:33.33%;text-align:center;">
	      			<%= link_to(works_movie_path) do %>
				      	<div class="btn_icon">
					      	<i>
					        	<%= image_tag "movie_FAFAFA.svg", :style =>'width:21px;height:21px;' %>
					        </i>
				        </div>	
				        <div style="height:10px;"></div>
				        <div style="font-size:10px;color:#FAFAFA;">
					        映画/テレビ
					    </div>	
				    <% end %>	
			    </div>
	        	<div class="inline_block_top" style="width:33.33%;text-align:center;">
	        		<div style="height:20px;"></div>
	        		<%= link_to(works_book_path) do %>
				      	<div class="btn_icon">
					      	<i>
					        	<%= image_tag "book_FAFAFA.svg", :style =>'width:21px;height:21px;' %>
					        </i>
				        </div>	
				        <div style="height:10px;"></div>
				        <div style="font-size:10px;color:#FAFAFA;">
					        ブック/コミック
					    </div>	
				    <% end %>
			    </div>
	        	<div class="inline_block_top" style="width:33.33%;text-align:center;">
	        		<%= link_to(works_music_path) do %>
				      	<div class="btn_icon">
					      	<i>
					        	<%= image_tag "music_FAFAFA.svg", :style =>'width:21px;height:21px;' %>
					        </i>
				        </div>	
				        <div style="height:10px;"></div>
				        <div style="font-size:10px;color:#FAFAFA;">
					        ミュージック
					    </div>
				    <% end %>	
			    </div>
		    </div>
	        <div style="height:70px;"></div>
        </div>
        <a href="#" class="btns_plus" data-dismiss="modal" id="dismiss_post">
			<span id="btn_plus">
				<i>
					<%= image_tag "plus_FAFAFA.svg", :style =>'width:22px;height:22px;transform-origin:50%,50%;transform:rotate(45deg);' %>
				</i>
			</span>
		</a>
      </div>
    </div>
  </div>
</div>
<%#モーダルtubolinks不具合修正%>
<script defer>
  $(function(){
    var display_post = $('#myModal_post').css('display');
    //モーダルが表示されているのに表示判定されてなかったら
    if(display_post === 'block'){
      //モーダルを表示状態にする
      $('body').removeClass('modal-open');
      $('.modal-backdrop').remove();
      $('#myModal_post').modal('toggle');
      //クリックでモーダルを閉じる 
      $('#dismiss_post').on("click",function(){
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
        $('#myModal_post').modal('hide'); 
      });
    }       
  });
</script>