<%#投稿ボタン%>
<div class="btns_plus">
	<a href="" data-toggle="modal" data-target="#myModal_post" id="btn_plus">
		<i><%= image_tag "plus_white.png", :class =>'img_plus' %></i>
	</a>
</div>	

<%#投稿モーダル%>
<div class="modal bottom fade" id="myModal_post">
    <div class="modal-dialog">
      <div class="a1">
        <div class="a4">
          <div class="d1">
            <div class="d6"></div>
          </div>
        </div>
        <div class="a8" style="text-align:center;"> 
        	<div class="">	
		  		<div style="font-size:24px;color:#FAFAFA;margin:0px 0px 40px;">
			      	投稿を作成
		        </div>
		  		<div class="btns_choice02">
		  			<div>
				      	<%= link_to(works_movie_path) do %>
					      	<div class="btn_icon">
					      		<span>
					        		<%= image_tag "movie_white.png", :style =>'width:30px;height:30px;' %>
					        	</span>
					        </div>
				        <% end %>
			        </div>
			        <div style="font-size:12px;color:#FAFAFA;margin-top:10px;">
			        	映画/テレビ
			        </div>
		        </div>
		        <div class="btns_choice01">
		        	<div>
		        		<%= link_to(works_book_path) do %>
				        	<div class="btn_icon">
					      		<span>
					        		<%= image_tag "book_white.png", :style =>'width:30px;height:30px;' %>
					        	</span>
					        </div>
				        <% end %>
				    </div>
			        <div style="font-size:12px;color:#FAFAFA;margin-top:10px;">
			        	ブック
			        </div>
		        </div>
		        <div class="btns_choice02">
		        	<div>
				      	<%= link_to(works_music_path) do %>
				        	<div class="btn_icon">
					      		<span>
					        		<%= image_tag "music_white.png", :style =>'width:30px;height:30px;' %>
					        	</span>
					        </div>
				        <% end %>
			        </div>
			        <div style="font-size:12px;color:#FAFAFA;margin-top:10px;">
			        	ミュージック
			        </div>
		        </div> 
	        </div>   
        </div>
        <a class="btns_plus" data-dismiss="modal" id="dismiss_post">
			<span id="btn_plus">
				<i><%= image_tag "plus_white.png", :class =>'img_time' %></i>
			</span>
		</a>
      </div>
    </div>
  </div>
</div>

<%#モーダルtubolinks不具合修正%>
<script defer>
  $(function(){
    var display_post = $('#myModal_post').css('display');
    //モーダルが表示されているのに表示判定されてなかったら
    if(display_post === 'block'){
      //モーダルを表示状態にする
      $('body').removeClass('modal-open');
      $('.modal-backdrop').remove();
      $('#myModal_post').modal('toggle');
      //クリックでモーダルを閉じる 
      $('#dismiss_post').on("click",function(){
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
        $('#myModal_post').modal('hide'); 
      });
    }       
  });
</script>