<div class="modal bottom fade" id="myModal_half_profile">
	<div class="modal-dialog">
		<div class="a1">
          	<div class="a4">
            	<div class="d1">
              		<div class="d2"></div>
            	</div>
          	</div>
          	<div class="a6" style="text-align:center;">
          		<div style="position:relative;width:0;height:0;z-index:1;"></div>
          		<div style="width:100%;height:100%;overflow-y:scroll;-webkit-overflow-scrolling:touch;">
	          		<div style="min-height:101%;">  
		          		<div style="height:7vh;"></div>
		          		<div style="width:40%;display:inline-block;">
		          			<% if @user.image.present? %>     
					          <img data-src="<%= @user.image(:large) %>" class="lazyload_Modal_half_profile" style="width:90px;height:90px;padding:0;margin:0;border-radius:50%;object-fit:cover;background:rgba(0,0,0,0.1);">
					        <% else %>
					          <img data-src="/assets/user.svg" class="lazyload_Modal_half_profile" style="width:90px;height:90px;padding:0;margin:0;border-radius:50%;object-fit:cover;background:rgba(0,0,0,0.1);">
					        <% end %>
		          		</div>
		          		<div style="height:2vh;"></div>
		          		<div class="font_white_big" style="width:90%;display:inline-block;font-weight:bold;">
		          			<%= @user.name %>
					        <% if @user.authority == "public" %>
					        	<%= image_tag "public.svg", :style =>'icon_public' %>
					        <% end %>
		          		</div>
		          		<div style="height:7vh;"></div>
		          		<div style="width:100%;padding:0 10%;">
		          			<a href="http://twitter.com/share?url=<%= url_for(only_path: false) %>" target="blank">
								<div class="btn_half_item">  						
									<%= image_tag "twitter.svg", :style =>'width:22px;height:22px;margin-right:15px;' %>twitterでシェア
								</div>
							</a>
							<div style="height:30px"></div>
		          			<a href="http://line.me/R/msg/text/?<%= url_for(only_path: false) %>" target="blank">
								<div class="btn_half_item">  
									<%= image_tag "line.svg", :style =>'width:22px;height:22px;margin-right:15px;' %>LINEでシェア
								</div>
							</a>
							<div style="height:30px"></div>
		          			<a data-clipboard-text="<%= url_for(only_path: false) %>" id="copy">
								<div class="btn_half_item">  
									<%= image_tag "link_FAFAFA.svg", :style =>'width:22px;height:22px;margin-right:15px;' %>リンクをコピー
								</div>
							</a>		
							<div style="height:90px"></div>	
						</div>
					</div>
				</div>
          	</div>
          	<div class="a13" style="text-align:center;">
          		<a href="#" data-toggle="modal" data-dismiss="modal">
					<div class="btn_half_close">  
						<%= image_tag "ban_FAFAFA.svg", :style =>'width:20px;height:20px;margin-top:-2px;margin-right:5px;' %>キャンセル
					</div>
			  	</a>
          	</div>
        </div>
	</div>
</div>

<%#モーダルlazyload%>
<script defer>
	$('#myModal_half_profile').on("show.bs.modal", function () {
    	$('img.lazyload_Modal_half_profile').lazyload();
    });      
</script>
<%#モーダルtubolinks不具合修正%>
<script defer>
	$(function(){
		var display = $('#myModal_half_profile').css('display');
		//モーダルが表示されているのに表示判定されてなかったら
		if(display === 'block'){
			//モーダルを表示状態にする
			$('body').removeClass('modal-open');
				$('.modal-backdrop').remove();				
			$('#myModal_half_profile').modal('toggle');
			//クリックでモーダルを閉じる 
			$('#myModal_half_profile').on("click",function(){
				$('body').removeClass('modal-open');
			  	$('.modal-backdrop').remove();
				$('#myModal_half_profile').modal('hide'); 
			});
		}				
	});
</script>
<%#クリップボード%>
<script defer src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.8/clipboard.min.js"></script>
<%#コピーのJS%>
<script defer>
	$(function(){
	  var clipboard = new Clipboard('#copy');
	  clipboard.on('success', function(e) {
	    console.info('Trigger:', e.trigger);
	    alert('コピーできました');
	  });
	  clipboard.on('error', function(e) {
	    console.error('Trigger:', e.trigger);
	    alert('このブラウザでは対応していません');
	  });
  	});
</script>	  