<div class="modal bottom fade" id="myModal_half_share_<%= post.id %>">
	<div class="modal-dialog">
		<div class="a1">
          	<div class="a4">
            	<div class="d1">
              		<div class="d2" style="background:rgba(12,12,12,1);"></div>
            	</div>
          	</div>
          	<div class="a6" style="text-align:center;">
          		<div style="position:relative;width:0;height:0;z-index:1;"></div>
          		<div style="width:100%;height:100%;overflow-y:scroll;-webkit-overflow-scrolling:touch;"> 
          			<div style="min-height:101%;"> 
		          		<div style="height:30px"></div>
		          		<div style="width:40%;display:inline-block;">
		          			<% if post.image_url.blank? %>
								<img data-src="/assets/<%= post.category %>.jpg" class="lazyload_half_modal_<%= post.id %>" style="width:100%;height:auto;border-radius:5px;">
							<% else %>	
								<% if post.category == "movie" || post.category == "tv" %>
									<% @poster_show = post.image_url.sub(/original/, 'w500') %>
								<% end %>
								<% if post.category == "book" || post.category == "comic" %>
									<% if post.api == "itunes" %>
										<% @poster_show = post.image_url.sub(/1000x1000bb/, '500x500bb') %>
									<% else %>
										<% @poster_show = post.image_url.sub(/jpg/, 'jpg?_ex=500x500') %>
									<% end %>
								<% end %>
								<% if post.category == "music" %>
									<% @poster_show = post.image_url.sub(/1000x1000bb/, '500x500bb') %>
								<% end %>
								<img data-src="<%= @poster_show %>" class="lazyload_half_modal_<%= post.id %>" style="width:100%;height:auto;border-radius:5px;">
							<% end %>
		          		</div>
		          		<div style="height:2vh;"></div>
		          		<div class="font_white_big" style="width:90%;display:inline-block;font-weight:bold;">
		          			<%= post.title %>
		          		</div>
		          		<div style="height:30px"></div>
		          		<div style="width:100%;padding:0 10%;">
		          			<a href="http://twitter.com/share?url=<%= root_url(only_path: false) %>post/<%= post.id %>" target="_blank">
								<div class="btn_half_item">  						
									<%= image_tag "twitter.svg", :style =>'width:22px;height:22px;margin-right:15px;border-radius:50%;' %>Twitter
								</div>
							</a>
							<div style="height:30px"></div>
							<a href="https://www.facebook.com/sharer/sharer.php?u=<%= root_url(only_path: false) %>post/<%= post.id %>" target="_blank">
								<div class="btn_half_item">  						
									<%= image_tag "facebook.svg", :style =>'width:22px;height:22px;margin-right:15px;border-radius:50%;' %>Facebook
								</div>
							</a>
							<div style="height:30px"></div>
		          			<a href="http://line.me/R/msg/text/?<%= root_url(only_path: false) %>post/<%= post.id %>" target="_blank">
								<div class="btn_half_item">  
									<%= image_tag "line.svg", :style =>'width:22px;height:22px;margin-right:15px;border-radius:50%;' %>LINE
								</div>
							</a>
							<div style="height:30px"></div>
		          			<span data-clipboard-text="<%= root_url(only_path: false) %>post/<%= post.id %>" id="copy_<%= post.id %>">
								<div class="btn_half_item">  
									<%= image_tag "link_FAFAFA.svg", :style =>'width:16px;height:16px;margin-right:15px;margin-left:5px;' %>リンクをコピー
								</div>
							</span>	
							<div style="height:90px"></div>	
						</div>
					</div>
				</div>
          	</div>
          	<div class="a13" style="text-align:center;">
          		<a href="#" data-toggle="modal" data-dismiss="modal">
					<div class="btn_half_close">  
						<%= image_tag "ban_FAFAFA.svg", :style =>'width:20px;height:20px;margin-top:-2px;margin-right:5px;' %>キャンセル
					</div>
			  	</a>
          	</div>
        </div>
	</div>
</div>

<%#モーダルlazyload%>
<script defer>
	$('#myModal_half_share_<%= post.id %>').on("show.bs.modal", function () {
    	$('img.lazyload_half_modal_<%= post.id %>').lazyload();
    });      
</script>
<%#モーダルtubolinks不具合修正%>
<script defer>
	$(function(){
		var display_<%= post.id %> = $('#myModal_half_share_<%= post.id %>').css('display');
		//モーダルが表示されているのに表示判定されてなかったら
		if(display_<%= post.id %> === 'block'){
			//モーダルを表示状態にする
			$('body').removeClass('modal-open');
				$('.modal-backdrop').remove();				
			$('#myModal_half_share_<%= post.id %>').modal('toggle');
			//クリックでモーダルを閉じる 
			$('#myModal_half_share_<%= post.id %>').on("click",function(){
				$('body').removeClass('modal-open');
			  	$('.modal-backdrop').remove();
				$('#myModal_half_share_<%= post.id %>').modal('hide'); 
			});
		}				
	});
</script>
<%#コピーのJS%>
<script defer>
	$(function(){
	  var clipboard = new Clipboard('#copy_<%= post.id %>');
	  clipboard.on('success', function(e) {
	    console.info('Trigger:', e.trigger);
	    alert('コピーできました');
	  });
	  clipboard.on('error', function(e) {
	    console.error('Trigger:', e.trigger);
	    alert('このブラウザでは対応していません');
	  });
  	});
</script>	  