<div class="bar_top">
  <div class="bar_top_in01">
    <div style="float:left;">
      <%= link_to root_path do %>
      <div style="padding:12px 5px 0px 10px;color:rgba(39,134,160,0.8);font-size:20px;">
        TAVORE <%= image_tag "alpha.png", :style =>'width:10px;height:10px;margin:2px 0px 0px -3px;' %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="bar_top_in02">
    <% if user_signed_in? %>
      <div style="float:right;padding:10px 15px 0px 0px;">
        <%= link_to "/users/#{current_user.id}/collection" do %>
          <%= image_tag "test25.png", :style =>'width:30px;height:30px;' %>
        <% end %>
      </div>
      <div style="float:right;padding:10px 15px 0px 0px;">
        <a href="" data-toggle="modal" data-target="#myModal_dashbord">
            <%= image_tag "user09.png", :class =>'img_icon01' %>
        </a>
      </div>
      <% if current_user.requesters.count >= 1 %>
        <div style="float:right;padding:13.5px 15px 0px 0px;">
          <a href="" data-toggle="modal" data-target="#myModal_dashbord">            
            <%= image_tag "bell.png", :style =>'width:25px;height:25px;' %>
          </a>
        </div>
      <% end %>
    <% end %>
  </div>
</div>


