<div class="bar_top">
  <div class="bar_top_in01">
    <div style="float:left;">
      <%= link_to root_path do %>
      <div style="padding:12px 5px 0px 10px;color:rgba(39,134,160,0.8);font-size:20px;">
        TAVORE <%= image_tag "alpha.png", :style =>'width:10px;height:10px;margin:2px 0px 0px -3px;' %>
      </div>
      <% end %>
    </div>
  </div>
  <div class="bar_top_in02">
    <% if user_signed_in? %>
      <div style="float:right;padding:10px 15px 0px 0px;">
        <a href="" data-toggle="modal" data-target="#myModal_profile">
          <%= image_tag "user09.png", :class =>'img_icon01' %>
        </a>
      </div>
      <div style="float:right;padding:12px 18px 0px 0px;">
        <%= link_to "/users/#{current_user.id}/collection" do %>
          <%= image_tag "test25.png", :style =>'width:27px;height:27px;' %>
        <% end %>
      </div>
    <% else %>
      <div style="float:right;padding:17px 10px 0px 0px;font-size:12px;color:rgba(39,134,160,0.8);">
        <a href="" data-toggle="modal" data-target="#myModal_using">
          使い方
        </a>
      </div>
      <div style="float:right;padding:17px 10px 0px 0px;font-size:12px;color:rgba(39,134,160,0.8);">
        <a href="" data-toggle="modal" data-target="#myModal_what">
          tavoreとは
        </a>
      </div>
    <% end %>
  </div>
</div>


<% unless user_signed_in? %>

<div class="modal fade" id="myModal_what">
  <div class="height_modal"></div>
    <div class="modal-dialog">
      <div class="a1">
        <div class="a4">
          <div class="d1">
            <div class="d5"></div>
          </div>
        </div>
        <div class="a5">
          <div class="e1">
            <div class="e4">
              <div>
                <%= image_tag "tavore_logo_01.png", :style =>'width:60px;height:60px;' %>
              </div>
              <div style="font-size:20px;">
                TAVORE
              </div>
              <div style="height:3vh;"></div>
              <div style="font-size:15px;margin-top:4vh;">
                Netflixやspotifyによって、
                <br>僕達はこれまでよりも気軽に作品に触れることができるようになった。
              </div>
              <div style="font-size:15px;margin-top:4vh;">
                毎日、誰かがつくった作品を消費することができる幸せな時代。
              </div>
              <div style="font-size:15px;margin-top:4vh;">
                そんな作品達との出会いを振り返れる場所。
              </div>
              <div style="font-size:15px;margin-top:4vh;">
                作品を愛し、創る人を敬い、自分を大切にする。
                <br>そんな人の場所でありたい。
              </div>
              <div style="height:12vh;"></div>
            </div>
            <div class="e5">
              <div class="pro19">
                <a href="" data-dismiss="modal">
                  <%= image_tag "close_gray.png", :class =>'img_left02' %>
                </a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="myModal_using">
  <div class="height_modal"></div>
  <div class="modal-dialog">
    <div class="slideshow">
      <input type="radio" name="slideshow" id="switch1" checked>
      <input type="radio" name="slideshow" id="switch2">
      <input type="radio" name="slideshow" id="switch3">
      <input type="radio" name="slideshow" id="switch4">
      <input type="radio" name="slideshow" id="switch5">
      <div class="slideContents">
        <section>
          <div class="base04">
            <span>
              <div class="layer12">
              </div> 
              <div class="layer11">
              </div>                  
              <div class="layer10">
                <div  style="font-size:20px;margin-bottom:5vh;">
                  これまでにないコレクションSNS
                </div>
                <div style="width:65%;margin:0 auto;">
                  <%= image_tag "using01.PNG", :class =>'img_lavoro11' %>
                </div>
              </div>   
            </span>
          </div>
        </section>   
        <section>
          <div class="base04">
            <span>
              <div class="layer12">
              </div>
              <div class="layer11">
              </div>                  
              <div class="layer10">
                <div  style="font-size:20px;margin-bottom:5vh;">
                  映画、本、音楽に分けて記録
                </div>
                <div style="width:65%;margin:0 auto;">
                  <%= image_tag "using02.PNG", :class =>'img_lavoro11' %>
                </div>
              </div>  
            </span>
          </div>
        </section> 
        <section>
          <div class="base04">
            <span>
              <div class="layer12">
              </div>
              <div class="layer11">
              </div>                  
              <div class="layer10">
                <div  style="font-size:20px;margin-bottom:5vh;">
                  その時、感じたことを残そう
                </div>
                <div style="width:65%;margin:0 auto;">
                  <%= image_tag "using05.PNG", :class =>'img_lavoro11' %>
                </div>
              </div>  
            </span>
          </div>
        </section>     
        <section>
          <div class="base04">
            <span>
              <div class="layer12">
              </div>
              <div class="layer11">
              </div>                  
              <div class="layer10">
                <div  style="font-size:20px;margin-bottom:5vh;">
                  友達の投稿から新しい作品を発見
                </div>
                <div style="width:65%;margin:0 auto;">
                  <%= image_tag "using03.PNG", :class =>'img_lavoro11' %>
                </div>
              </div> 
            </span>
          </div>
        </section>   
        <section>
          <div class="base04">
            <span>
              <div class="layer12">
              </div>
              <div class="layer11">
              </div>                  
              <div class="layer10">
                <div  style="font-size:20px;margin-bottom:5vh;">
                  カテゴリーから作品を探しやすく
                </div>
                <div style="width:65%;margin:0 auto;">
                  <%= image_tag "using04.PNG", :class =>'img_lavoro11' %>
                </div>
              </div>   
            </span>
          </div>
        </section>        
      </div>
      <div class="arrow prev">
        <label for="switch1"><%= image_tag "left_gray.png", :class =>'img_left02' %></label>
        <label for="switch2"></label>
        <label for="switch3"></label>
        <label for="switch4"></label>
        <label for="switch5"></label>
      </div>
      <div class="down">
        <a href="" data-dismiss="modal">
          <%= image_tag "close_gray.png", :class =>'img_left02' %>
        </a>
      </div>
      <div class="arrow next">
        <label for="switch1"><%= image_tag "right_gray.png", :class =>'img_left02' %></label>
        <label for="switch2"></label>
        <label for="switch3"></label>
        <label for="switch4"></label>
        <label for="switch5"></label>
      </div>
    </div>
  </div>
</div>

<% end %>

