<div class="bar_top">
  <div style="display:inline-block;width:50%;height:50px;">
    <div style="float:left;">
      <%= link_to root_path do %>
      <div style="padding:10px 5px 0px 10px;color:rgba(39,134,160,0.8);font-size:20px;">
        TAVORE <%= image_tag "beta.svg", :style =>'width:15px;height:15px;margin:2px 0px 0px -6px;opacity:0.8;' %>
      </div>
      <% end %>
    </div>
  </div>
  <div style="display:inline-block;width:50%;height:50px;">
    <% if user_signed_in? %>
      <div style="float:right;padding:10px 10px 0px 0px;">
        <%= link_to "/#{current_user.username}" do %>
          <%= image_tag "user.svg", :style =>'width:26px;height:26px;' %>
        <% end %>
      </div>
      <% if request.fullpath == "/users/notifications" %>
        <div style="float:right;padding:12px 10px 0px 0px;">
          <%= link_to "/users/notifications" do %>
            <%= image_tag "bell_777777.svg", :style =>'width:22px;height:22px;' %>
          <% end %>
        </div>
      <% else %>
        <% if Notification.where(user_id: current_user.id,read: false).size >= 1 %>
          <div style="float:right;padding:12px 10px 0px 0px;">
            <%= link_to "/users/notifications" do %>
              <%= image_tag "bell_FB473E.svg", :style =>'width:22px;height:22px;' %>
            <% end %>
          </div>
        <% else %>
          <div style="float:right;padding:12px 10px 0px 0px;">
            <%= link_to "/users/notifications" do %>
              <%= image_tag "bell_777777.svg", :style =>'width:22px;height:22px;' %>
            <% end %>
          </div>
        <% end %>
      <% end %>
      <div style="float:right;padding:12px 10px 0px 0px;">
        <%= link_to "/users/user" do %>
          <%= image_tag "search_777777.svg", :style =>'width:22px;height:22px;' %>
        <% end %>
      </div>
    <% else %>
      <div style="float:right;padding:15px 10px 0px 0px;font-size:12px;">
        <a href="#" data-toggle="modal" data-target="#myModal_sign_up" style="color:rgba(5,98,123,1);">
          Sign up
        </a>
      </div>
      <div style="float:right;padding:15px 5px 0px 0px;font-size:12px;color:rgba(5,98,123,1);">
        /
      </div>
      <div style="float:right;padding:15px 5px 0px 0px;font-size:12px;">
        <a href="#" data-toggle="modal" data-target="#myModal_sign_in" style="color:rgba(5,98,123,1);">
          Sign in
        </a>
      </div>
    <% end %>
  </div>
</div>


<% unless user_signed_in? %>
  <%#サインインモーダル%>
  <div class="modal bottom fade" id="myModal_sign_in">
    <div class="modal-dialog">
      <div class="a1">
        <div class="a4">
          <div class="d1">
            <div class="d2"></div>
          </div>
        </div>
        <div class="a7">
            <a href="#" data-toggle="modal" data-dismiss="modal" id="dismiss_sign_in">
              <div style="padding:20px;">
                <%= image_tag "cross_FAFAFA.svg", :style =>'width:16px;height:16px;opacity:0.4;' %>
              </div>
            </a>  
        </div>
        <div class="a8" style="text-align:center;"> 
          <div class="font_white_big">
            Sign in
          </div>
          <div class="gogo">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= f.email_field :email,placeholder: "email", required: "", autofocus: true %>
              <%= f.password_field :password,placeholder: "password", required: "" %>
              <div style="height:3vh;"></div>
              <%= f.submit "完了",class:"btn_session" %>
            <% end %>
          </div>  
          <div style="height:4vh;"></div>
          <div class="inline_block_middle">
            <%= link_to new_user_password_path do %>
              <div class="font_gray_min">
                パスワードを忘れたら
              </div>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
  <%#モーダルtubolinks不具合修正(サインインモーダル)%>
  <script defer>
  $(function(){
    var display_post = $('#myModal_sign_in').css('display');
    //モーダルが表示されているのに表示判定されてなかったら
    if(display_post === 'block'){
      //モーダルを表示状態にする
      $('body').removeClass('modal-open');
      $('.modal-backdrop').remove();
      $('#myModal_sign_in').modal('toggle');
      //クリックでモーダルを閉じる 
      $('#dismiss_sign_in').on("click",function(){
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
        $('#myModal_sign_in').modal('hide'); 
      });
    }       
  });
  </script>
  <%#サインアップモーダル%>
  <div class="modal  bottom fade" id="myModal_sign_up">
    <div class="modal-dialog">
      <div class="a1">
        <div class="a4">
          <div class="d1">
            <div class="d2"></div>
          </div>
        </div>
        <div class="a7">
            <a href="#" data-toggle="modal" data-dismiss="modal" id="dismiss_sign_up">
              <div style="padding:20px;">
                <%= image_tag "cross_FAFAFA.svg", :style =>'width:16px;height:16px;opacity:0.4;' %>
              </div>
            </a>  
        </div>
        <div class="a8" style="text-align:center;">  
        <div class="font_white_big">
          Sign up
        </div>
        <div class="gogo">
          <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
            <%= f.text_field :name,placeholder: "name", required: "", autofocus: true %>
            <%= f.email_field :email,placeholder: "email", required: "" %>
            <%= f.password_field :password,placeholder: "password", required: "" %>
            <%= f.password_field :password_confirmation,:placeholder => 'password confirmation', required: "" %>
            <div style="height:2vh;"></div>
            <%= f.submit "完了",class:"btn_session" %>
          <% end %>
        </div>
        <div style="height:2vh;"></div>
        <div class="font_gray_min" style="padding:0 14%;text-align:left;">
          アカウントを作成することで,TAVOREの
          <%= link_to "/users/terms" do %>
            利用規約
          <% end %>
          と
          <%= link_to "/users/policy" do %>
            プライバシーポリシー
          <% end %>
          に同意されたものとします。
        </div>      
      </div>
    </div>
  </div>
  <%#モーダルtubolinks不具合修正(サインインモーダル)%>
  <script defer>
  $(function(){
    var display_post = $('#myModal_sign_up').css('display');
    //モーダルが表示されているのに表示判定されてなかったら
    if(display_post === 'block'){
      //モーダルを表示状態にする
      $('body').removeClass('modal-open');
      $('.modal-backdrop').remove();
      $('#myModal_sign_up').modal('toggle');
      //クリックでモーダルを閉じる 
      $('#dismiss_sign_up').on("click",function(){
        $('body').removeClass('modal-open');
        $('.modal-backdrop').remove();
        $('#myModal_sign_up').modal('hide'); 
      });
    }       
  });
  </script>
<% end %>