<% if user_signed_in? %>
  <div class="modal fade" id="myModal_profile">
    <div class="height_modal"></div>
      <div class="modal-dialog">
        <div class="a1">
          <div class="a4">
            <div class="d1">
              <%= image_tag "movie01.jpg", :class =>'img_lavoro04' %>
              <div class="d2"></div>
            </div>
          </div>
          <div class="a5">
            <div class="e1">
              <div class="e2">
                <div style="font-size:20px;text-align:center;">
                  <% if current_user.image.blank?  %>
                    <%= image_tag "user09.png", :class =>'img_user08' %>
                  <% else %>
                    <%= image_tag current_user.image, :class => "img_user08" %>
                  <% end %>
                </div>
                <div style="font-size:18px;text-align:center;margin-top:10px;">
                  <%= current_user.name %>
                </div>
                <div style="height:2vh;"></div>
                <div style="text-align:center;width:100%;">
                  <div style="display:inline-block;">
                    <%= link_to "/users/following" do %>
                      <div style="font-size:12px;color:rgba(220,220,220,0.9);">
                        <%= current_user.followings.count %> フォロー
                      </div> 
                    <% end %>
                  </div>
                  <div style="display:inline-block;width:10%;">
                  </div>
                  <div style=";display:inline-block;">
                    <%= link_to "/users/follower" do %>
                      <div style="font-size:12px;color:rgba(220,220,220,0.9);">
                        <%= current_user.followers.count %> フォロワー
                      </div> 
                    <% end %>
                  </div>
                </div>
                <div style="height:5vh;"></div>
                <%= link_to edit_user_registration_path do %>
                  <div style="font-size:10px;text-align:center;color:rgba(39,134,160,1);">
                    <i class="fas fa-pen"></i> プロフィールを編集
                  </div>
                <% end %>
                <div style="height:10vh;"></div>
                <div style="text-align:center;width:100%;">
                  <div class="pro20">
                    <%= link_to "/users/user" do %>
                      <div>
                        <%= image_tag "test32.png", :style =>'width:30px;height:30px;' %>
                      </div>
                      <div style="font-size:10px;margin-top:10px;color:#FAFAFA;">
                        友達を探す
                      </div>
                    <% end %>
                  </div>
                  <div class="pro20">
                    <%= link_to "/users/follow_request" do %>
                      <div>
                        <%= image_tag "test33.png", :style =>'width:28px;height:28px;padding:1px;' %>
                      </div>
                      <div style="font-size:10px;margin-top:10px;color:#FAFAFA;">
                        <% @requesters_i = current_user.requesters.count %>
                        <% if @requesters_i >= 1 %>
                          <span style="color:rgba(251, 71, 71, 0.85);">
                            <%= @requesters_i %>
                          </span>
                        <% end %>
                        リクエスト
                      </div>
                    <% end %>
                  </div>
                  <div class="pro20">
                    <%= link_to "/users/configuration" do %>
                      <div>
                        <%= image_tag "test24.png", :style =>'width:30px;height:30px;' %>
                      </div>
                      <div style="font-size:10px;margin-top:10px;color:#FAFAFA;">
                        設定
                      </div>
                    <% end %>
                  </div>
                </div>
                <div style="height:10vh;"></div>
                <div style="text-align:center;width:100%;">
                  <a href="" data-dismiss="modal">
                    <%= image_tag "close_blue.png", :class =>'img_left02' %>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>