<% if user_signed_in? %>
  <div class="modal fade" id="myModal_profile">
    <div class="height_modal"></div>
      <div class="modal-dialog">
        <div class="a1">
          <div class="a4">
            <div class="d1">
              <%= image_tag "movie01.jpg", :class =>'img_lavoro04' %>
            </div>
          </div>
          <div class="a5">
            <div class="e1">
              <div class="e2">
                <div style="font-size:20px;text-align:center;">
                  <% if current_user.image.blank?  %>
                    <%= image_tag "user09.png", :class =>'img_user08' %>
                  <% else %>
                    <%= image_tag current_user.image, :class => "img_user08" %>
                  <% end %>
                </div>
                <div style="font-size:20px;text-align:center;">
                  <%= current_user.name %>
                </div>
                <div style="height:2vh;"></div>
                <div style="text-align:center;width:100%;">
                  <div style="font-size:10px;display:inline-block;">
                    29 フォロー 
                  </div>
                  <div style="display:inline-block;width:10%;">
                  </div>
                  <div style="font-size:10px;display:inline-block;">
                    30 フォロワー
                  </div>
                </div>
                <div style="height:5vh;"></div>
                <%= link_to edit_user_registration_path do %>
                  <div style="font-size:10px;text-align:center;color:rgba(39,134,160,1);">
                    <i class="fas fa-pen"></i> プロフィールを編集
                  </div>
                <% end %>
                <div style="height:10vh;"></div>
                <div style="text-align:center;width:100%;">
                  <div class="pro20">
                    <%= link_to "/users/user" do %>
                      <%= image_tag "test26.png", :style =>'width:30px;height:30px;' %>
                      <div style="font-size:10px;margin-top:5px;color:#FAFAFA;">
                        友達を検索
                      </div>
                    <% end %>
                  </div>
                  <div class="pro20">
                    <%= link_to "/users/#{current_user.id}/collection" do %>
                      <%= image_tag "test25.png", :style =>'width:30px;height:30px;' %>
                      <div style="font-size:10px;margin-top:5px;color:#FAFAFA;">
                        自分の投稿
                      </div>
                    <% end %>
                  </div>
                  <div class="pro20">
                    <%= link_to "/users/configuration" do %>
                      <%= image_tag "test24.png", :style =>'width:30px;height:30px;' %>
                      <div style="font-size:10px;margin-top:5px;color:#FAFAFA;">
                        設定
                      </div>
                    <% end %>
                  </div>
                </div>
                <div style="height:10vh;"></div>
                <div style="text-align:center;width:100%;">
                  <a href="" data-toggle="modal" data-dismiss="modal">
                    <%= image_tag "close_blue.png", :class =>'img_left02' %>
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
<% end %>