<div class="<%= 'test_radio_right' if i % 3 == 0 %> <%= 'test_radio' if i % 3 != 0 %>">
	<%= link_to "/works/post/#{post.id}" do %>
		<% if post.image_url.blank? %>
			<img data-src="/assets/nothing01.jpg" class="img_myboom swiper-lazy">
		<% else %>									
			<% if post.category == "movie" || post.category == "tv" %>
				<% @image_url = post.image_url.sub(/original/, 'w300') %>
			<% end %>
			<% if post.category == "book" || post.category == "comic" %>
				<% if post.api == "itunes" %>
					<% @image_url = post.image_url.sub(/1000x1000bb/, '300x300bb') %>
				<% else %>
					<% @image_url = post.image_url.sub(/jpg/, 'jpg?_ex=300x300') %>
				<% end %>
			<% end %>
			<% if post.category == "music" %>
				<% @image_url = post.image_url.sub(/1000x1000bb/, '300x300bb') %>
			<% end %>
			<img data-src="<%= @image_url %>" class="img_myboom swiper-lazy">
		<% end %>
		<span>
			<div class="font_category_min">
				<% if post.category == "movie" %>
					映画
				<% end %>
				<% if post.category == "tv" %>
					テレビ
				<% end %>
				<% if post.category == "book" %>
					ブック
				<% end %>
				<% if post.category == "comic" %>
					コミック
				<% end %>
				<% if post.category == "music" %>
					ミュージック
				<% end %>
			</div>
			<div class="contain_title">
				<div class="font_title_min">
					<%= post.title %>
				</div>
			</div>
		</span>
	<% end %>
</div>