<div class="inline_block_top" style="width:45px;">
	<%= link_to "/#{post.user.username}" do %>
		<% if post.user.image.present? %>
            <img data-src="<%= post.user.image(:medium) %>" class="lazyload" style="width:35px;height:35px;border-radius:50%;object-fit:cover;background:rgba(0,0,0,0.1);box-shadow:1px 1px 5px 2px rgba(0,0,0,0.2);">
        <% else %>
            <img data-src="/assets/user.jpg" class="lazyload" style="width:35px;height:35px;border-radius:50%;object-fit:cover;background:rgba(0,0,0,0.1);box-shadow:1px 1px 5px 2px rgba(0,0,0,0.2);">
        <% end %>
    <% end %>
</div>
<div class="inline_block_top" style="width:calc(100% - 45px);padding-right:10px;">
	<%= link_to "/post/#{post.id}" do %>
		<div style="height:5px;"></div>
  		<div class="inline_block_middle" style="font-size:12px;color:#FAFAFA;">
	  		<%= post.user.name %>
	  		<% if post.user.authority == "public" %>
            	<img data-src="/assets/public.svg" class="icon_public_min lazyload">
            <% end %>
        </div>
        <div class="inline_block_middle" style="font-size:10px;color:#999999;padding-left:10px;">
	  		<% @seconds = (Time.now - post.created_at).round  %>
			<% if @seconds <= 3600 %>
				- <%= @seconds / 60 %>分前
			<% else %>
				<% if @seconds <= 86400 %>
						- <%= @seconds / (60 * 60) %>時間前
				<% else %>
					<% if @seconds <= 604800 %>
						- <%= @seconds / (60 * 60 * 24) %>日前
					<% else %>
						- <%= post.created_at.strftime('%m月%d日') %>
					<% end %>
				<% end %>
			<% end %>
	  	</div>		
    	<div style="height:3px;"></div>
	  	<div style="font-size:11px;color:#FAFAFA;opacity:0.9;">
	  		<% if post.review == "bookmark" %>
				<% if post.category == "movie" || post.category == "tv" %>
					観たいです
				<% end %>
				<% if post.category == "book" || post.category == "comic" %>
					読みたいです
				<% end %>
				<% if post.category == "music" %>
					聴きたいです
				<% end %>
			<% end %>
			<% if post.review == "doing" %>
				<% if post.category == "movie" || post.category == "tv" %>
					観ています
				<% end %>
				<% if post.category == "book" || post.category == "comic" %>
					読んでいます
				<% end %>
				<% if post.category == "music" %>
					聴いています
				<% end %>
			<% end %>
			<% if post.review == "good" %>
				<% if post.category == "movie" || post.category == "tv" %>
					観ました
				<% end %>
				<% if post.category == "book" || post.category == "comic" %>
					読みました
				<% end %>
				<% if post.category == "music" %>
					聴きました
				<% end %>
			<% end %>
			<% if post.review == "favorite" %>
				<img data-src="/assets/star_F8C55A.svg" class="icon_review_min lazyload">おすすめしています
			<% end %>
			<% if post.review == "bad" %>
				<img data-src="/assets/ban_FB473E.svg" class="icon_review_min lazyload">おすすめしていません
			<% end %>
	  	</div>
  		<% if post.description.present? %>
  			<div style="height:10px;"></div>
  			<div style="font-size:11.5px;color:#FAFAFA;opacity:0.9;line-height:1.2;">	  			
  				<%= safe_join(post.description.split("\n"), tag(:br)) %>	  			
			</div>
		<% end %>
		<div style="height:5px;"></div>
	<% end %>
</div>