<script defer src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.8/clipboard.min.js"></script>

<div class="bar_post">			
	<div style="">
		<div class="inline_block_middle" style="width:15%;">
			<div style="text-align:left;padding-left:10px;">
				<a href="javascript:void(0);" onclick="window.history.back();">
		        	<%= image_tag "left_C2C2C2.svg", :style =>'width:15px;height:15px;' %>
		        </a>										
			</div>
		</div>
		<div class="inline_block_middle" style="width:70%;">
			<div class="contain_title02" style="text-align:center;">
				<div style="font-size:14px;color:#c2c2c2;">
					友達を招待
				</div>
			</div>
		</div>
		<div class="inline_block_middle" style="width:15%;">
			<div style="text-align:right;">							
			</div>
		</div>
	</div>
</div>

<div class="main">
	<div class="block_side">
	</div>
	<div class="block_main">
		<div class="a1">
          <div class="a4">
            <div class="d1">    
           	  <%= image_tag "invitation.jpg", :class =>'img_myboom_blur' %>
              <div class="d3"></div>
            </div>
          </div>
          <div class="a6">
          		<div style="height:50px;"></div>
          		<div style="height:40px;"></div>
          		<div style="height:5vh;"></div>
          		<div class="font_white_big" style="padding-left:15px;">
          			How to invite
          		</div>
          		<div style="height:1vh;"></div>
          		<div class="font_white_min" style="padding-left:15px;padding-right:15px;color:#b4b4b4">
          			招待URLを発行して教えてあげることで
          			<br>あなたの友達はTAVOREを始めることができます
          		</div>
          		<div style="height:5vh;"></div>
          		<div class="font_white_big" style="padding-left:15px;">
          			Invitation code
          		</div>
          		<div style="height:1vh;"></div>
          		<div class="font_white_min" style="padding-left:15px;padding-right:15px;color:#b4b4b4">
          			招待URLコード
          		</div>
          		<div style="height:3vh;"></div>
          		<div class="horizontal_scroll">	
          			<div class="scroll_item01">	
          				<%= form_for @invitation do |f| %> 
							<button type="submit" data-confirm="招待URLを発行しますか？" style="width:100%;height:100%;">
							  	<div class="card01" style="background:rgba(220,220,220,0.15);">
							  		<span>
									  	<%= image_tag "add_FAFAFA.svg", :style =>'width:40px;height:40px;opacity:0.7;' %>
									  	<div style="font-size:10px;color:#FAFAFA;opacity:0.7;margin-top:15px;">
									  		招待URLを発行する
									  	</div>		
								  	</span>	
						  		</div>	 
					  		</button>							 
						<% end %>
					</div>
					<% if @invitations.present? %>
						<% @invitations.each.with_index(1) do |invitation, i| %>
							<% if invitation.used == true %>
								<div class="scroll_item01">				
								  	<div class="card01">
								  		<span>
										  	<%= image_tag "user.svg", :style =>'width:45px;height:45px;border-radius:50%;background:rgba(0,0,0,0.1);object-fit:cover;' %>
										  	<div style="height:10px;"></div>
										  	<div style="font-size:10px;color:#999999;">
										  		<div class="font_white_min" style="opacity:0.9;">
													<%= invitation.code %>
												</div>
												<div style="height:10px;"></div>
						          				<div class="font_white_min" style="color:#FB473E;">
													alredy used
												</div>
										  	</div>		
									  	</span>	
								  	</div>	  	
								</div>
							<% else %>
								<div class="scroll_item01">				
								  	<div class="card01">
								  		<a href="" data-clipboard-text="https://www.tavore.net/invitation/<%= invitation.code %>" id="copy<%= invitation.id %>" style="width:100%;height:100%;">
									  		<span>
											  	<%= image_tag "user.svg", :style =>'width:45px;height:45px;border-radius:50%;background:rgba(0,0,0,0.1);object-fit:cover;' %>
											  	<div style="height:10px;"></div>
											  	<div style="font-size:10px;color:#999999;">
											  		<div class="font_white_min" style="opacity:0.9;">
														<%= invitation.code %>
													</div>
													<div style="height:10px;"></div>
							          				<div class="font_white_min" style="color:#38ef7d;">
														タップでURLをコピー
													</div> 
											  	</div>		
										  	</span>	
									  	</a>  	
								  	</div>
								</div>
								<%#コピーのJS%>
								<script defer>
									$(function(){
									  var clipboard = new Clipboard('#copy<%= invitation.id %>');
									  clipboard.on('success', function(e) {
									    console.info('Trigger:', e.trigger);
									    alert('コピーできました');
									  });
									  clipboard.on('error', function(e) {
									    console.error('Trigger:', e.trigger);
									    alert('このブラウザでは対応していません');
									  });
								  	});
								</script>	  
							<% end %>
						<% end %>
					<% end %>
				</div>
				<div style="height:5vh;"></div>
          		<div class="font_white_big" style="padding-left:15px;">
          			User you invited
          		</div>
          		<div style="height:1vh;"></div>
          		<div class="font_white_min" style="padding-left:15px;padding-right:15px;color:#b4b4b4">
          			あなたが招待したユーザー
          		</div>
          		<% if @invitations.present? %>
          			<div style="height:3vh;"></div>	
          			<div class="horizontal_scroll">
	          			<% @invitations_true.each.with_index(1) do |invitation, i| %>
		          			<% if User.find_by(id: invitation.invited_user) %>	
			          			<div class="scroll_item03">	
			          				<a href="" data-toggle="modal" data-target="#myModal_profile_<%= invitation.invited_user.id %>">
				          				<%= image_tag invitation.invited_user.image(:medium), :style => "width:55px;height:55px;border-radius:50%;background:rgba(0,0,0,0.1);object-fit: cover;" %>
				          				<div style="height:10px;"></div>	
				          				<div class="font_white_min">
				          					<%= invitation.invited_user.name %>
				          				</div>
				          			</a>
			          			</div>
		          			<% end %>
	          			<% end %>
	          		</div>
	          	<% else %>
	          		<div style="height:1vh;"></div>	
          			<div class="font_white_min" style="padding-left:15px;color:#b4b4b4;">
	          			- 招待したユーザーはいません -
	          		</div>
	          	<% end %>
			  	<div style="height:5vh;"></div>	
		  </div>
        </div>	
	</div>
	<div class="block_side">
	</div>
</div>

<% if @invitations.present? %>
	<% @user_list = [] %>
	<% @invitations.each.with_index(1) do |invitation, i| %>
		<% if invitation.used == true %>
			<% if User.find_by(id: invitation.invited_user) %>
				<% unless @user_list.include?(invitation.invited_user.id) %>
					<% @user = invitation.invited_user %>
			  		<% @checkeds_i = Post.where(user_id: @user.id).where.not(review: "bookmark").size %>
			  		<% @bookmarks_i = Post.where(user_id: @user.id, review: "bookmark").size %>
					<%= render partial: 'partial/profile', locals: { user: @user, checkeds_i: @checkeds_i, bookmarks_i: @bookmarks_i } %>
					<% @user_list.push(invitation.invited_user.id) %>
				<% end %>
			<% end %>
		<% end %>
	<% end %>
<% end %>