<div class="main">
	<div class="block_side">
	</div>
	<div class="block_main">		
		<div class="a1">
	        <div class="a4">
	          <div class="d1">
	          	<div class="d6"></div>
	          </div>
	        </div>
	        <div class="a8" style="text-align:center;">
	        	<div style="height:50px;"></div>
		        <div class="invitation_card02">
					<span>	
						<% if user_signed_in? %>
							<div>
				            	<%= image_tag "tavore_logo_01.png", :style =>'width:100px;height:100px;' %>
				            </div>
				            <div style="font-size:22px;">
				                Not Found
				            </div>
				            <div style="height:3vh;"></div>
				            <div class="font_white_min">
			              		ログインしているユーザーは
			              		<br>ご利用頂けないページです
			              	</div>
			              	<div style="height:5vh;"></div>					     
						<% else %>
							<% if @invitation.present? %>
				              	<%= image_tag @invitation.user.image(:large), :class => "img_user13" %>
				              	<div style="height:1vh;"></div>
				              	<div class="font_white_max">
				              		<%= @invitation.user.name %>
				              	</div>
				              	<div style="height:4vh;"></div>		              	
					            <div class="font_white">
						            TAVORE with me!
					            </div>					
				              	<div style="height:2vh;"></div>
				              	<div class="font_white_min">
				              		<%= @invitation.user.name %>があなたを招待しています
				              	</div>
				              	<div style="height:5vh;"></div>
				              	<a href="" data-toggle="modal" data-target="#myModal_sign_up">
							        <div class="btn_register">
										アカウントを作成
									</div>
						      	</a>	
						      	<div style="height:5vh;"></div>
						    <% else %>
						    	<div>
					            	<%= image_tag "tavore_logo_01.png", :style =>'width:100px;height:100px;' %>
					            </div>
					            <div style="font-size:22px;">
					                Not Found
					            </div>
					            <div style="height:3vh;"></div>
					            <div class="font_white_min">
				              		この招待コードは存在しないか
				              		<br>すでに使用されています
				              	</div>				              	
				              	<div style="height:5vh;"></div>
						    <% end %>
						<% end %>
				    </span>
			    </div>
	        </div>
		</div>		
	</div>
	<div class="block_side">
	</div>
</div>


<% unless user_signed_in? %>
	<% if @invitation.present? %>
		<%#サインアップモーダル%>
		<div class="modal bottom fade" id="myModal_sign_up">
		  <div class="height_modal"></div>
		    <div class="modal-dialog">
		      <div class="a1">
		        <div class="a4">
		          <div class="d1">
		            <div class="d6"></div>
		          </div>
		        </div>
		        <div class="a7">
		            <a href="" data-toggle="modal" data-dismiss="modal">
		              <div style="padding:20px;">
		                <img src="/assets/cross_777777.svg" style="width:18px;height:18px;opacity:0.5;">
		              </div>
		            </a>  
		        </div>
		        <div class="a8" style="text-align:center;">  
		        	<div style="height:7vh;"></div>          	
					<div class="font_white_big">
						Sign up
					</div>
					<div class="gogo">
						<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
						  <%= hidden_field_tag :invitation_id, @invitation.id %>
						  <%= f.text_field :name,placeholder: "name", required: "", autofocus: true %>
						  <%= f.email_field :email,placeholder: "email", required: "" %>
						  <%= f.password_field :password,placeholder: "password", required: "" %>
						  <%= f.password_field :password_confirmation,:placeholder => 'password confirmation', required: "" %>
						  <div style="height:2vh;"></div>
		      			  <%= f.submit "完了",class:"btn_session" %>
						<% end %>
					</div>
					<div style="height:7vh;"></div>
					<div class="font_gray_min" style="padding:0 15%;text-align:left;">
						アカウントを作成することで,TAVOREの
						<%= link_to terms_path do %>
							利用規約
						<% end %>
						と
						<%= link_to policy_path do %>
							プライバシーポリシー
						<% end %>
						に同意されたものとします。
					</div>					
		        </div>
		      </div>
		    </div>
		  </div>
		</div>
	<% end %>
<% end %>
