<div class="main">
  <div class="block_side">
  </div>
  <div class="block_main">
    
    <div style="height:50px;"></div>
    <div class="base01">
      <span>
        <div class="layer06">
          <div class="font_white_big">
            Sign in
          </div>
          <div class="gogo">
            <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
              <%= f.email_field :email,placeholder: "email", required: "", autofocus: true %>
              <%= f.password_field :password,placeholder: "password", required: "" %>
              <div style="height:5vh;"></div>
                    <%= f.submit "完了",class:"btn_session" %>
            <% end %>
          </div>
          <%= link_to new_user_registration_path do %>
          <div class="font_gray" style="margin-top:10px;">
            アカウント作成
          </div>
        <% end %>
        </div>
      </span>
    </div>

  </div>
  <div class="block_side">
  </div>
</div>
