<%#トップバー%>
<div class="bar_top">      
  <div class="inline_block_middle" style="width:20%;">
    <div style="text-align:left;padding-left:15px;">
      <a href="javascript:void(0);" onclick="window.history.back();">
        <%= image_tag "left_FAFAFA.svg", :style =>'width:18px;height:18px;' %>
      </a>                    
    </div>
  </div>
  <div class="inline_block_middle" style="width:60%;">
    <div class="contain_title02" style="text-align:center;">
      <div style="font-size:14px;color:#FAFAFA;">
        
      </div>
    </div>
  </div>
  <div class="inline_block_middle" style="width:20%;">
    <div style="text-align:right;padding-right:15px;">             
    </div>
  </div>
</div>
<div style="height:50px;"></div>

<div class="a1" style="height:calc(100% - 50px);">
  <div class="a8" style="text-align:center;">        
    <div style="font-size:20px;color:#FAFAFA;font-weight:bolder;">
      Sign in
    </div>
    <div style="height:10px;"></div>
    <div class="form_sign">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.email_field :email,placeholder: "email", required: "", autofocus: true %>
        <%= f.password_field :password,placeholder: "password", required: "" %>
        <%= f.submit "完了",style:"width:30%;padding:0.7em 0em;color:rgba(250,250,250,1);background:rgba(5,98,123,0.5);border:solid 1px rgba(5,98,123,0.1);border-radius:2px;font-size:14px;letter-spacing:0.05em;display:inline-block;vertical-align:middle;text-align:center;box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.5);" %>
      <% end %>
    </div>  
    <div style="height:15px;"></div>
    <div class="inline_block_middle">
      <%= link_to new_user_password_path do %>
        <div style="font-size:11px;color:rgba(250,250,250,0.8);">
          パスワードを忘れたら
        </div>
      <% end %>
    </div>
    <div style="height:80px;"></div>
  <div>
</div>