<div class="bar_post">      
  <div style="">
    <div class="inline_block_middle" style="width:15%;">
      <div style="text-align:left;padding-left:10px;">
        <a href="javascript:void(0);" onclick="window.history.back();">
              <%= image_tag "left_C2C2C2.svg", :style =>'width:15px;height:15px;' %>
            </a>                    
      </div>
    </div>
    <div class="inline_block_middle" style="width:70%;">
      <div class="contain_title02" style="text-align:center;">
        <div style="font-size:14px;color:#c2c2c2;">
          ログイン
        </div>
      </div>
    </div>
    <div class="inline_block_middle" style="width:15%;">
      <div style="text-align:right;">             
      </div>
    </div>
  </div>
</div>

<div style="height:45px;"></div>
<div style="height:35px;"></div>
<div class="a1" style="height:calc(100% - 80px);">
  <div class="a8" style="text-align:center;">        
    <div class="font_white_big">
      Sign in
    </div>
    <div class="gogo">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= f.email_field :email,placeholder: "email", required: "", autofocus: true %>
        <%= f.password_field :password,placeholder: "password", required: "" %>
        <div style="height:3vh;"></div>
        <%= f.submit "完了",class:"btn_session" %>
      <% end %>
    </div>  
    <div style="height:4vh;"></div>
    <div class="inline_block_middle">
      <%= link_to new_user_password_path do %>
        <div class="font_gray_min">
          パスワードを忘れたら
        </div>
      <% end %>
    </div>
  <div>
</div>