<!DOCTYPE html>
<html>
  <head>
    <title>TAVORE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#000000">

    <!-- meta-tags -->
    <%= display_meta_tags(default_meta_tags) %>
    
    <link rel="apple-touch-startup-image" href="assets/splashes/tavore-640x1136.png" media="(device-width:320px) and (device-height:568px) and (-webkit-device-pixel-ratio:2) and (orientation:portrait)">
    <link rel="apple-touch-startup-image" href="assets/splashes/tavore-750x1334.png" media="(device-width:375px) and (device-height:667px) and (-webkit-device-pixel-ratio:2) and (orientation:portrait)">

    <!-- グーグルアナリティクス -->
    <%= analytics_init if Rails.env.production? %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    
  </head>

  <body>

  	<header>
      <%= render "partial/navbar" %>
    </header>

    <%= yield %>

  </body>
</html>
