<!DOCTYPE html>
<html>
  <head>
    <title>Tavore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  	<header>
        <div class="bar_top">
          <div class="bar_top_in01">
            <div style="float:left;padding:10px 5px 0px 10px;color:rgba(39,134,160,0.8);font-size:20px;">
              TAVORE
            </div>
          </div>
          <div class="bar_top_in02">
            <% if user_signed_in? %>
              <div style="float:right;padding:10px 10px 0px 0px;">
                <%= link_to "/users/#{current_user.id}/collection" do %>
                  <% if current_user.image %>
                    <%= image_tag current_user.image, :class => "img_user03" %>
                  <% else %>
                    <%= image_tag "user04.png", :class =>'img_user03' %>
                  <% end %>
                <% end %>
              </div>
            <% end %>
            <% if user_signed_in? %>
              <div style="float:right;padding:18px 10px 0px 0px;font-size:10px;">
                <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>  
                <%= link_to 'プロフィール変更', edit_user_registration_path %>
              </div>
            <% else %>
              <div style="float:right;padding:18px 10px 0px 0px;font-size:10px;">
                <%= link_to 'ログイン', new_user_session_path %>
              </div>
            <% end %>
          </div>
        </div>
    </header>
    <div style="margin-top:-62px;"></div>
  	<p class="notice"><%= notice %></p>
  	<p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
