<!DOCTYPE html>
<html>
  <head>
    <title>Tavore</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- meta-tags -->
    <%= display_meta_tags(default_meta_tags) %>

    <!-- グーグルアナリティクス -->
    <%= analytics_init if Rails.env.production? %>

    <%= csrf_meta_tags %>

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/Swiper/4.4.1/css/swiper.min.css">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

  	<header>
      <%= render "partial/navbar" %>
      <% if user_signed_in? %>
        <%= render "partial/dashbord" %>
      <% end %>
    </header>

    

    <%= yield %>

  </body>
</html>
