<!DOCTYPE html>
<html>
  <head>
    <title>TAVORE</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="theme-color" content="#000000">

    <!-- meta-tags -->
    <%= display_meta_tags(default_meta_tags) %>
    
    <!-- iPhone Xr (828px x 1792px) --> 
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 896px) and (-webkit-device-pixel-ratio: 2)" href="/assets/splashes/tavore-828x1792.png"> 
    <!-- iPhone X, Xs (1125px x 2436px) --> 
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 812px) and (-webkit-device-pixel-ratio: 3)" href="/assets/splashes/tavore-1125x2436.png"> 
    <!-- iPhone 8 Plus, 7 Plus, 6s Plus, 6 Plus (1242px x 2208px) --> 
    <link rel="apple-touch-startup-image" media="(device-width: 414px) and (device-height: 736px) and (-webkit-device-pixel-ratio: 3)" href="/assets/splashes/tavore-1242x2208.png"> 
    <!-- iPhone 8, 7, 6s, 6 (750px x 1334px) --> 
    <link rel="apple-touch-startup-image" media="(device-width: 375px) and (device-height: 667px) and (-webkit-device-pixel-ratio: 2)" href="/assets/splashes/tavore-750x1334.png">  
    <!-- iPhone 5 (640px x 1136px) -->
    <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px) and (-webkit-device-pixel-ratio: 2)" href="/assets/splashes/tavore-640x1136.png">

    <!-- グーグルアナリティクス -->
    <%= analytics_init if Rails.env.production? %>

    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link rel="manifest" href="/manifest.json" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    
  </head>

  <% if browser.device.mobile? %>
    <body class="direction_portrait">
      <header>
        <%= render "partial/navbar" %>
      </header>
      <%= yield %>  
    </body>
  <% else %>
    <div style="height:45px;"></div>
    <div class="a1 headline" style="height:calc(100% - 45px);">
      <div class="a8" style="text-align:center;">
        <%= image_tag "tavore_logo_01.png", :style =>'width:80px;height:80px;' %>
        <div style="font-size:14px;">
          iPhone または Android でご利用ください
        </div>
        <div style="height:15vh;"></div>
      </div>
    </div>
  <% end %>
  
</html>
